@section Css{
 <link rel="stylesheet" href="~/css/scss/slick/university.css"/>
}
<div id="LayoutWrapper" class="js-exclusiveAccessOuterWrapper">
   <div id="LayoutHero">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Study_Hero_Hero">
         <div id="Hero" class="js-Hero">
            <div class="HeroImageContainer"> <span class="HeroImage"> <span class="HeroImageDefaultWrapper"> <img fetchpriority="high" rel="preconnect" src="//monet-prtl-co.imgix.net/Shared/StudyPage/CoverImageBasicDesktop.svg" alt="Studyportals"> </span> </span> </div>
              
            </div>
         </div>
      </div>
   </div>
   <div id="LayoutContentCards">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner">
            <nav class="DesktopOnlyBlock mdc-layout-grid__cell--span-12">
               <ul class="BreadcrumbsListOnStudyPage">
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master" class="BreadCrumbLink" title="All studies">All studies</a> </li>
                  <li class="BreadCrumbsItem DisciplineListItem"> <a href="https://www.mastersportal.com/search/master/event-management" class="BreadCrumbLink" title="Event Management">Event Management</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master/event-management/europe" class="BreadCrumbLink" title="Europe">Europe</a> </li>
                  <li class="BreadCrumbsItem"> <a href="https://www.mastersportal.com/search/master/event-management/netherlands" class="BreadCrumbLink" title="Netherlands">Netherlands</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/universities/1019/wittenborg-university-of-applied-sciences.html" class="BreadCrumbLink" title="Wittenborg University of Applied Sciences">Wittenborg University of Applied Sciences</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> Business Management - Event Management </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
   <div id="LayoutGlobalAccessInitiativeBanner">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner"> </div>
      </div>
   </div>
   
   <div id="LayoutDetailedInformation">
      <div class="mdc-layout-grid GridInContainer">
         <main class="SwitchableContentContainer mdc-layout-grid__inner">
            <div id="SwitchableContent" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-desktop">
               <div class="SwitchableGroup js-content-key_facts key_facts" id="key_facts_content">
                  <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Key information</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                        <section>
                           <div id="StudyKeyFacts">
                              <h2 class="KeyFactsTitle">Key information</h2>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Duration</h3>
                                 <ul class="FactList DurationList">
                                    <li class="FactListItem">
                                       <div class="FactItemInformation FactListTitle js-durationFact"> Full-time <i class="FactListTitleArrow lnr-arrow-right"></i> </div>
                                       <ul class="FactListSubList">
                                          <li class="FactListSubListItem"> <span class="Duration" data-rewrite="true" data-period="months" data-duration="18" data-days-single="day" data-days-multiple="days" data-weeks-single="week" data-weeks-multiple="weeks" data-months-single="month" data-months-multiple="months" data-years-single="year" data-years-multiple="years" title=" 18&nbsp; months "> 18&nbsp;months </span> </li>
                                       </ul>
                                    </li>
                                    <li class="FactListItem">
                                       <div class="FactItemInformation FactListTitle"> Part-time <i class="FactListTitleArrow lnr-arrow-right"></i> </div>
                                       <ul class="FactListSubList">
                                          <li class="FactListSubListItem"> <span class="Duration" data-rewrite="true" data-period="months" data-duration="24" data-weeks-single="week" data-weeks-multiple="weeks" data-months-single="month" data-months-multiple="months" data-years-single="year" data-years-multiple="years" title=" 24 months "> 24 months </span> </li>
                                          <li class="FactListSubListItem"> Flexible </li>
                                       </ul>
                                    </li>
                                 </ul>
                              </article>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Start dates &amp; application deadlines</h3>
                                 <div id="js-StartdateContainer" class="Collapsed StartdateContainer">
                                    <ul>
                                       <li class="StartDateItem">
                                          <div class="FactItemInformation StartDateItemTime js-deadlineFact"> Starting <time data-format="MMMM YYYY" datetime="2023-08-22 00:00:00">August 2023</time> </div>
                                          <div class="Deadline">Apply anytime.</div>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="FactItemInformation MoreDeadlineDetails">
                                    <div class="FactItemInformation MoreDeadlineDetailsTitle">More details</div>
                                    <div class="FactItemInformation MoreDeadlineDetailsText">
                                       <p>6 start dates throughout the year:</p>
                                       <ul>
                                          <li>International students not in the EU: apply 6-8 weeks before entry date of choice</li>
                                          <li>EU students: 2-4 weeks before</li>
                                       </ul>
                                    </div>
                                 </div>
                              </article>
                              <article class="FactItem LanguageFact js-languageFact">
                                 <h3 class="FactItemTitle">Language</h3>
                                 <div class="Languages FactItemInformation"> English </div>
                                 <section class="EnglishRequirementsCards">
                                    <div class="CardContents EnglishCardContents IELTSCard js-CardIELTS">
                                       <div class="MainContent">
                                          <div class="ScoreLabelContainer">
                                             <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="IELTS admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> IELTS </span> </span> 
                                             <i class="InfoIcon lnr-info" data-tooltip-text="The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading)." style="position: relative;">
                                                <div class="Tooltip" style="display: none;">
                                                   <div class="TooltipInner">
                                                      The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading).
                                                   </div>
                                                   <div class="TooltipArrow"></div>
                                                </div>
                                             </i>
                                          </div>
                                          <div class="ScoreInformationContainer">
                                             <div class="ScoreContainer">
                                                <div class="Score"> <span>6.5</span> </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="ButtonContainer"> <a class="IELTSButton NavigatorButton js-showIeltsCTA" rel="nofollow noopener" target="_blank" data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;, &quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IMPACT_LEARNING_study_language_requirements_key_facts_button&quot;,&quot;event&quot;:&quot;click&quot;}" href="https://link.studyportals.com/ielts_prep_promo" data-ga-parsed="true"> Start preparing for IELTS today! </a>  </div>
                                    </div>
                                    <div class="CardContents EnglishCardContents TOEFLCard js-CardTOEFL">
                                       <div class="MainContent">
                                          <div class="ScoreLabelContainer">
                                             <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="TOEFL admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> TOEFL<sup>®</sup> </span> <span class="SubHeading">IBT</span> </span> 
                                             <i class="InfoIcon lnr-info" data-tooltip-text="The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30." style="position: relative;">
                                                <div class="Tooltip" style="display: none;">
                                                   <div class="TooltipInner">
                                                      The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30.
                                                   </div>
                                                   <div class="TooltipArrow"></div>
                                                </div>
                                             </i>
                                          </div>
                                          <div class="ScoreInformationContainer">
                                             <div class="ScoreContainer">
                                                <div class="Score"> <span>90</span> </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </section>
                              </article>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Credits</h3>
                                 <div class="FactItemInformation">90 <span title="European Credit Transfer and Accumulation System">ECTS</span> </div>
                              </article>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Delivered</h3>
                                 <div class="FactItemInformation"> On Campus </div>
                              </article>
                              <article class="FactItem Disciplines">
                                 <h3 class="FactItemTitle">Disciplines</h3>
                                 <a class="TextOnly" href="/disciplines/89/management-studies.html" title="Management Studies" target="_blank"> Management Studies </a> <a class="TextOnly" href="/disciplines/241/international-business.html" title="International Business" target="_blank"> International Business </a> <a class="TextOnly" href="/disciplines/313/event-management.html" title="Event Management" target="_blank"> Event Management </a> <a class="TextOnly LandingPageLink" href="/study-options/268452081/international-business-netherlands.html" title="View 47 other Masters in International Business in Netherlands" target="_blank"> View 47 other Masters in International Business in Netherlands </a> 
                              </article>
                           </div>
                        </section>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-description description" id="description_content">
                  <button class="ToggleButton js-contentButtons js-content-description mdc-layout-grid" data-id="description">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Overview</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:study_description" class="Module StudyPortals_Shared_Modules_Study_Description_Description">
                        <section id="StudyDescription">
                           <h2>Overview</h2>
                           <p>The Business Management - Event Management degree programme&nbsp;at the Wittenborg University of Applied Sciences&nbsp;has a practical approach in its design - through project weeks, professional enquiry and a module of professional based-learning in which students complete a short work placement often linked directly to their final project.</p>
                           <p>The programme offers a combination of master of business administration subjects and broader modules in economics and management. Through modules looking at global economics and strategic management, globalisation, society &amp; culture, the programme will enable students to further develop their deeper knowledge of business management and administration.</p>
                           <h4>Career Prospects</h4>
                           The Master of Science in Event Management is aimed at a range of students and practitioners from different backgrounds. Although the MSc programme will be suited to business professionals from a broad range of business administration fields, in all sectors and branches, it has been specifically designed for those who wish to pursue senior management positions within the events industry or as preparation for further study in the field, such as a PhD in the field of events, or in the hospitality management, tourism management or other service sector management areas.&nbsp; 
                           <aside class="SwitcherConversion"> <a href="https://www.mastersportal.com/account/?section=recommendations" title="I want to find another Master Course"> I want to find another Master Course </a> </aside>
                        </section>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-contents contents is-visible" id="contents_content">
                  <button class="ToggleButton js-contentButtons js-content-contents mdc-layout-grid" data-id="contents">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Programme structure</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:study_contents" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_Contents_Contents">
                        <article id="StudyContents">
                           <h2>Programme Structure</h2>
                           <p><strong>Modules:&nbsp;</strong></p>
                           <ul>
                              <li>Marketing Management</li>
                              <li>Globalisation, Society &amp; Culture</li>
                              <li>The World Economy</li>
                              <li>Critical Perspectives in Event Management</li>
                              <li>New Media, Marketing and Analytics</li>
                              <li>Micro Economics - Global Perspectives</li>
                              <li>Strategic Management</li>
                              <li>Event Design &amp; Management</li>
                              <li>Event Theory &amp; Practice</li>
                           </ul>
                        </article>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-requirement requirement"  id="requirement_content">
                  <button class="ToggleButton js-contentButtons js-content-requirement mdc-layout-grid" data-id="requirement">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Admission requirements</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:best_fit_incentive_academic" class="Module StudyPortals_Shared_Modules_BestFitIncentive_IncentiveAcademic">
                        <div data-v-1c1e9538="" class="ButtonContentSwitcherWidget">
                           <div data-v-1c1e9538="" class="IconWrapper">
                              <div data-v-1c1e9538="" class="BestfitIcon"><i data-v-1c1e9538="" class="Percentage lnr-bestfit-logo"></i> <i data-v-1c1e9538="" class="PlusIcon lnr-plus-inverted"></i></div>
                           </div>
                           <span data-v-1c1e9538="" class="ButtonText">
                           Check your academic match with this programme
                           </span>
                        </div>
                     </div>
                     <div data-module="Study:study_admission_requirements" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_AdmissionRequirements_AdmissionRequirements">
                        <section id="AdmissionRequirements">
                           <article id="AcademicRequirements">
                              <h2>Academic requirements</h2>
                              <div class="NoRequirements">
                                 <p class="NoRequirementsInfo">We are not aware of any academic requirements for this programme.</p>
                              </div>
                           </article>
                           <article id="EnglishRequirements">
                              <h2>English requirements</h2>
                              <section class="EnglishRequirementsCards">
                                 <div class="CardContents EnglishCardContents IELTSCard js-CardIELTS">
                                    <div class="MainContent">
                                       <div class="ScoreLabelContainer">
                                          <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="IELTS admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> IELTS </span> </span> 
                                          <i class="InfoIcon lnr-info" data-tooltip-text="The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading)." style="position: relative;">
                                             <div class="Tooltip" style="display: none;">
                                                <div class="TooltipInner">
                                                   The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading).
                                                </div>
                                                <div class="TooltipArrow"></div>
                                             </div>
                                          </i>
                                       </div>
                                       <div class="ScoreInformationContainer">
                                          <div class="ScoreContainer">
                                             <div class="Score"> <span>6.5</span> </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ButtonContainer"> <a class="IELTSButton NavigatorButton js-showIeltsCTA" rel="nofollow noopener" target="_blank" data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;, &quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IMPACT_LEARNING_study_language_requirements_button&quot;,&quot;event&quot;:&quot;click&quot;}" href="https://link.studyportals.com/ielts_prep_promo" data-ga-parsed="true"> Start preparing for IELTS today! </a>  </div>
                                 </div>
                                 <div class="CardContents EnglishCardContents TOEFLCard js-CardTOEFL">
                                    <div class="MainContent">
                                       <div class="ScoreLabelContainer">
                                          <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="TOEFL admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> TOEFL<sup>®</sup> </span> <span class="SubHeading">IBT</span> </span> 
                                          <i class="InfoIcon lnr-info" data-tooltip-text="The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30." style="position: relative;">
                                             <div class="Tooltip" style="display: none;">
                                                <div class="TooltipInner">
                                                   The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30.
                                                </div>
                                                <div class="TooltipArrow"></div>
                                             </div>
                                          </i>
                                       </div>
                                       <div class="ScoreInformationContainer">
                                          <div class="ScoreContainer">
                                             <div class="Score"> <span>90</span> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </section>
                           </article>
                           <article id="OtherRequirements">
                              <h2>Other requirements</h2>
                              <div class="OtherRequirementsContent">
                                 <div>
                                    <h3>General requirements</h3>
                                    <ul>
                                       <li>A bachelor's degree or equivalent recognised qualification.</li>
                                       <li>​Applicants are requested to provide an academic reference from their previous education institute.</li>
                                       <li>It is necessary to have obtained a bachelor's degree from the domains of business, management, economics or trade. In their bachelor's degree applicants must have completed an academic piece of work (final project or dissertation) that demonstrates a degree of academic writing and research experience.</li>
                                    </ul>
                                 </div>
                              </div>
                           </article>
                        </section>
                     </div>
                  </article>
               </div>
                <div class="SwitchableGroup js-content-work_permit work_permit" id="work_permit_content">
                  <button class="ToggleButton js-contentButtons js-content-work_permit mdc-layout-grid" data-id="work_permit">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Work permit</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:venues_switcher" class="Module StudyPortals_Shared_Modules_Study_VenuesSwitcher_VenuesSwitcher">
                        <section class="VenuesSwitcher">
                           <h2 id="VenuesSwitcherTitle"></h2>
                        </section>
                     </div>
                     <div data-module="Study:WorkPermitContent" class="Module StudyPortals_Shared_Modules_Study_WorkPermitContent_WorkPermitContent">
                        <script> const workPermitDestinationCountry = '1'; const workPermitServiceUrl = 'https://8ofylmmtn1.execute-api.eu-west-1.amazonaws.com/prd/'; </script> 
                        <section id="WorkPermitContent"> </section>
                        <div class="WebsiteLinkTabs"> </div>
                     </div>
                  </article>
               </div>
            </div>
            <div id="SwitchableContentButtons" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-desktop">
               <div id="ContentSwitcherWrapper" class="ContentSwitcherWrapper">
                  <nav id="ContentSwitcher" class="ContentSwitcher"> 
                            <button type="button" class="ContentButton js-contentButtons key_facts" id="key_facts" onclick="swith('key_facts')"> Key information </button>
                            <button type="button" class="ContentButton js-contentButtons description " id="description" onclick="swith('description')"> Overview </button>
                            <button type="button" class="ContentButton js-contentButtons contents is-active" id="contents" onclick="swith('contents')"> Programme structure </button>
                            <button type="button" class="ContentButton js-contentButtons requirement" id="requirement" onclick="swith('requirement')"> Admission requirements </button>
                            <button type="button" class="ContentButton js-contentButtons work_permit" id="work_permit" onclick="swith('work_permit')"> Work permit </button>
                        </nav>
               </div>
            </div>
         </main>
      </div>
   </div>
   @section Scripts{
       <script>
        function swith(id) {
            console.log(`${id}`);
            const collection = document.getElementById("SwitchableContent").children;
            const buttons = document.getElementById("ContentSwitcher").children;
            for (let i = 0; i < collection.length; i++) {
                collection[i].classList.remove("is-visible");
                buttons[i].classList.remove("is-active")
                console.log(collection[i]);
            }

            const menuItem=document.getElementById(id);
            const menuContent=document.getElementById(id+"_content");
            menuItem.classList.add("is-active");
            menuContent.classList.add("is-visible");
            
        }

       </script>
       
   }
  
