@section Css{
 <link rel="stylesheet" href="~/css/scss/slick/university.css"/>
}
<div id="LayoutWrapper" class="js-exclusiveAccessOuterWrapper">
   <div id="LayoutHero">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Study_Hero_Hero">
         <div id="Hero" class="js-Hero">
            <div class="HeroImageContainer"> <span class="HeroImage"> <span class="HeroImageDefaultWrapper"> <img fetchpriority="high" rel="preconnect" src="//monet-prtl-co.imgix.net/Shared/StudyPage/CoverImageBasicDesktop.svg" alt="Studyportals"> </span> </span> </div>
              
            </div>
         </div>
      </div>
   </div>
   <div id="LayoutContentCards">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner">
            <nav class="DesktopOnlyBlock mdc-layout-grid__cell--span-12">
               <ul class="BreadcrumbsListOnStudyPage">
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master" class="BreadCrumbLink" title="All studies">All studies</a> </li>
                  <li class="BreadCrumbsItem DisciplineListItem"> <a href="https://www.mastersportal.com/search/master/event-management" class="BreadCrumbLink" title="Event Management">Event Management</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master/event-management/europe" class="BreadCrumbLink" title="Europe">Europe</a> </li>
                  <li class="BreadCrumbsItem"> <a href="https://www.mastersportal.com/search/master/event-management/netherlands" class="BreadCrumbLink" title="Netherlands">Netherlands</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/universities/1019/wittenborg-university-of-applied-sciences.html" class="BreadCrumbLink" title="Wittenborg University of Applied Sciences">Wittenborg University of Applied Sciences</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> Business Management - Event Management </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
   <div id="LayoutGlobalAccessInitiativeBanner">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner"> </div>
      </div>
   </div>
   
   <div id="LayoutDetailedInformation">
      <div class="mdc-layout-grid GridInContainer">
         <main class="SwitchableContentContainer mdc-layout-grid__inner">
            <div id="SwitchableContent" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-desktop">
               <div class="SwitchableGroup js-content-key_facts" data-id="key_facts">
                  <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Key information</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                        <section>
                           <div id="StudyKeyFacts">
                              <h2 class="KeyFactsTitle">Key information</h2>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Duration</h3>
                                 <ul class="FactList DurationList">
                                    <li class="FactListItem">
                                       <div class="FactItemInformation FactListTitle js-durationFact"> Full-time <i class="FactListTitleArrow lnr-arrow-right"></i> </div>
                                       <ul class="FactListSubList">
                                          <li class="FactListSubListItem"> <span class="Duration" data-rewrite="true" data-period="months" data-duration="18" data-days-single="day" data-days-multiple="days" data-weeks-single="week" data-weeks-multiple="weeks" data-months-single="month" data-months-multiple="months" data-years-single="year" data-years-multiple="years" title=" 18&nbsp; months "> 18&nbsp;months </span> </li>
                                       </ul>
                                    </li>
                                    <li class="FactListItem">
                                       <div class="FactItemInformation FactListTitle"> Part-time <i class="FactListTitleArrow lnr-arrow-right"></i> </div>
                                       <ul class="FactListSubList">
                                          <li class="FactListSubListItem"> <span class="Duration" data-rewrite="true" data-period="months" data-duration="24" data-weeks-single="week" data-weeks-multiple="weeks" data-months-single="month" data-months-multiple="months" data-years-single="year" data-years-multiple="years" title=" 24 months "> 24 months </span> </li>
                                          <li class="FactListSubListItem"> Flexible </li>
                                       </ul>
                                    </li>
                                 </ul>
                              </article>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Start dates &amp; application deadlines</h3>
                                 <div id="js-StartdateContainer" class="Collapsed StartdateContainer">
                                    <ul>
                                       <li class="StartDateItem">
                                          <div class="FactItemInformation StartDateItemTime js-deadlineFact"> Starting <time data-format="MMMM YYYY" datetime="2023-08-22 00:00:00">August 2023</time> </div>
                                          <div class="Deadline">Apply anytime.</div>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="FactItemInformation MoreDeadlineDetails">
                                    <div class="FactItemInformation MoreDeadlineDetailsTitle">More details</div>
                                    <div class="FactItemInformation MoreDeadlineDetailsText">
                                       <p>6 start dates throughout the year:</p>
                                       <ul>
                                          <li>International students not in the EU: apply 6-8 weeks before entry date of choice</li>
                                          <li>EU students: 2-4 weeks before</li>
                                       </ul>
                                    </div>
                                 </div>
                              </article>
                              <article class="FactItem LanguageFact js-languageFact">
                                 <h3 class="FactItemTitle">Language</h3>
                                 <div class="Languages FactItemInformation"> English </div>
                                 <section class="EnglishRequirementsCards">
                                    <div class="CardContents EnglishCardContents IELTSCard js-CardIELTS">
                                       <div class="MainContent">
                                          <div class="ScoreLabelContainer">
                                             <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="IELTS admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> IELTS </span> </span> 
                                             <i class="InfoIcon lnr-info" data-tooltip-text="The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading)." style="position: relative;">
                                                <div class="Tooltip" style="display: none;">
                                                   <div class="TooltipInner">
                                                      The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading).
                                                   </div>
                                                   <div class="TooltipArrow"></div>
                                                </div>
                                             </i>
                                          </div>
                                          <div class="ScoreInformationContainer">
                                             <div class="ScoreContainer">
                                                <div class="Score"> <span>6.5</span> </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="ButtonContainer"> <a class="IELTSButton NavigatorButton js-showIeltsCTA" rel="nofollow noopener" target="_blank" data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;, &quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IMPACT_LEARNING_study_language_requirements_key_facts_button&quot;,&quot;event&quot;:&quot;click&quot;}" href="https://link.studyportals.com/ielts_prep_promo" data-ga-parsed="true"> Start preparing for IELTS today! </a>  </div>
                                    </div>
                                    <div class="CardContents EnglishCardContents TOEFLCard js-CardTOEFL">
                                       <div class="MainContent">
                                          <div class="ScoreLabelContainer">
                                             <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="TOEFL admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> TOEFL<sup>®</sup> </span> <span class="SubHeading">IBT</span> </span> 
                                             <i class="InfoIcon lnr-info" data-tooltip-text="The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30." style="position: relative;">
                                                <div class="Tooltip" style="display: none;">
                                                   <div class="TooltipInner">
                                                      The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30.
                                                   </div>
                                                   <div class="TooltipArrow"></div>
                                                </div>
                                             </i>
                                          </div>
                                          <div class="ScoreInformationContainer">
                                             <div class="ScoreContainer">
                                                <div class="Score"> <span>90</span> </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </section>
                              </article>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Credits</h3>
                                 <div class="FactItemInformation">90 <span title="European Credit Transfer and Accumulation System">ECTS</span> </div>
                              </article>
                              <article class="FactItem">
                                 <h3 class="FactItemTitle">Delivered</h3>
                                 <div class="FactItemInformation"> On Campus </div>
                              </article>
                              <article class="FactItem Disciplines">
                                 <h3 class="FactItemTitle">Disciplines</h3>
                                 <a class="TextOnly" href="/disciplines/89/management-studies.html" title="Management Studies" target="_blank"> Management Studies </a> <a class="TextOnly" href="/disciplines/241/international-business.html" title="International Business" target="_blank"> International Business </a> <a class="TextOnly" href="/disciplines/313/event-management.html" title="Event Management" target="_blank"> Event Management </a> <a class="TextOnly LandingPageLink" href="/study-options/268452081/international-business-netherlands.html" title="View 47 other Masters in International Business in Netherlands" target="_blank"> View 47 other Masters in International Business in Netherlands </a> 
                              </article>
                           </div>
                        </section>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-description" data-id="description">
                  <button class="ToggleButton js-contentButtons js-content-description mdc-layout-grid" data-id="description">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Overview</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:study_description" class="Module StudyPortals_Shared_Modules_Study_Description_Description">
                        <section id="StudyDescription">
                           <h2>Overview</h2>
                           <p>The Business Management - Event Management degree programme&nbsp;at the Wittenborg University of Applied Sciences&nbsp;has a practical approach in its design - through project weeks, professional enquiry and a module of professional based-learning in which students complete a short work placement often linked directly to their final project.</p>
                           <p>The programme offers a combination of master of business administration subjects and broader modules in economics and management. Through modules looking at global economics and strategic management, globalisation, society &amp; culture, the programme will enable students to further develop their deeper knowledge of business management and administration.</p>
                           <h4>Career Prospects</h4>
                           The Master of Science in Event Management is aimed at a range of students and practitioners from different backgrounds. Although the MSc programme will be suited to business professionals from a broad range of business administration fields, in all sectors and branches, it has been specifically designed for those who wish to pursue senior management positions within the events industry or as preparation for further study in the field, such as a PhD in the field of events, or in the hospitality management, tourism management or other service sector management areas.&nbsp; 
                           <aside class="SwitcherConversion"> <a href="https://www.mastersportal.com/account/?section=recommendations" title="I want to find another Master Course"> I want to find another Master Course </a> </aside>
                        </section>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-contents is-visible" data-id="contents">
                  <button class="ToggleButton js-contentButtons js-content-contents mdc-layout-grid" data-id="contents">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Programme structure</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:study_contents" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_Contents_Contents">
                        <article id="StudyContents">
                           <h2>Programme Structure</h2>
                           <p><strong>Modules:&nbsp;</strong></p>
                           <ul>
                              <li>Marketing Management</li>
                              <li>Globalisation, Society &amp; Culture</li>
                              <li>The World Economy</li>
                              <li>Critical Perspectives in Event Management</li>
                              <li>New Media, Marketing and Analytics</li>
                              <li>Micro Economics - Global Perspectives</li>
                              <li>Strategic Management</li>
                              <li>Event Design &amp; Management</li>
                              <li>Event Theory &amp; Practice</li>
                           </ul>
                        </article>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-requirement" data-id="requirement">
                  <button class="ToggleButton js-contentButtons js-content-requirement mdc-layout-grid" data-id="requirement">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Admission requirements</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:best_fit_incentive_academic" class="Module StudyPortals_Shared_Modules_BestFitIncentive_IncentiveAcademic">
                        <div data-v-1c1e9538="" class="ButtonContentSwitcherWidget">
                           <div data-v-1c1e9538="" class="IconWrapper">
                              <div data-v-1c1e9538="" class="BestfitIcon"><i data-v-1c1e9538="" class="Percentage lnr-bestfit-logo"></i> <i data-v-1c1e9538="" class="PlusIcon lnr-plus-inverted"></i></div>
                           </div>
                           <span data-v-1c1e9538="" class="ButtonText">
                           Check your academic match with this programme
                           </span>
                        </div>
                     </div>
                     <div data-module="Study:study_admission_requirements" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_AdmissionRequirements_AdmissionRequirements">
                        <section id="AdmissionRequirements">
                           <article id="AcademicRequirements">
                              <h2>Academic requirements</h2>
                              <div class="NoRequirements">
                                 <p class="NoRequirementsInfo">We are not aware of any academic requirements for this programme.</p>
                              </div>
                           </article>
                           <article id="EnglishRequirements">
                              <h2>English requirements</h2>
                              <section class="EnglishRequirementsCards">
                                 <div class="CardContents EnglishCardContents IELTSCard js-CardIELTS">
                                    <div class="MainContent">
                                       <div class="ScoreLabelContainer">
                                          <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="IELTS admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> IELTS </span> </span> 
                                          <i class="InfoIcon lnr-info" data-tooltip-text="The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading)." style="position: relative;">
                                             <div class="Tooltip" style="display: none;">
                                                <div class="TooltipInner">
                                                   The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading).
                                                </div>
                                                <div class="TooltipArrow"></div>
                                             </div>
                                          </i>
                                       </div>
                                       <div class="ScoreInformationContainer">
                                          <div class="ScoreContainer">
                                             <div class="Score"> <span>6.5</span> </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ButtonContainer"> <a class="IELTSButton NavigatorButton js-showIeltsCTA" rel="nofollow noopener" target="_blank" data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;, &quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IMPACT_LEARNING_study_language_requirements_button&quot;,&quot;event&quot;:&quot;click&quot;}" href="https://link.studyportals.com/ielts_prep_promo" data-ga-parsed="true"> Start preparing for IELTS today! </a>  </div>
                                 </div>
                                 <div class="CardContents EnglishCardContents TOEFLCard js-CardTOEFL">
                                    <div class="MainContent">
                                       <div class="ScoreLabelContainer">
                                          <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="TOEFL admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> TOEFL<sup>®</sup> </span> <span class="SubHeading">IBT</span> </span> 
                                          <i class="InfoIcon lnr-info" data-tooltip-text="The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30." style="position: relative;">
                                             <div class="Tooltip" style="display: none;">
                                                <div class="TooltipInner">
                                                   The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30.
                                                </div>
                                                <div class="TooltipArrow"></div>
                                             </div>
                                          </i>
                                       </div>
                                       <div class="ScoreInformationContainer">
                                          <div class="ScoreContainer">
                                             <div class="Score"> <span>90</span> </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </section>
                           </article>
                           <article id="OtherRequirements">
                              <h2>Other requirements</h2>
                              <div class="OtherRequirementsContent">
                                 <div>
                                    <h3>General requirements</h3>
                                    <ul>
                                       <li>A bachelor's degree or equivalent recognised qualification.</li>
                                       <li>​Applicants are requested to provide an academic reference from their previous education institute.</li>
                                       <li>It is necessary to have obtained a bachelor's degree from the domains of business, management, economics or trade. In their bachelor's degree applicants must have completed an academic piece of work (final project or dissertation) that demonstrates a degree of academic writing and research experience.</li>
                                    </ul>
                                 </div>
                              </div>
                           </article>
                        </section>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-fees_and_funding" data-id="fees_and_funding">
                  <button class="ToggleButton js-contentButtons js-content-fees_and_funding mdc-layout-grid" data-id="fees_and_funding">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Fees and funding</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:tuition_fee" class="Module StudyPortals_Shared_Modules_Study_TuitionFee_TuitionFeeContainer">
                        <section id="TuitionFeeContainer" class="js-tuitionFact">
                           <h2>Tuition Fee</h2>
                           <div class="NationalitySelect">Below are the tuition fees for students from <button class="HelperButton js-showLocalizationPreferences">Azerbaijan</button> </div>
                           <ul class="TuitionFees js-LocalizedContent" data-country-id="1">
                              <li class="ItemContainer" data-target="international">
                                 <h3 class="FeeType">
                                    International 
                                    <i class="InfoIcon lnr-info" data-tooltip-text=" The international tuition fee is applicable to students from outside the European Economic Area who want to study within the EEA, or to students who want to study outside the EEA but are not nationals of that country. " style="position: relative;">
                                       <div class="Tooltip" style="display: none;">
                                          <div class="TooltipInner">
                                             The international tuition fee is applicable to students from outside the European Economic Area who want to study within the EEA, or to students who want to study outside the EEA but are not nationals of that country. 
                                          </div>
                                          <div class="TooltipArrow"></div>
                                       </div>
                                    </i>
                                 </h3>
                                 <div class="Item">
                                    <i class="TuitionFeesIcon lnr-bag-coins"></i> 
                                    <div class="FeeDetails">
                                       <div class="Amount"> <span class="js-currencyAmount" data-discount="" data-original-amount="18300" data-duration="18" data-period="months" data-currency="EUR" data-amount="12200" data-currency-rewrite="true" data-currency-symbol="no" data-original_html=" 12200 " data-converted_amount="12200" title="Converted from  12200 ">12,200</span> <span class="CurrencyType" data-currency-text="EUR" data-institution-currency="EUR">EUR</span><span class="CurrencyType">/year</span> </div>
                                       <div class="Label">Tuition Fee</div>
                                    </div>
                                 </div>
                                 <div class="BasedOn js-basedOn" data-original-unit="full" data-unit="year" data-original-amount="18300"> Based on the tuition of <span class="BaseOnBoldText"> <span class="js-localeNumber">18,300</span> EUR </span> for the full programme <span class="js-durationText"> during <span class="js-duration BaseOnBoldText" data-rewrite="true" data-period="months" data-duration="18" data-days-single="day" data-days-multiple="days" data-weeks-single="week" data-weeks-multiple="weeks" data-months-single="month" data-months-multiple="months" data-years-single="year" data-years-multiple="years">1½ years</span></span>. </div>
                              </li>
                              <li class="ItemContainer Hidden" data-target="eea">
                                 <h3 class="FeeType">
                                    EU/EEA 
                                    <i class="InfoIcon lnr-info" data-tooltip-text=" European Economic Area tuition fee is applicable to the students from EU countries, Iceland, Liechtenstein, Norway and Switzerland. " style="position: relative;">
                                       <div class="Tooltip" style="display: none;">
                                          <div class="TooltipInner">
                                             European Economic Area tuition fee is applicable to the students from EU countries, Iceland, Liechtenstein, Norway and Switzerland. 
                                          </div>
                                          <div class="TooltipArrow"></div>
                                       </div>
                                    </i>
                                 </h3>
                                 <div class="Item">
                                    <i class="TuitionFeesIcon lnr-bag-coins"></i> 
                                    <div class="FeeDetails">
                                       <div class="Amount"> <span class="js-currencyAmount" data-discount="" data-original-amount="18300" data-duration="18" data-period="months" data-currency="EUR" data-amount="12200" data-currency-rewrite="true" data-currency-symbol="no" data-original_html=" 12200 " data-converted_amount="12200" title="Converted from  12200 ">12,200</span> <span class="CurrencyType" data-currency-text="EUR" data-institution-currency="EUR">EUR</span><span class="CurrencyType">/year</span> </div>
                                       <div class="Label">Tuition Fee</div>
                                    </div>
                                 </div>
                                 <div class="BasedOn js-basedOn" data-original-unit="full" data-unit="year" data-original-amount="18300"> Based on the tuition of <span class="BaseOnBoldText"> <span class="js-localeNumber">18,300</span> EUR </span> for the full programme <span class="js-durationText"> during <span class="js-duration BaseOnBoldText" data-rewrite="true" data-period="months" data-duration="18" data-days-single="day" data-days-multiple="days" data-weeks-single="week" data-weeks-multiple="weeks" data-months-single="month" data-months-multiple="months" data-years-single="year" data-years-multiple="years">1½ years</span></span>. </div>
                              </li>
                              <div class="js-notAvailable Hidden">
                                 <div class="js-notAvailableText"></div>
                              </div>
                           </ul>
                        </section>
                     </div>
                     <div data-module="Study:cost_of_living" class="Module StudyPortals_Shared_Modules_Study_CostOfLiving_CostOfLiving">
                        <section id="CostOfLivingContainer">
                           <h2>Living costs for Apeldoorn</h2>
                           <div class="CostsOfLiving">
                              <i class="TuitionFeesIcon lnr-bag-coins"></i> 
                              <div class="FeeDetails">
                                 <div class="Costs"> <span class="Amount"> <span data-currency="EUR" data-amount="815" data-original_html="815" data-currency-rewrite="" data-currency-symbol="no" data-converted_amount="815" title="Converted from 815">815</span>-<span data-currency="EUR" data-amount="1040" data-original_html="1040" data-currency-rewrite="" data-currency-symbol="no" data-converted_amount="1040" title="Converted from 1040">1,040</span> </span> <span class="CurrencyDetails"> <span data-currency-text="EUR" data-institution-currency="EUR" class="Currency CurrencyType">EUR</span>/month </span> </div>
                                 <div class="Label">Living costs</div>
                              </div>
                           </div>
                           <p class="Explanation"> The <a href="https://www.mastersportal.com/articles/2569/how-we-calculate-the-monthly-living-costs-for-studying-abroad.html" title="How we calculate the monthly living costs for studying abroad."> living costs</a> include the total expenses per month, covering accommodation, public transportation, utilities (electricity, internet), books and groceries. </p>
                        </section>
                     </div>
                     <div data-module="Study:best_fit_incentive_budget" class="Module StudyPortals_Shared_Modules_BestFitIncentive_IncentiveBudget">
                        <div data-v-1c1e9538="" class="ButtonContentSwitcherWidget">
                           <div data-v-1c1e9538="" class="IconWrapper">
                              <div data-v-1c1e9538="" class="BestfitIcon"><i data-v-1c1e9538="" class="Percentage lnr-bestfit-logo"></i> <i data-v-1c1e9538="" class="PlusIcon lnr-plus-inverted"></i></div>
                           </div>
                           <span data-v-1c1e9538="" class="ButtonText">
                           Check your budget match with this programme
                           </span>
                        </div>
                     </div>
                     <div data-module="Study:funding" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_Funding_Funding">
                        <section id="FundingContainer">
                           <h2>Funding</h2>
                        </section>
                     </div>
                     <div data-module="SPScholarships" class="Module StudyPortals_Shared_Modules_SPScholarships_SPScholarships StudyPortals_Shared_Modules_SPScholarships_SPScholarshipsFeesAndFunding">
                        <a href="https://scholarship.mastersportal.com/international-distinction-awards/" rel="noopener" target="_blank" title="Studyportals Scholarship" id="SPScholarshipsFeesAndFunding" data-ga-tracking="{&quot;category&quot;:&quot;SPScholarship&quot;,&quot;action&quot;:&quot;click&quot;,&quot;label&quot;:&quot;study-page-fees-and-funding&quot;}" data-ga-parsed="true">
                           <div class="SPScholarshipsBorder"></div>
                           <figure class="ImageContainer"> <img loading="lazy" src="//monet-prtl-co.imgix.net/Shared/studyportals_logo_no_text.svg?auto=format,compress" alt="Studyportals scholarships"> </figure>
                           <div class="SPScholarshipsContent">
                              <strong class="SPScholarshipsTitle">Studyportals Scholarship</strong> <span class="SPScholarshipsDeadline js-scholarshipsDeadline Hidden">Deadline: <strong>30 June 2020</strong></span> 
                              <p class="SPScholarshipsDescription">Apply and win up to €<span class="LocaleNumber">10,000</span> to cover your tuition fees.</p>
                           </div>
                        </a>
                     </div>
                     <div data-module="Study:scholarshipsportal_tip" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_ScholarshipsPortalTip_ScholarshipsPortalTip">
                        <p id="ScholarshipsPortalTip"> <strong>Studyportals Tip:</strong> Students can <a href="http://www.scholarshipportal.com/" class="TextLink" target="_blank" rel="noopener" title="Search online for independent or external scholarships that can help fund their studies.">search online for independent or external scholarships</a> that can help fund their studies. Check the scholarships to see whether you are eligible to apply. Many scholarships are either merit-based or needs-based. </p>
                     </div>
                  </article>
               </div>
               <div class="SwitchableGroup js-content-work_permit" data-id="work_permit">
                  <button class="ToggleButton js-contentButtons js-content-work_permit mdc-layout-grid" data-id="work_permit">
                     <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Work permit</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                  </button>
                  <article class="ModulesContainer">
                     <div data-module="Study:venues_switcher" class="Module StudyPortals_Shared_Modules_Study_VenuesSwitcher_VenuesSwitcher">
                        <section class="VenuesSwitcher">
                           <h2 id="VenuesSwitcherTitle"></h2>
                        </section>
                     </div>
                     <div data-module="Study:WorkPermitContent" class="Module StudyPortals_Shared_Modules_Study_WorkPermitContent_WorkPermitContent">
                        <script> const workPermitDestinationCountry = '1'; const workPermitServiceUrl = 'https://8ofylmmtn1.execute-api.eu-west-1.amazonaws.com/prd/'; </script> 
                        <section id="WorkPermitContent"> </section>
                        <div class="WebsiteLinkTabs"> </div>
                     </div>
                  </article>
               </div>
               <div data-module="Study:ExclusiveAccess" class="Module StudyPortals_Shared_Modules_Study_ExclusiveAccess_ExclusiveAccess">
                  <aside class="mdc-layout-grid ExclusiveAccessWrapper js-exclusiveAccessInnerWrapper">
                     <div class="SoftWallBlock js-softWallWrapper">
                        <div class="SoftWallInnerBlock">
                           <div class="SoftWallText"> <strong>You've viewed <span class="js-exclusiveAccessPageCount"></span> programmes.</strong> Without an account you can only view 2 programmes per day. </div>
                           <div class="SoftWallCloseButton js-softWallCloseButton"> <i class="lnr-cross"></i> </div>
                        </div>
                     </div>
                     <div class="ExclusiveAccessWall">
                        <div class="MembershipContentWrapper">
                           <div class="MembershipTitle"> Create a <strong>free account</strong> to unlock <strong>full content</strong>! </div>
                           <div class="MembershipVisualWrapper"> <img src="https://monet-prtl-co.imgix.net/Shared/ExclusiveAccess/membership_benefits.svg" alt="Studyportals account benefits" loading="lazy"> </div>
                           <div class="MembershipActionsWrapper">
                              <div class="AuthServiceWrapper">
                                 <div class="AuthPlaceholder" data-layout="ExclusiveAccess" data-referrer="ExclusiveAccessV2" data-portal-type="master">
                                    <div class="PreLoaderWrapper">
                                       <div class="PreLoader">
                                          <div class="Dot"></div>
                                          <div class="Dot"></div>
                                          <div class="Dot"></div>
                                       </div>
                                       <div class="Text"> Loading </div>
                                    </div>
                                 </div>
                                 <div class="AuthPlaceholder" data-layout="Main" data-popup="true" data-referrer="ExclusiveAccessV2Header" data-portal-type="master"> </div>
                                 <div class="AuthPlaceholder" data-layout="Main" data-popup="true" data-referrer="EBPLockedButton" data-portal-type="master"> </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </aside>
               </div>
               <div data-module="ContentFeedbackTool:ContentFeedbackToolCenter" class="Module StudyPortals_Shared_Modules_ContentFeedbackTool_ContentFeedbackTool StudyPortals_Shared_Modules_ContentFeedbackTool_ContentFeedbackToolCenter">
                  <script> var feedbackUrl = 'https://lqrkhl7hna.execute-api.eu-west-1.amazonaws.com/live/feedback/new/'; var placeholderContent = [ { 'Missing': 'e.g. duration is not specified.', 'Wrong': 'e.g. tuition fees are different on the university website.', 'Other': 'e.g. there is a typo under "Details" section.' }, { 'Missing': 'e.g. research facilities are missing.', 'Wrong': 'e.g. university description is outdated.', 'Other': 'e.g. there is a typo under "Student Life" section.' } ] </script> 
                  <section id="ContentFeedbackTool">
                     <button type="button" class="LaunchPopupBtn HelperButton js-OpenCFT"> <span>Improve page content</span> </button> 
                     <div id="FeedbackPlaceholderContainer" class="Hidden PopupContent">
                        <span class="FeedbackTitle">Improve page content</span> 
                        <form class="FeedbackForm">
                           <div class="FeedbackContent">
                              <div id="CenteredContent">
                                 <div class="Screen">
                                    <ul>
                                       <li data-explanationtitle="What was <span>missing or incomplete</span>?"> <input id="Missing" name="FeedbackCategory" type="radio"> <label for="Missing">Missing or incomplete content</label> </li>
                                       <li data-explanationtitle="What was <span>wrong or outdated</span>?"> <input id="Wrong" name="FeedbackCategory" type="radio"> <label for="Wrong">Wrong or outdated content</label> </li>
                                       <li data-explanationtitle="Please specify"> <input id="Other" name="FeedbackCategory" type="radio"> <label for="Other">Other</label> </li>
                                    </ul>
                                 </div>
                                 <div class="Screen"> <label id="ExplanationTitle" for="Explanation">Detailed Explanation</label> <textarea id="Explanation" name="Explanation" rows="4"></textarea> </div>
                                 <div class="Screen"> <i class="lnr-thumbs-up ThankYou"></i> </div>
                              </div>
                           </div>
                           <div class="FeedbackFooter"> <button data-page="2" class="ChampionButton FeedbackSubmit Invisible" type="submit">Send Feedback</button> <span data-page="3" class="ThumbsUpText Invisible">A big thumbs up for your feedback!</span> </div>
                        </form>
                     </div>
                  </section>
               </div>
            </div>
            <div id="SwitchableContentButtons" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-desktop">
               <div id="ContentSwitcherWrapper" class="ContentSwitcherWrapper">
                  <nav id="ContentSwitcher" class="ContentSwitcher"> 
                  <button type="button" class="ContentButton js-contentButtons" data-id="key_facts"> Key information </button> 
                  <button type="button" class="ContentButton js-contentButtons" data-id="description"> Overview </button> 
                  <button type="button" class="ContentButton js-contentButtons is-active" data-id="contents"> Programme structure </button>
                  <button type="button" class="ContentButton js-contentButtons" data-id="requirement"> Admission requirements </button> 
                  <button type="button" class="ContentButton js-contentButtons" data-id="fees_and_funding"> Fees and funding </button> 
                  <button type="button" class="ContentButton js-contentButtons" data-id="work_permit"> Work permit </button> </nav>
               </div>
            </div>
         </main>
      </div>
   </div>
   
  

</div>