
        <main class="mainWrapper aboutPage fixedPages">
            <section class="about-page-title pt-60">
                <div class="title-blog-div text-center">
                    <span class="title">Hakkımızda</span>
                    <h1 class="description">Hayalindeki Geleceğe Bugün Başla!</h1>
                    <h4>Size en uygun yurtdışı eğitim programını birlikte bulalım.</h4>
                </div>
                <div class="img-div pt-60">
                    <img src="../d92mazmete5uc.cloudfront.net/public/~/css/images/aboutus-img.png" alt="" class="w-100" />
                    <div class="opacity-about-div"></div>
                </div>
            </section>
            <section class="about-text">
                <div class="about-text-right">
                    <div class="content">
                        <span>Hakkımızda</span>
                        <p><span style="font-weight: 400;">Endless Abroad Yurtdışı Eğitim Danışmanlığı olarak 2004 yılından bu yana hayalleri gerçeğe dönüştürme tutkumuzla hizmet vermekten mutluluk duyuyoruz.</span></p>
                        <h3>Neredeyiz?</h3>
                        <p>Türkiye, İngiltere ve Azerbaycan olmak üzere 3 farklı ülkede toplam 24 şubemiz ile sizleri en iyi yurtdışı eğitim danışmanlık hizmetiyle buluşturmak için çalışıyoruz.</p>
                        <p>
                            <span style="font-weight: 400;">18.</span>
                            <span style="font-weight: 400;">
                                yılımızda; 100’ün üzerinde uzman eğitim danışmanı ve 700’ün üzerindeki partner okulumuzdan aldığımız güç ve destekle verimli bir yurtdışı eğitim deneyimine götürecek rotayı beraber çiziyoruz.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;">
                                <br />
                                <strong>Neler yapıyoruz?</strong><strong><br /></strong>
                            </span>
                        </p>
                        <ul>
                            <li><strong>VEF Online &amp; Hibrit Yurtdışı Eğitim </strong><span style="font-weight: 400;">Fuarlarımız, </span></li>
                            <li><strong>VEF’s Voice Yurtdışı Eğitim </strong><span style="font-weight: 400;">Seminerlerimiz, </span></li>
                            <li><span style="font-weight: 400;">Bu etkinlikleri hibrit ve sanal olarak gerçekleştirmemizi sağlayan altyapımız </span><strong>Endless Fairs, </strong></li>
                            <li><span style="font-weight: 400;">Yazılım ve reklam çalışmalarımızıi sağladığımız dijital ajansımız </span><strong>Endigitals,</strong></li>
                            <li>
                                <span style="font-weight: 400;">Türkiye’nin ilk ve tek yurtdışı eğitim sektörüne lider yetiştiren</span><strong> Endless Campus -EA Team Yurtdışı Eğitim ve Liderlik Kampı </strong>
                                <span style="font-weight: 400;">organizasyonlarımız,</span>
                            </li>
                            <li><span style="font-weight: 400;">Liderlerimizin yönlendirme ve kazanç süreçlerini takip edebildiği </span><strong>EA Team mobil </strong><span style="font-weight: 400;">uygulamamız,</span></li>
                            <li>
                                <span style="font-weight: 400;">Yurtdışında lise eğitimine özel geliştirip çher yıl yüzlere öğrenciyi Yurtdışı Lise hayali ile buluşturan</span><strong> İHSO </strong>
                                <span style="font-weight: 400;">etkinliklerimiz,</span>
                            </li>
                            <li><span style="font-weight: 400;">Sadece Endless ailesine özel dünyadaki okulları isteğinize göre saniyeler içinde sıralanmasını sağladığımız </span><strong>Eduvego,</strong></li>
                            <li><span style="font-weight: 400;">Yurtdışı eğitim programlarının bilgi ve satışını sağladığımız </span><strong>YESS</strong><span style="font-weight: 400;">,</span></li>
                            <li>
                                <strong>
                                    <span style="font-weight: 400;">Yurtdışı Eğitim hayallerini gerçekleştirirken bu yolda online dil eğitimi desteğini şimdiden sunduğumuz </span><strong>ENDACA </strong>
                                    <span style="font-weight: 400;">platformumuz,</span>
                                </strong>
                            </li>
                        </ul>
                        <p><span style="font-weight: 400;">olmak üzere birbirinden inovatif ve dinamik projelerimizle Türkiye’nin en büyük ve en inovatif yurtdışı eğitim danışmanlık hizmetini sunuyoruz.</span></p>
                        <p></p>
                        <p><span style="font-weight: 400;">Kapsamlı hizmetlerimizle tüm dünyadan iyi eğitim almak isteyen öğrencileri ilgi ve yeteneklerine göre uygun program ve okullarla buluşturuyoruz. </span></p>
                        <p><span style="font-weight: 400;">Her geçen gün büyüyor ve birçok öğrencinin geleceğindeki bu köklü değişime öncülük ediyoruz.</span></p>
                        <p><span style="font-weight: 400;">“Yurtdışı eğitim ile hayal ettiğin geleceğe bugün başlaman için seni de Endless Abroad ailemize bekliyoruz.”</span></p>
                        <p>
                            <span style="font-weight: 400;">
                                <strong><span style="font-weight: 400;"></span></strong>
                            </span>
                        </p>
                        <p>
                            <strong><em>Endless Abroad Yönetim Kurulu</em></strong>
                        </p>
                    </div>
                </div>
                <div class="about-text-left">
                    <div class="content">
                        <h2>we are here for your achievements</h2>
                        <div class="items">
                            <div class="">
                                <span class="count">17</span>
                                <p class="count-text">Years of educational experience</p>
                            </div>
                            <div class="">
                                <span class="count">30K</span>
                                <p class="count-text">successful personality support</p>
                            </div>
                            <div class="">
                                <span class="count">19</span>
                                <p class="count-text">branch and service center</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="history-text">
                <div class="container">
                    <div class="history-grid-div pt-60">
                        <div class="history-detail">
                            <div class="d-flex align-items-center gap-3">
                                <img src="~/css/images/icons/icon-vision-blue.svg" alt="" />
                                <h2>Vizyon</h2>
                            </div>
                            Yurtdışına çıkarak farklı kültürlerle etkileşime geçerek kişilerin akademik/ kişisel ve .. <button class="read-btn" data-bs-toggle="modal" data-bs-target="#modal32022">Okumaya Devam Et</button>
                        </div>
                        <div class="history-detail">
                            <div class="d-flex align-items-center gap-3">
                                <img src="~/css/images/icons/icon-mission-blue.svg" alt="" />
                                <h2>Misyon</h2>
                            </div>
                            Hizmet verdiğimiz birey ve kurumların yurtdışı planlarını doğru operasyonlarla koordine etme.. <button class="read-btn" data-bs-toggle="modal" data-bs-target="#modal34">Okumaya Devam Et</button>
                        </div>
                    </div>
                    <div class="border-top-grey"></div>
                    <div class="history-grid-div pt-60"></div>
                </div>
            </section>
            <section class="franch-detail-big pt-60">
                <div class="container">
                    <div class="img-div">
                        <img src="~/css/images/search-bg.png" alt="" class="w-100" />
                        <div class="opacity-div-img"></div>
                    </div>
                    <div class="franch-detail-div">
                        <div class="detail-header-text-div">
                            <h4 class="section-sub-title">Franchise</h4>
                            <p class="container-text">Türkiye&#039;nin Önde Gelen Yurtdışı Eğitim Franchise&#039;ına Katılın.</p>
                            <button class="btn-green">Daha Fazla Bilgi</button>
                        </div>
                    </div>
                    <div class="big-img"><img class="w-100" src="../d92mazmete5uc.cloudfront.net/public/~/css/images/blog-detail-big-img.png" alt="" /></div>
                </div>
            </section>
            <section class="our-team pt-120">
                <div class="container">
                    <div class="our-team-detail">
                        <img src="~/css/images/icons/icon-our-team-blue.svg" alt="" />
                        <h2>Takımımıza katılmak ister misiniz?</h2>
                        <p>Size uygun açık pozisyonlarımızı görmek için Kariyer sayfamızı ziyaret edin.</p>
                        <button class="btn-green"><a href="career.html" class="text-white">Açık Pozisyonlar</a></button>
                    </div>
                </div>
            </section>
        </main>
        <div class="modal modal-about-us fade" id="modal32022" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h2>Vizyon</h2>
                            <div class="rectangle"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                        </div>
                        <div class="modal-body-detail-text">
                            <div class="content">
                                <p>
                                    Yurtdışına çıkarak farklı kültürlerle etkileşime geçerek kişilerin akademik/ kişisel ve iş yaşamlarında gelişmelerini sağlamanın giderek önem kazandığı günümüzde bu süreci öğrenmeyi bir gereksinim olarak
                                    gören herkesin iletişim ağında bulunan, inovasyon kavramına verdiği önemi vurgulayacak nitelikte başarıyla sonuçlanmış projeleriyle ön planda olan, sunduğu hizmetler kapsamında güvenilirliği ve
                                    referansları ile anılan, yüksek katma değer üretebilen ve ürettiği değerleri sürdürülebilir kılan bir marka olarak uluslararası pazarda Türkiye’yi temsil etme gururuna uzun yıllar nail olabilmektir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-about-us fade" id="modal34" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h2>Misyon</h2>
                            <div class="rectangle"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                        </div>
                        <div class="modal-body-detail-text">
                            <div class="content">
                                <p style="text-align: center;">
                                    <span style="font-weight: 400;">
                                        Hizmet verdiğimiz birey ve kurumların yurtdışı planlarını doğru operasyonlarla koordine etmek, planların olgunlaşması safhasında doğru tavsiye ve yönlendirmelerde bulunarak reel farklılıkları şeffaf
                                        bir şekilde önlerine koyarak, beklenti ve gereksinimler doğrultusunda onları asla yanıltmamak.
                                    </span>
                                </p>
                                <p style="text-align: center;"><span style="font-weight: 400;">Daha açık bir dille ifade etmek gerekirse, misyonumuz; işimizi olabilecek en iyi şekilde yapmaktır.</span></p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

