@{
    ViewData["Title"] = "Home Page";
}

      <section class="homepage-banner">
         <div class="banner-div container">
            <div class="banner-text-div">
               <div class="banner-title">Yurtdışında Eğitim Al, <span class="blue">Hayalindeki Geleceğe</span> Bugün Başla!</div>
               <p class="detail-text-dark-blue text-left">Dünyanın en güzel ülkelerinde, kaliteli okullarda yüzlerce farklı eğitim programı seni bekliyor. Ülkeni seç, dilediğin programı belirle ve saniyeler içinde sana uygun programları gör.</p>
               <div class="btn-div"> <button class="btn-green" data-bs-toggle="modal" data-bs-target="#getAnOffer">Teklif Al</button> <a class="btn-grey-border" href="ulkeler.html" class="btn-grey-border">Keşfet</a> </div>
            </div>
            <div class="banner-image ">  <img class="float-end wtd-100" src="../d92mazmete5uc.cloudfront.net/public/~/css/images/slide-tr-min.jpg" alt="banner-img">  </div>
         </div>
      </section>
      <section class="why-endless">
         <div class="opacity-div"></div>
         <div class="container">
            <div class="detail-div pt-20">
               <div class="detail-header-div">
                  <div class="detail-header-text-div">
                     <h4 class="section-sub-title">Neden Endless Abroad?</h4>
                     <p class="container-text">Dünyanın en güzel ülkelerindeki, en kaliteli okulları saniyeler içinde listeleyerek, danışmanlarımızın yardımıyla hayalindeki ülkede eğitimine başlayabilirsin.</p>
                  </div>
                  <div class="detail-header-btn-div"> <button class="btn-blue"><a href="hakkimizda.html">Hakkımızda</a></button> </div>
               </div>
               <div class="card-why-div">
                  <div class="card-icon-text text-center">
                     <img src="~/css/images/icons/icon-search-cursor.svg" alt=""> 
                     <h3 class="darkblue">Okul Ara</h3>
                     <p class="detail-text-dark-blue">Eğitim almak istediğin alanı, ülkeyi, dili ve süreyi seç. Dünyanın en iyi okulları saniyeler içinde karşında!</p>
                  </div>
                  <div class="line-icon-div">
                     <div class="ellipse-div"> <img src="~/css/images/icons/icon-greater.svg" alt=""> </div>
                  </div>
                  <div class="card-icon-text text-center">
                     <img src="~/css/images/icons/icon-get-in-touch.svg" alt=""> 
                     <h3 class="darkblue">İletişime Geç</h3>
                     <p class="detail-text-dark-blue">Yurtdışı eğitim ile ilgili tüm sorularına cevap veren uzman danışmanlar daima yanında!</p>
                  </div>
                  <div class="line-icon-div">
                     <div class="ellipse-div"> <img src="~/css/images/icons/icon-greater.svg" alt=""> </div>
                  </div>
                  <div class="card-icon-text text-center">
                     <img src="~/css/images/icons/icon-join-successfully.svg" alt=""> 
                     <h3 class="darkblue">Eğitimine Başla</h3>
                     <p class="detail-text-dark-blue">Okul seçimine danışmanlardan aldığın bilgilerle karar ver, hayalindeki ülkede istediğin programa doğru yola çık!</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="vue-app">
    <div class="vue-app vue-app-7">
        <section data-v-64d06bd4="" class="search-endless pt-100x">
            <div data-v-64d06bd4="" class="container">
                <div data-v-64d06bd4="" class="opacity-div"></div> <div data-v-64d06bd4="" class="img-div"><img data-v-64d06bd4="" src="https://d92mazmete5uc.cloudfront.net/public/assets/css/images/search-bg-min.png" alt="" class="w-100"></div> <div data-v-64d06bd4="" class="search-detail-div">
                    <div data-v-64d06bd4="" class="search-detail-div-grid">
                        <div data-v-64d06bd4="" class="d-grid-row-1">
                            <span data-v-64d06bd4="">Eğitim almak istiyorum</span> <div data-v-3dac8bd8="" data-v-64d06bd4="" class="dropdown flex-1">
                                <button data-v-3dac8bd8="" class="dropdown-button" style="color: rgb(255, 255, 255);">
                                    <!---->
                                    Programlar
                                </button>  <!---->
                            </div>
                        </div> <div data-v-64d06bd4="" class="d-grid-row-2">
                            <div data-v-64d06bd4="" class="d-flex">
                                <span data-v-64d06bd4=""></span> <div data-v-3dac8bd8="" data-v-64d06bd4="" class="dropdown flex-1">
                                    <button data-v-3dac8bd8="" class="dropdown-button" style="color: rgb(255, 255, 255);">
                                        <!---->
                                        Ülke
                                    </button>  <!---->
                                </div>
                            </div> <div data-v-64d06bd4="" class="d-flex">
                                <span data-v-64d06bd4="">,</span> <div data-v-3dac8bd8="" data-v-64d06bd4="" class="dropdown flex-1">
                                    <button data-v-3dac8bd8="" class="dropdown-button" style="color: rgb(255, 255, 255);">
                                        <!---->
                                        Dil
                                    </button>  <!---->
                                </div> <div data-v-3dac8bd8="" data-v-64d06bd4="" class="dropdown flex-1">
                                    <button data-v-3dac8bd8="" class="dropdown-button" style="color: rgb(255, 255, 255);">
                                        <!---->
                                        Süre
                                    </button>  <!---->
                                </div>
                            </div>
                        </div>
                    </div> <a data-v-64d06bd4="" class="search-icon-div"><span data-v-64d06bd4="">DISCOVER</span> <img data-v-64d06bd4="" src="~/css/images/icons/icon-search-white.svg" alt=""></a>
                </div>
            </div>
        </section>
    </div>
      </div>
      <section class="programs-endless pt-60">
         <div class="container">
            <div class="detail-div">
               <div class="detail-header-div">
                  <div class="detail-header-text-div">
                     <h4 class="section-sub-title">Programlar</h4>
                     <p class="container-text">Dünyanın en güzel ülkelerinde,<br/>Birbirinden farklı eğitim programına şimdi göz at.</p>
                  </div>
               </div>
               <div class="card-div">
                  <div class="card-rows-one">
                     <div class="programs-card-detail">
                        <div class="opacity-div"></div>
                        <div class="img-div"> <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post_types/2/01dil-okulu-thumb_post_type_home.jpg" alt="Dil Okulu" title="Dil Okulu" class="w-100 lazy"> </div>
                        <div class="title-programs">
                           <h3> <a href="yurtdisi-dil-okullari.html" title="link" hreflang="tr" > Dil Okulu </a> </h3>
                           <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>22 Ülkeler</span> </div>
                        </div>
                     </div>
                     <div class="programs-card-detail">
                        <div class="opacity-div"></div>
                        <div class="img-div"> <img data-class="lazy" src="../d92mazmete5uc.cloudfront.net/public/uploads/post_types/5/02lise-thumb_post_type_home.jpg" alt="Lise" title="Lise" class="w-100"> </div>
                        <div class="title-programs">
                           <h3> <a href="liseler.html" title="link" hreflang="tr" > Lise </a> </h3>
                           <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>11 Ülkeler</span> </div>
                        </div>
                     </div>
                     <div class="programs-card-detail">
                        <div class="opacity-div"></div>
                        <div class="img-div"> <img data-class="lazy" src="../d92mazmete5uc.cloudfront.net/public/uploads/post_types/8/university-1664370321-thumb_post_type_home.jpg" alt="Üniversite" title="Üniversite" class="w-100"> </div>
                        <div class="title-programs">
                           <h3> <a href="universiteler.html" title="link" hreflang="tr" > Üniversite </a> </h3>
                           <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>18 Ülkeler</span> </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-rows-two">
                     <div class="programs-card-detail">
                        <div class="opacity-div"></div>
                        <div class="img-div"> <img data-class="lazy" src="../d92mazmete5uc.cloudfront.net/public/uploads/post_types/9/04yukseklisans-thumb_post_type_home.jpg" alt="Yüksek Lisans" title="Yüksek Lisans" class="w-100"> </div>
                        <div class="title-programs">
                           <h3> <a href="yuksek-lisanslar.html" title="link" hreflang="tr" > Yüksek Lisans </a> </h3>
                           <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>18 Ülkeler</span> </div>
                        </div>
                     </div>
                     <div class="programs-card-detail">
                        <div class="opacity-div"></div>
                        <div class="img-div"> <img data-class="lazy" src="../d92mazmete5uc.cloudfront.net/public/uploads/post_types/10/05certificat-thumb_post_type_home.jpg" alt="Sertifika" title="Sertifika" class="w-100"> </div>
                        <div class="title-programs">
                           <h3> <a href="sertifika-diploma-programlari.html" title="link" hreflang="tr" > Sertifika </a> </h3>
                           <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>9 Ülkeler</span> </div>
                        </div>
                     </div>
                     <div class="programs-card-detail">
                        <div class="opacity-div"></div>
                        <div class="img-div"> <img data-class="lazy" src="../d92mazmete5uc.cloudfront.net/public/uploads/post_types/35/06workandstudy-thumb_post_type_home.jpg" alt="Work &amp; Study" title="Work &amp; Study" class="w-100"> </div>
                        <div class="title-programs">
                           <h3> <a href="work-and-study.html" title="link" hreflang="tr" > Work &amp; Study </a> </h3>
                           <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>6 Ülkeler</span> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div> 
      </section>
      <section class="ask-team-endless">
         <div class="mobil-div-top-grey"></div>
         <div class="container border-bottom-grey">
            <div class="detail-div">
               <div class="detail-header-div">
                  <div class="detail-header-text-div">
                     <h4 class="section-sub-title">EA Team&#039;e sor!</h4>
                     <p class="container-text">Uzman danışmanlarımız<br/>her soru ve sorunda yanında!</p>
                  </div>
                  <div class="detail-header-btn-div"> </div>
               </div>
               <div class="card-div">
                  <div id="news-slider" class="owl-carousel">
                     <div class="post-slide cursore-pointer" id="post-31989">
                        <div class="post-content">
                           <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/31989/ea-web-sitesi-kapaklar-kare.png" alt="İngiltere&#039;de Lisans ve Yuksek Lisans" class="w-100">  
                           <div class="absolute-div">
                              <h3 class="post-title">İngiltere&#039;de Lisans ve Yuksek Lisans</h3>
                              <span class="post-description">Orhun Koçyigit</span> 
                           </div>
                        </div>
                        <div class="vue-app">
                           <player-button data-video-id="757112439?h=beb6bc9c81"/>
                        </div>
                     </div>
                     <div class="post-slide cursore-pointer" id="post-32063">
                        <div class="post-content">
                           <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/32063/ea-web-sitesi-kapaklar-02.png" alt="Kanada’nın en çok tercih edilen sertifika programları nelerdir?" class="w-100">  
                           <div class="absolute-div">
                              <h3 class="post-title">Kanada’nın en çok tercih edilen sertifika programları nelerdir?</h3>
                              <span class="post-description">Osman Temur</span> 
                           </div>
                        </div>
                        <div class="vue-app">
                           <player-button data-video-id="757208006?h=f251db5bb1"/>
                        </div>
                     </div>
                     <div class="post-slide cursore-pointer" id="post-32038">
                        <div class="post-content">
                           <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/32038/ea-web-sitesi-kapaklar-04.png" alt="Avrupa’da Sınavsız Üniversite okuma şartları nelerdir?" class="w-100">  
                           <div class="absolute-div">
                              <h3 class="post-title">Avrupa’da Sınavsız Üniversite okuma şartları nelerdir?</h3>
                              <span class="post-description">Özlem Toraman</span> 
                           </div>
                        </div>
                        <div class="vue-app">
                           <player-button data-video-id="757206986?h=f948d529d4"/>
                        </div>
                     </div>
                     <div class="post-slide cursore-pointer" id="post-32037">
                        <div class="post-content">
                           <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/32037/ea-web-sitesi-kapaklar-05-1664982585.png" alt="Yurtdışında Dil Eğitimi Alırken Çalışmak Mümkün mü?" class="w-100">  
                           <div class="absolute-div">
                              <h3 class="post-title">Yurtdışında Dil Eğitimi Alırken Çalışmak Mümkün mü?</h3>
                              <span class="post-description">Eren Erkek</span> 
                           </div>
                        </div>
                        <div class="vue-app">
                           <player-button data-video-id="757208332?h=e480656a5a"/>
                        </div>
                     </div>
                     <div class="post-slide cursore-pointer" id="post-32039">
                        <div class="post-content">
                           <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/32039/ea-web-sitesi-kapaklar-03.png" alt="Amerika Üniversitelerinden Nasıl kabul alınır?" class="w-100">  
                           <div class="absolute-div">
                              <h3 class="post-title">Amerika Üniversitelerinden Nasıl kabul alınır?</h3>
                              <span class="post-description">Ezgi Erdal</span> 
                           </div>
                        </div>
                        <div class="vue-app">
                           <player-button data-video-id="757211181?h=ee696c3951"/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="student-stories">
         <div class="vue-app">
            <video-player-modal/>
         </div>
         <div class="mobil-div-top-grey"></div>
         <div class="container">
            <div class="detail-div">
               <div class="detail-header-div">
                  <div class="detail-header-text-div">
                     <h4 class="section-sub-title">Öğrenci Hikayeleri</h4>
                     <p class="container-text">Birbirinden güzel ülkede, birbirinden güzel deneyim! Öğrenirken eğlenen, yeni bakış açılarıyla gelişen öğrencilerimizin hikayelerine göz at.</p>
                  </div>
                  <div class="detail-header-btn-div"> </div>
               </div>
            </div>
         </div>
         <div class="card-div">
            <div id="news-slider" class="owl-carousel-student ea-team-slider">
               <div class="post-slide cursore-pointer" style="">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/32064/oyku.png" alt="Öykü Güler" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Proyeto Espanol Madrid</span> 
                        <h3 class="post-usurnane">Öykü Güler</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İspanya</span> </div>
                     </div>
                  </div>
                  <div class="vue-app">
                     <player-button data-video-id="754202102?h=332694f0d4"/>
                  </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 65px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/31991/fethi.png" alt="Fahrettin Bilgehan Dokuyucu" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Varşova Tıp Üniversitesi</span> 
                        <h3 class="post-usurnane">Fahrettin Bilgehan Dokuyucu</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">Polonya</span> </div>
                     </div>
                  </div>
                  <div class="vue-app">
                     <player-button data-video-id="754200795?h=9d5c974d5d"/>
                  </div>
               </div>
               <div class="post-slide cursore-pointer" style="">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/31992/ea-ogrenci-roportajlari.see.png" alt="Eren Çalışkan" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">WSB Üniversitesi</span> 
                        <h3 class="post-usurnane">Eren Çalışkan</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">Polonya</span> </div>
                     </div>
                  </div>
                  <div class="vue-app">
                     <player-button data-video-id="754199741?h=77fe4c796a"/>
                  </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 170px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/3050/berkay-derman.jpg" alt="Berkay Derman" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">ILAC</span> 
                        <h3 class="post-usurnane">Berkay Derman</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">Kanada</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview3">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 65px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/3049/caner-nejdet-alkap.jpg" alt="Caner Nejdet Alkap" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">ILAC College Business</span> 
                        <h3 class="post-usurnane">Caner Nejdet Alkap</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">Kanada</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview4">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/3694/pinar-tok.png" alt="Pınar Tok" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">LSI</span> 
                        <h3 class="post-usurnane">Pınar Tok</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İngiltere</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview5">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 170px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/3023/songul.jpg" alt="Songül Topaloğlu" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Berlitz</span> 
                        <h3 class="post-usurnane">Songül Topaloğlu</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İrlanda</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview6">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 65px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/3022/hulya.png" alt="Hülya Ertaş" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Clubclass Language School</span> 
                        <h3 class="post-usurnane">Hülya Ertaş</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">Malta</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview7">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2188/o_1dq15411q1k2lse8e3t1j0r1er8c.jpg" alt="Arda Batikan Durgut" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Londra</span> 
                        <h3 class="post-usurnane">Arda Batikan Durgut</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İngiltere</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview8">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 170px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2186/o_1dq1473iu13pf1eq1joo1s0nikk7.jpg" alt="Beste Helezür" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Varşova Sosyal Bilimler ve Psikoloji Üniversitesi</span> 
                        <h3 class="post-usurnane">Beste Helezür</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">Polonya</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview9">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 65px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2158/o_1dk3dnp8crvc3lr1rq61npa9gl7.png" alt="Büşra Yıldızhan" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">-</span> 
                        <h3 class="post-usurnane">Büşra Yıldızhan</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İrlanda</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview10">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2157/o_1dk3e0371o851gbu96q55g1spm7.png" alt="Can Emre Üstün" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Stafford House London</span> 
                        <h3 class="post-usurnane">Can Emre Üstün</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İngiltere</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview11">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 170px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2168/o_1dk3fne4g1efuo781dvm1tn1np47.png" alt="İlayda Horuzoğlu" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Bournemouth</span> 
                        <h3 class="post-usurnane">İlayda Horuzoğlu</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İngiltere</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview12">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 65px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2156/o_1dk3cdk75lnkcbpml0vd11dm17.png" alt="İpek Savucu" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Kaplan International Languages</span> 
                        <h3 class="post-usurnane">İpek Savucu</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İngiltere</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview13">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2232/o_1dvj1b0gm3j1s1j1auivr2lc67.png" alt="Kaan Karışmaz" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">Dublin</span> 
                        <h3 class="post-usurnane">Kaan Karışmaz</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">İrlanda</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview14">Show Student Review</button> </div>
               </div>
               <div class="post-slide cursore-pointer" style="margin-top: 170px">
                  <div class="opacity-div"></div>
                  <div class="post-content">
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/2166/o_1dk3fkhspf9um00dkf12c41n587.png" alt="Kazım Oğuz" class="w-100 img-full post-slide"> 
                     <div class="absolute-div">
                        <span class="student-school">ACE English</span> 
                        <h3 class="post-usurnane">Kazım Oğuz</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt="icon-location"> <span class="post-country">Malta</span> </div>
                     </div>
                  </div>
                  <div class="review-content"> <button class="show-review-btn" data-bs-toggle="modal" data-bs-target="#studentReview15">Show Student Review</button> </div>
               </div>
            </div>
         </div>
      </section>
      <section class="featured-countries">
         <div class="container">
            <div class="opacity-div"></div>
            <div class="detail-div">
               <div class="detail-header-div">
                  <div class="detail-header-text-div">
                     <h4 class="section-sub-title">Prestijli Ülkeler</h4>
                     <p class="container-text">Endless Abroad dünyanın en prestijli ülkeleri ile çalışır.<br/>Şimdi keşfet.</p>
                  </div>
                  <div class="detail-header-txt-div">
                     <div class="grid-counter">
                        <span class="count-span-text">20+</span> 
                        <p class="detail-text-dark-blue">Ülke</p>
                     </div>
                     <div class="grid-counter">
                        <span class="count-span-text">80+</span> 
                        <p class="detail-text-dark-blue">Şehir</p>
                     </div>
                     <div class="grid-counter">
                        <span class="count-span-text">750+</span> 
                        <p class="detail-text-dark-blue">Global Partner</p>
                     </div>
                     <div class="grid-counter">
                        <span class="count-span-text">3000+</span> 
                        <p class="detail-text-dark-blue">Öğrenci</p>
                     </div>
                  </div>
               </div>
               <div class="card-div">
                  <div class="featured-card-detail cursore-pointer genel-box-shadow">
                     <div class="opacity-div"></div>
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/20/uk4-1664800733-thumb_sq.jpg" alt="" class="w-100 full-img"> 
                     <div class="title-programs text-center">
                        <div class="country-icon">  <img src="~/css/images/united-kingdom.svg" alt="İngiltere" width="48">  </div>
                        <h3>İngiltere</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>4 Şehir</span> </div>
                        <div class="detail-country-right" > <a href="ingiltere.html"> <img src="~/css/images/icons/icon-bg-white-right.svg" alt="İngiltere"> </a> </div>
                     </div>
                     <div class="bottom-opacity-div"></div>
                  </div>
                  <div class="featured-card-detail cursore-pointer genel-box-shadow">
                     <div class="opacity-div"></div>
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/30/ca2-thumb_sq.jpg" alt="" class="w-100 full-img"> 
                     <div class="title-programs text-center">
                        <div class="country-icon">  <img src="~/css/images/canada.svg" alt="Kanada" width="48">  </div>
                        <h3>Kanada</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>4 Şehir</span> </div>
                        <div class="detail-country-right" > <a href="kanada.html"> <img src="~/css/images/icons/icon-bg-white-right.svg" alt="Kanada"> </a> </div>
                     </div>
                     <div class="bottom-opacity-div"></div>
                  </div>
                  <div class="featured-card-detail cursore-pointer genel-box-shadow">
                     <div class="opacity-div"></div>
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/378/us5-thumb_sq.jpg" alt="" class="w-100 full-img"> 
                     <div class="title-programs text-center">
                        <div class="country-icon">  <img src="~/css/images/us.png" alt="Amerika" width="48">  </div>
                        <h3>Amerika</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>4 Şehir</span> </div>
                        <div class="detail-country-right" > <a href="amerika.html"> <img src="~/css/images/icons/icon-bg-white-right.svg" alt="Amerika"> </a> </div>
                     </div>
                     <div class="bottom-opacity-div"></div>
                  </div>
                  <div class="featured-card-detail cursore-pointer genel-box-shadow">
                     <div class="opacity-div"></div>
                     <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/22/mal1-thumb_sq.jpg" alt="" class="w-100 full-img"> 
                     <div class="title-programs text-center">
                        <div class="country-icon">  <img src="~/css/images/malta.svg" alt="Malta" width="48">  </div>
                        <h3>Malta</h3>
                        <div class="location-programs"> <img src="~/css/images/icons/icon-location-blue.svg" alt=""> <span>4 Şehir</span> </div>
                        <div class="detail-country-right" > <a href="malta.html"> <img src="~/css/images/icons/icon-bg-white-right.svg" alt="Malta"> </a> </div>
                     </div>
                     <div class="bottom-opacity-div"></div>
                  </div>
               </div>
               <div class="btn-div text-center"> <button class="btn-blue"><a href="ulkeler.html">Tüm Ülkeler</a></button> </div>
            </div>
         </div>
      </section>
      <section class="compaings-section">
         <div class="mobil-div-top-grey"></div>
         <div class="container">
            <div class="detail-div">
               <div class="detail-header-div">
                  <div class="detail-header-text-div">
                     <h4 class="section-sub-title">Kampanyalar</h4>
                     <p class="container-text">Yurtdışı eğitim hayallerini bütçene uygun kampanyalarla desteklemek için biz buradayız! Özel indirimlerimiz seni bekliyor, fırsatları kaçırma.</p>
                  </div>
               </div>
               <div class="card-div">
                  <a href="campaign/dil-okulu.html" title="Dil Okullarının Erken Kayıt Fırsatı Seni Bekliyor!">
                     <div class="compaings-detail">
                        <img src="../d92mazmete5uc.cloudfront.net/public/uploads/campaign/1/lang.png" alt="Dil Okullarının Erken Kayıt Fırsatı Seni Bekliyor!" class="w-100">  
                        <div class="absolute-div">
                           <div class="percent-div green">
                              <h3>%50</h3>
                              <p>Varan İndirimler</p>
                           </div>
                           <h1>Dil Okullarının Erken Kayıt Fırsatı Seni Bekliyor!</h1>
                        </div>
                     </div>
                  </a>
                  <a href="campaign/sertifika-diploma.html" title="Kanada’da Sertifika Programına Katıl!">
                     <div class="compaings-detail">
                        <img src="~/css/images/compaings-bg.png" alt="" class="w-100">  
                        <div class="absolute-div">
                           <div class="percent-div green">
                              <h3>%50</h3>
                              <p>İndirim</p>
                           </div>
                           <h1>Kanada’da Sertifika Programına Katıl!</h1>
                        </div>
                     </div>
                  </a>
                  <a href="campaign/yazokulu.html" title="Erken kayıt indirimleriyle 2023 Yaz okulu kaydını tamamla!">
                     <div class="compaings-detail">
                        <img src="../d92mazmete5uc.cloudfront.net/public/uploads/campaign/tmp_6343ff44cd24d/lan2.png" alt="Erken kayıt indirimleriyle 2023 Yaz okulu kaydını tamamla!" class="w-100">  
                        <div class="absolute-div">
                           <div class="percent-div green">
                              <h3>%25</h3>
                              <p>Varan İndirim</p>
                           </div>
                           <h1>Erken kayıt indirimleriyle 2023 Yaz okulu kaydını tamamla!</h1>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </section>
      <div class="modal modal-studentReview fade" id="studentReview3" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Berkay Derman</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Berkay Derman</h2>
                     <p class="c2"><span class="c4">Endless Abroad ile tanışmam çok uzun yıllar öncesine dayanıyor. Daha doğrusu bireysel olarak Savaş abiyle tanışıklığımız... 2015-16 yılları arasında bir spor salonunda tanışmıştık Savaş abiyle. O zamanlar lisedeydim ve yurtdışında okuma gibi bir hayali ufaktan aklımın içinde beslemeye başlamıştım. Kendisi gerek ofis dışı, ofis içi hiçbir farklılık olmadan deneyimlerini ve bilgisini benimle her zaman sabırlı bir şekilde paylaştı. Lise dönemindeyken benim için sadece bir hayal de olsa, <strong>Kanada’da</strong> bir okulla beni iletişime geçirip %50 burs alma gibi bir şansla kendisi sayesinde tanışmıştım. O zamanlarda yurtdışı için adımımı atamamış olsam da, üstüne seneler geçmesine rağmen, aradaki zaman farkı dahil şu ana kadar Savaş abiyle her zaman iletişimde olduk. Liseden mezun olduktan sonra Kanada için kararımı kesin vermiştim. </span></p>
                     <p class="c2"><span class="c4">Endless Abroad ve Savaş abinin yardımları sayesinde, şu anda yaklaşık 2 senedir Kanada’da eğitimime devam etmekteyim. Hiçbir zaman Savaş abinin desteği eksik olmadı, Kanada’nın bir hayal gibi olduğu zamandan, şu an burda yaşadığım günlere kadar bağımız hiç kopmadı. Gerek okul, vize ve en onemlisi manevi destegini kendileri hiç eksik etmedi. Eğer sizi düşünen, değer veren bir yurtdışı eğitim danışmanlığından destek almak istiyorsanız, Savaş Ayas ve Endless Abroad…</span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview4" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Caner Nejdet Alkap</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Caner Nejdet Alkap</h2>
                     <p>Daha öncesinde de birlikte çalıştığım ve memnum kaldığım Endless Abroad ile yeni bir macera için geçen yaz tekrardan bir araya geldim ve 2019 Eylül itibari ile Kanada’nın Toronto şehrine adım atmış bulundum. Gerek akademik, gerek profesyonel ve gerekse sosyal anlamda karşıma çıkan bütün problemlere karşı desteklerini hep hissettiren eğitim danışmanım Savaş Ayas ve Endless Abroad ailesine çok teşekkür ediyorum. Bu gibi büyük adımlar atmadan önce yeterli birikime ve bilgiye sahip olan profesyonellerin verdiği güvenin, sizlerin alacağınız aksiyonlarda daha optimal bir sonuca ulaşmanıza yardımcı olacağından emin olabilirsiniz. Destekleri için Endless Abroad ailesine tekrardan teşekkür ediyorum.</p>
                     <p>&lt;</p>
                     <p>Caner Nejdet Alkap - ILAC college Business adm. with co-op 92 weeks</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview5" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Pınar Tok</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Pınar Tok</h2>
                     <p><span style="font-weight: 400;">Londra uzun zamandır hayal şehirdi benim için ve bu hayali bir hafta önce Endless Abroad ile gerçekleştirdim. Yalnız gelmek başta biraz korkutucuydu ama hic tanımadığınız bir şehirde özgür olduğunuzu bilmek çok güzel hissettiriyor. Şimdiden her şey çok keyifli. Endless Abroad ailesine yardımları ve buraya geldiğimde dahi bitmeyen ilgileri için çok teşekkür ederim.</span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview6" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Songül Topaloğlu</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Songül Topaloğlu</h2>
                     <div>Bir acentanın sunabileceği bütün hizmetleri kendilerinde bulabilirsiniz. Geniş ağları ve pek çok ülke ile olan farklı işbirlikleri sayesinde seçenekleriniz çok daha fazla olacak. Benim için bu en önemli kriterdi çünkü yurtdışı yolculuğumda yapmak istediğim şeyler hem çok farklı ülkeleri hem de farklı planlamaları gerektiriyor. Öncelikle <strong>İrlanda’da</strong> dil okulu ile başladım ve kararımdan memnunum. İrlanda sonrasında planladığım ülkeler arasında Kanada vardı ama orada ne yapmak istediğime henüz karar vermemiştim.</div>
                     <div>Endless Abroad ile görüştüm, elimdeki imkanlar ve yapmak istediklerim üzerinden giderek Kanada'da özel indirim fırsatları da olan bir sertifika programında karar kıldık. Yönlendirme konusunda doğru seçim olduklarını düşünüyorum. Dil eğitimi sürecimde her konuda danışmanlıklarından yararlandım. Mesaj bölümümde her zaman en üstlerde danışmanım vardı. Kendisinden bireysel olarak da ayrıca memnunum.</div>
                     <div> </div>
                     <div>Irlanda / Work and Study</div>
                     <p> </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview7" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Hülya Ertaş</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Hülya Ertaş</h2>
                     <div>Haziran 2019 tarihinde tanıştım Endless Abroad ile, Şevval Şişman hanım tarafından bilgi aldım. İstanbul'da Avrupa yakasındaki birçok danışmanlık şirketi ile görüştüm. Hiç biri Endless Abroad kadar ilgili, şeffaf ve alakalı olmadılar. Şu an Malta’dayım ve kız kardeşim ABD’de, gerçekten sonsuz teşekkürlerimi sunuyorum. Uçaktan indiğim anda beni annemden önce kendileri aradı. İlk iş bulmamda dahi ilk aradığım kendileri oldu. Burada yaşadığım bütün deneyimleri bir arkadaşım ile paylaşır gibi rahat bir şekilde paylaşabiliyorum. İlgileri ve alakaları hiçbir zaman kesilmedi. Gerçekten sonsuz teşekkür ediyorum. Kesinlikle tavsiye ediyorum ve çok teşekkür ediyorum. Hala Malta'dayım ve hala irtibat halindeyim. Gelecek olan herkese şiddetle tavsiye ediyorum.<br /><br />Malta / Work and Study</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview8" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Arda Batikan Durgut</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Arda Batikan Durgut</h2>
                     <p>Londra’da dil eğitimi almak ve Londra’yı gezmek en büyük isteklerimdendi ve bu yolculukta bütün sorularıma, günün her saatinde cevap veren ve her zaman yardımcı olan Alp Keskin Abi'me sonsuz teşekkürler. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview9" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Beste Helezür</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Beste Helezür</h2>
                     <p>Öncelikle şunu söylemeliyim ki Endless Abroad'tan aldığım danışmanlıktan çok memnunum, özellikle Alp bey ve Gizem hanım. Benimle o kadar ilgilendiler ki ben her gün/her saat bıktıracak kadar arayıp benimle yine aynı kibarlık ve aynı yardımseverlikle ilgilendikleri için kendilerine çok teşekkür ederim. <strong>Varşova</strong> benim çok istediğim bir yer değildi, hatta başka yerler bakarken Alp beyin bana önermesi ile, detaylıca araştırıp inceledikten sonra karar verdik ve şuan ki düşüncemi soracak olursanız iyi ki gelmişim. Öğrenci şehri bir kere, çok rahat adapte olabileceğiniz bir yer, eğer daha önce hiç böyle bir tecrübe yaşamadıysanız ilk deneyim için burası kesinlikle çok uygun. Geldiğimden beri çok iyi deneyimler yaşadım, insanlar çok kibar, bir sürü yabancı arkadaş edindim. Bu arada şunu kesinlikle söylemek istiyorum ki buraya gelmeyi düşünürseniz size burada çok türk olduğunu ve ingilizcenizi geliştiremeyeceğinizi söyleyecekler “bu tamamen sizle alakalı”, şöyle söyleyeyim sadece 3 tane türk arkadaşım var ve geri kalan bütün arkadaşlarım yabancı, çünkü ben buraya aynı zamanda dil öğrenmeye geldim. Eğer gelme düşünceniz eğitim ve dil ise bu tamamen sizin burayı nasıl kullandığınızla alakalı, aynı zamanda vakit geçirebileceğiniz yerler de çok fazla ve gittiğiniz de yine çok öğrenci var yabancılık çekmeyeceğiniz. İnsanların kibar davranışlarıyla ilgili bir anımı anlatmak istiyorum; daha ilk günler toplu taşıma konusunda çok zorluk çekiyordum ve de hiç çekinmeden insanlara gideceğim yere nasıl gitmeyelim diye soruyordum polonyalı bir kadın bana yolu göstermekle kalmayıp benimle otobüse binip, yurdumun önüne kadar götürüp geri döndü “ve kendisi şehir merkezinde oturuyordu” ingilizcesi çok iyiydi ve benim için hem güzel bir anı oldu, hem de bütün yol ingilizce sohbet ettik. Bunun gibi fazlasıyla yardımcı olan iyi insanlar var gerçekten. Sizin insanlara nasıl yaklaştığınıza bağlı. Veya bu şehre nasıl baktığınıza bağlı. Eğer sosyal ve bir amaç için buraya gelecekseniz burası kesinlikle tam sizin için. Kendi başınıza hayatı deneyimlemek ve bunu başarmak inanılmaz bir özgüven ve mutluluk veriyor. Tam anlamıyla önerebileceğim bir yer. Son olarak söyleyeceğim şey ise Endless Abroad danışmanlık ekibine tekrar teşekkür ederim.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview10" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Büşra Yıldızhan</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Büşra Yıldızhan</h2>
                     <p>Şuan bu yazıyı sizinle İrlanda’dan paylaşıyorum. Sadece gitsem nasıl olur diye düşünerek başlayan bu maceranın bitmesine az kalması beni üzmüyor değil. İnanın herkesten öğrenebileceğiniz bir şeyler var. Dediğim gibi sadece düşünerek başlayan bu yolda bana en büyük desteği veren Alp Bey oldu. Her zaman her aradığımda sürekli bıkmadan bana ne yapmam gerektiğini söyleyerek ve yönlendirmeleriyle işlerimi , düşüncelerimi yarı yarıya indirdi. Buardan sana teşekkürlerimi tekrardan iletmek isterim. Çok farklı bir hayata başlamaya, hayata bakış açınızı değiştirmeye ,her milleti tanımayı, farklı lezzetler tatmayı ve unutmamak gerekir ki kendini geliştirmeyi istiyorsan; kesinlikle Alp Bey ve Endless Abroad ile tanışman gerekir diyebilirim.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview11" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Can Emre Üstün</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Can Emre Üstün</h2>
                     <p>Okul secimimi Strafford house , konaklama olarak da NIDO house olarak belirledim ve ikisindende cok mumnun kaldim. Egitim surecim cok keyifli ve yararli gecti 6 hafta yetersiz olacak zannediyordum fakat aksine cok verimli gecti. Bunlarin hepsinin sebebi Alp Keskin’dir onun rehberliginde olmasaydi ben bu kadar guzel ve yararli olabilecegini dusunmezdim tekrar tekrar tesekkur ederim bana en dogru secimi yaptirdigi icin..</p>
                     <p> </p>
                     <p>Can Emre Üstün ve İdil Aytemiz</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview12" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">İlayda Horuzoğlu</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">İlayda Horuzoğlu</h2>
                     <p>2 aylık bir eğitim için <strong>Bournemouth’a</strong> geldim. Öncelikle şehir dil eğitimi için çok doğru bir tercih. İnanılmaz tecrübeler edindim muhteşem arkadaşlıklar kazandım. Bu hafta son haftam ve burayı cok özleyeceğim. Herkesin kesinlikle hayatinda en az 1 kere yaşaması gerekiyor. Zaman geçtikçe konuşabildigini hissetmek insanı çok motive ediyor. Ayrıca Endless’e cok teşekkür ediyorum herkes çok içten ve samimi. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview13" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">İpek Savucu</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">İpek Savucu</h2>
                     <p>Merhaba, Ben İpek Savucu, Özel Büyük Kolej’de onuncu sınıfa giden bir lise öğrencisiyim. Okulda aldığım İngilizce eğitimimin üstüne bir şeyler koymak, kendimi daha iyi tanımak ve hiç bilmediğim bir yerde nasıl yaşayacağımı görmek için İngiltere’ye geldim. ALP KESKİN ile okulumdaki rehberlik servisinin yönlendirmesi üzerine iletişime geçtim. İlk gittiğimde yurt dışındaki dil okullarıyla ilgili hiçbir fikrim yoktu fakat Alp Bey’in ilgisi ve bilgisiyle gideceğim dil okuluna tereddütsüz bir şekilde kaydoldum. Kaplan International’da en çok hoşuma giden şeylerden biri görevli kişilerin ilgili, pozitif ve enerjik olmalarıydı. Verdikleri eğitime gelecek olursak, belirlemiş oldukları seviyeler ve farklı kültürleri öğrenmeye yönelik yapılan çalışmalar bireysel olarak kendimi geliştirmeme oldukça yardımcı oldu. Fakat gezilerle ilgili küçük bir eleştirim var o da; gittiğimiz yerlerin tarihi bilgisiyle ilgili pek fazla şey öğrenmediğimizi belirtmek isterim. Göstermiş olduğunuz ilgi için size teşekkür ederim.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview14" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Kaan Karışmaz</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Kaan Karışmaz</h2>
                     <p>Öncelikle Endless ailesiyle bu yolculuğa çıktığım için gerçekten çok mutluyum. Emeği geçen herkese teşekkür ederim. Bu mutluluğun mimarı ise tanıştığımız ilk günden beri samimiyetini eksik etmeyen, işini severek ve özveri ile yapan en önemlisi aramızdaki durumu bir abi kardeş ilişkisine getirebilen Alp Keskin'dir. Vize sürecinde ilk etapta İngilitere vizesi için elinden geleni yapan, 2 defa başvuru yapıp red almamıza rağmen İrlanda konusunda da bu süreci yönetmekte profesyonel ve tecrübeli davranan Alp abime sonsuz teşekkür ederim.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal modal-studentReview fade" id="studentReview15" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="rectangle">
                     <button type="button" class="btn-close" ref="closeButton" data-bs-dismiss="modal" aria-label="Close"></button> 
                     <div class="title-mobile">Kazım Oğuz</div>
                  </div>
                  <div class="detail-content">
                     <h2 class="title">Kazım Oğuz</h2>
                     <p>Malta’da 2015 yılında 24 hafta boyunca dil eğitimi aldım. Okulum ACE butik ve güzel bir okuldu. Hocaların ilgisi ve speaking sınıfının katkısıyla 24 haftada elemantary seviyesinden upper intermadiate seviyesine geldim. Şu an İngilizce gerektiren bir işte çalışıyorum. Mülakat süreçlerini ve işe alım sürecinde İngilizce bilmenin avantajlarını yaşadım. Tüm bu süreçte her an yanımda oldukları için  Endless Abroad çalışanlarına teşekkür ederim.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section class="faq-section pt-100">
         <div class="opacity-div"></div>
         <div class="container">
            <div class="faq-section-detail">
               <div class="faq-section-detail-text">
                  <div class="detail-header-div">
                     <div class="detail-header-text-div">
                        <h4 class="section-sub-title">Sıkça Sorulan Sorular</h4>
                        <p class="container-text">Yurtdışı Eğitim Hakkında Sorularınızın Cevapları Burada!</p>
                     </div>
                  </div>
                  <div class="detail-text">
                     <div class="info-count">
                        <div class="grid-counter">
                           <span class="count-span-text">20+</span> 
                           <p class="detail-text-dark-blue">Ülke</p>
                        </div>
                        <div class="grid-counter">
                           <span class="count-span-text">750+</span> 
                           <p class="detail-text-dark-blue">Global Partner</p>
                        </div>
                        <div class="grid-counter">
                           <span class="count-span-text">24+</span> 
                           <p class="detail-text-dark-blue">Şube</p>
                        </div>
                     </div>
                     <div class="desc-div">
                        <p class="container-text">Daha detaylı bilgi almak için Uzman Endless Abroad Danışman kadrosuyla iletişime geçin!</p>
                     </div>
                  </div>
               </div>
               <div class="faq-section-detail-accordion">
                  <div class="accordion accordion-div" id="myAccordion">
                     <div class="accordion-item show">
                        <h2 class="accordion-header" id="heading1"> <button type="button" class="accordion-button " data-toggle="collapse" data-target="#collapse1">Hangi ülkeye gitmeliyim? </button> </h2>
                        <div id="collapse1" class="accordion-collapse collapse show" data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Yurtdışı eğitimleri için profilinizi, maddi durumunuzu, eğitim hedeflerinizi göz önünde bulundurarak size uygun ülkeyi bulabilirsiniz. En doğru ülke tercihini yapabilmeniz için Endless Abroad yurtdışı <strong>eğitim danışman kadromuzdan ücretsiz danışmanlık hizmeti alabilirsiniz</strong></p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item show">
                        <h2 class="accordion-header" id="heading2"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse2">Üniversite seçimi yaparken nelere dikkat etmeliyim? </button> </h2>
                        <div id="collapse2" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Öğrencilerimiz üniversite tercihi yaparken aile bütçesini ve yurtdışında üniversite eğitimi sonrası iş imkanlarını göz önünde bulundurarak hareket etmelidirler. Bu imkanlar doğrultusunda ülkelerin sunmuş olduğu iş fırsatları, yıllık bölüm ücretleri ve eğitim sonrası sunulan çalışma imkanları da üniversite seçimi yaparken dikkat edilmesi gereken unsurlardır. Yurtdışında üniversite seçimi yaparken mutlaka uzman görüşüne ihtiyaç vardır. Öğrencilerimiz yurtdışında üniversite seçimi yapmak için kendilerine en yakın Endless Abroad yurtdışı eğitim danışmanlığı ofislerinden ve uzman kadromuzdan destek alabilirler</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item show">
                        <h2 class="accordion-header" id="heading3"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse3">Dil eğitimim sona erdiğinde sertifika alacak mıyım? </button> </h2>
                        <div id="collapse3" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Öğrencilerimiz yurtdışında dil eğitimi programlarına katıldıkları takdirde eğitim aldıkları ülkelerin kurumlarından onaylı ve uluslararası geçerliliği olan başarı ve kurs bitirme sertifikalarına sahip olacaklardır.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item show">
                        <h2 class="accordion-header" id="heading4"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse4">Dil okulu seçimi yaparken nelere dikkat etmeliyim? </button> </h2>
                        <div id="collapse4" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Yurtdışında dil okulu seçimi yaparken öğrencilerimiz eğitim almak istedikleri süreyi göz önünde bulundurarak ülke ve şehir tercihi yapmalıdır. Öğrencilerimiz yurtdışında hangi dil okuluna gideceklerine karar verirken aynı zamanda vize prosedürleri ve mali durumlarını göz önünden geçirmelidirler. Öğrencilerin yurtdışında dil okulu seçimi yaparken uzman bir eğitim danışmanından destek almasını tavsiye ederiz. Yurtdışında dil okulu seçimi yaparken öğrencilerimiz eğitim almak istedikleri süreyi göz önünde bulundurarak ülke ve şehir tercihi yapmalıdır. Öğrencilerimiz yurtdışında hangi dil okuluna gideceklerine karar verirken aynı zamanda vize prosedürleri ve mali durumlarını göz önünden geçirmelidirler. Öğrencilerin yurtdışında dil okulu seçimi yaparken uzman bir eğitim danışmanından destek almasını tavsiye ederiz. Yurtdışında dil okulu seçimi yaparken öğrencilerimiz eğitim almak istedikleri süreyi göz önünde bulundurarak ülke ve şehir tercihi yapmalıdır. Öğrencilerimiz yurtdışında hangi dil okuluna gideceklerine karar verirken aynı zamanda vize prosedürleri ve mali durumlarını göz önünden geçirmelidirler. Öğrencilerin yurtdışında dil okulu seçimi yaparken uzman bir eğitim danışmanından destek almasını tavsiye ederiz. Yurtdışında dil okulu seçimi yaparken öğrencilerimiz eğitim almak istedikleri süreyi göz önünde bulundurarak ülke ve şehir tercihi yapmalıdır. Öğrencilerimiz yurtdışında hangi dil okuluna gideceklerine karar verirken aynı zamanda vize prosedürleri ve mali durumlarını göz önünden geçirmelidirler. Öğrencilerin yurtdışında dil okulu seçimi yaparken uzman bir eğitim danışmanından destek almasını tavsiye ederiz.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item show">
                        <h2 class="accordion-header" id="heading5"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse5">Yurtdışında hem çalışıp hem dil eğitimi alabileceğim bir program var mı? </button> </h2>
                        <div id="collapse5" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Öğrencilerimiz work and study programlarını tercih ederek yurtdışında dil eğitimi alırken aynı zamanda yasal çalışma iznine de sahip olurlar. Work and Study programı İrlanda, Malta, Dubai, Avustralya ve Yeni Zelanda’da geçerlidir. İrlanda’da minimum 25 hafta dil eğitimi alan öğrencilerimiz haftada 20 saat çalışabilecekleri bir yasal çalışma izni alabilecekleri gibi eğitimlerinin sonunda ülkede ekstra iki ay daha kalma ve full-time çalışma imkanına sahip olurlar. Malta'da 90 günün üzerinde dil eğitimi alan öğrencilerimiz, haftada 20 saat yasal çalışma izni alma hakkında sahip olurlar. Avustralya ve Yeni Zelanda da 90 gün üzerinde dil eğitimi alan öğrencilerimiz haftada 20 saat yasal çalışma izni alma hakkına sahip olurlar. Size en uygun ülke seçimini yapmak için Endless Abroad yurtdışı eğitim danışmanlığı hizmetinden ücretsiz destek alabilirsiniz.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item hidden">
                        <h2 class="accordion-header" id="heading6"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse6">Dil okuluna katılabilmek için dil seviyem ne olmalı? </button> </h2>
                        <div id="collapse6" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Yurtdışında dil okulu programlarına katılabilmeniz için herhangi bir yabancı dil şartı aranmamaktadır.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item hidden">
                        <h2 class="accordion-header" id="heading7"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse7">Yurtdışına gittikten sonra eğitim programımı uzatabilir miyim? </button> </h2>
                        <div id="collapse7" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Yurtdışında eğitim alan öğrencilerimizin gittikleri ülkelerde vize uzatma uygunlukları bulunuyorsa hâlihazırda eğitim aldıkları programlarını uzatabilir, farklı bir programa geçiş yapabilirler.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item hidden">
                        <h2 class="accordion-header" id="heading8"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse8">Aile yanı konaklama mı, yurt konaklaması mı? </button> </h2>
                        <div id="collapse8" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Yurtdışında eğitim alırken aile yanında veya yurtlarda konaklama sağlayabilirsiniz. Öğrencilerimiz gittikleri ülkenin kendi kültürünü deneyimlemek istiyorlarsa aile yanı konaklamalarını öneririz. Yurtdışında eğitim alırken aile yanı konaklamaları tercih etmenin en büyük avantajı, gittiğiniz ülkelerde yerli insanlarla bir arada kalarak daha çok yabancı dil pratiği yapılmasıdır. Öğrencilerimiz dayanışma ve işbirliği içerisinde daha fazla sosyal olabilecekleri bir ortamda konaklamak istiyorlarsa öğrenci evlerinde konaklamayı da tercih edebilirler.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item hidden">
                        <h2 class="accordion-header" id="heading9"> <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapse9">Danışmanlık ücreti alıyor musunuz? </button> </h2>
                        <div id="collapse9" class="accordion-collapse collapse " data-parent="#myAccordion">
                           <div class="card-body">
                              <p>Yurtdışı eğitim planlarınızı oluştururken tercih edeceğiniz dil eğitimi programları, work and study programları ve İngiltere, İrlanda, Kanada, Amerika gibi ülkelerde anlaşmalı eğitim kurumlarımızdan eğitim almaya karar verirken herhangi bir ekstra danışmanlık ücreti ödemezler ancak öğrencilerimiz Avrupa ve anlaşmamızın bulunmadığı üniversitelerde yüksek öğrenim hedefliyorlarsa tercih edecekleri ülkeye göre danışmanlık ücreti ödemek durumundadırlar.</p>
                           </div>
                        </div>
                     </div>
                     <div class="show-more-button" onclick="showAccordions(this)"> Daha Fazla </div>
                     <div class="show-less-button hidden" onclick="lessAccordions(this)"> Daha Az </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="blog-section">
         <div class="mobil-div-top-grey"></div>
         <div class="container border-top-grey">
            <div class="detail-div pt-100">
               <div class="detail-header-div">
                  <div class="detail-header-text-div">
                     <h4 class="section-sub-title">Blog</h4>
                     <p class="container-text">Yurtdışı eğitim programları, ülkeler, konaklama, kısacası yurtdışında öğrenci olmak ile ilgili tüm bilgiler için blog sayfamıza göz at.</p>
                  </div>
                  <div class="detail-header-btn-div"> <button class="btn-blue"><a href="blog.html">Tüm Yazılar</a></button> </div>
               </div>
               <div class="card-div">
                  <div class="grid-div">
                     <div class="img-div"> <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/3847/dsh-thumb_sq.jpg" class="img-div-orange wtd-100" alt=""> </div>
                     <div class="text-div">
                        <h4 class="green">Genel</h4>
                        <a hreflang="tr" href="blog/dsh-sinavi-nedir.html"> <span class="description-text">DSH Sınavı Nedir?</span> </a> 
                        <div class="flex-div-item"> <img src="~/css/images/icons/icon-calender.svg" alt=""> <span class="date-text">24 Haz 2021</span> </div>
                     </div>
                  </div>
                  <div class="grid-div">
                     <div class="img-div"> <img src="../d92mazmete5uc.cloudfront.net/public/uploads/post/31948/kanada-asgari-ucret-thumb_sq.jpg" class="img-div-orange wtd-100" alt=""> </div>
                     <div class="text-div">
                        <h4 class="green">Genel</h4>
                        <a hreflang="tr" href="blog/kanadada-asgari-ucret.html"> <span class="description-text">Kanada’da Asgari Ücret Ne Kadar?</span> </a> 
                        <div class="flex-div-item"> <img src="~/css/images/icons/icon-calender.svg" alt=""> <span class="date-text">23 Tem 2022</span> </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>