 @section Css{
     <style>
         *, ::after, ::before {
    box-sizing:unset;
}
                 .acc-container {
          max-width: 700px;
          width: 100%;
        }

        .acc {
          margin-bottom: 10px;
        }

        .acc-head {
         /* background-color: rgb(155, 154, 87);*/
          padding: 15px 10px;
          font-size: 22px;
          position: relative;
          cursor: pointer;
         }

         .acc-head::before,
         .acc-head::after {
          content: '';
          position: absolute;
          top: 50%;
          background-color: #4090F7;
          transition: all .3s;
         }

         .acc-head::before {
          right: 30px;
          width: 3px;
          height: 20px;
          margin-top: -10px;
        }

        .acc-head::after {
          right: 21px;
          width: 20px;
          height: 3px;
          margin-top: -2px;
        }

        .acc-head p {
          color: #fff;
          font-weight: bold;
        }

        .acc-content {
          padding: 15px 10px;
          display: none;
        }

        .acc-head.active::before {
            transform: rotate(90deg);
        }
                .accordion-button::after {
          transform: none !important;
          transition: none !important;
          width:0;
          color:blue;
        }
        @@media (max-width: 480px){
                .acc-head { padding: 19px 95px;
                      font-size: 19px;}

                .accordion-item h2{
                    font-weight: 500;
                }

                .faq-section .faq-section-detail{

                    gap: 10px;
                }

                .faq-section .faq-section-detail-text{
                    width:0;
                }
        }


     </style>
 }
<div id="HomeSearchBackground">
            <section id="SecondRow" class="col1 wrapped">
               <div class="colblock no-vertical-margin">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_HomeSearchRR_HomeSearch">
                     <section id="HomeSearch">
                        <div class="HeadingTextWrapper">
                           <div id="homeHeader" class="HeadingTextBottom">
                              
                           </div>
                        </div>
                       
                     </section>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="Onboarding:OnboardingBar" class="Module StudyPortals_Shared_Modules_Onboarding_OnboardingBar_OnboardingBar StudyPortals_DistanceLearning_Modules_OnboardingBar_OnboardingBar">
                     <section id="OnboardingBar">
                        <ul class="OnboardingList">
                           <li class="OnboardingItem Explore">
                              <div class="OnboardingBullet"><i class="OnboardingIcon lnr-compass2"></i></div>
                              <div id="header1" class="OnboardingText">
                              </div>
                           </li>
                           <li class="OnboardingItem Compare">
                              <div class="OnboardingBullet"><i class="OnboardingIcon lnr-compare"></i></div>
                              <div id="header2" class="OnboardingText">
                              </div>
                           </li>
                           <li class="OnboardingItem Decide">
                              <div class="OnboardingBullet"><i class="OnboardingIcon lnr-archery"></i></div>
                              <div id="header3" class="OnboardingText">
                              </div>
                           </li>
                           <li class="OnboardingItem Apply">
                              <div class="OnboardingBullet">
                                 <i class="OnboardingIcon icon-magic-wand">
                                    <svg class="ApplySVG IconImg" viewBox="0 0 64 63" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                       <defs>
                                          <path d="M63.52 11.056a1.43 1.43 0 0 0-1.518-.256L7.282 34.011a1.45 1.45 0 0 0-.88 1.393c.023.604.414 1.13.983 1.32l16.295 5.472v16.362a1.449 1.449 0 0 0 1.44 1.45c.425 0 .839-.19 1.118-.536l7.958-9.866L47.148 62.49a1.433 1.433 0 0 0 2.393-.622l14.4-49.322a1.459 1.459 0 0 0-.422-1.49zM52.853 17.83L24.848 39.53 11.922 35.19l40.932-17.363v.002zM26.56 41.866l27.115-21.012-20.72 25.689-.001.002-6.396 7.928V41.865l.002.001zm20.898 16.859L36.021 47.346l23.133-28.685-11.696 40.062v.002z" id="plane" />
                                          <path d="M13.752 21.844c-.58 0-1.05-.469-1.05-1.048a3.152 3.152 0 0 0-3.151-3.144 1.049 1.049 0 1 1 0-2.097 3.152 3.152 0 0 0 3.15-3.144c0-.58.47-1.048 1.05-1.048.581 0 1.051.469 1.051 1.048a3.152 3.152 0 0 0 3.15 3.144 1.049 1.049 0 1 1 0 2.097 3.152 3.152 0 0 0-3.15 3.144c0 .58-.47 1.048-1.05 1.048zm-1.053-5.24c.399.298.753.653 1.054 1.05.3-.398.655-.752 1.054-1.05a5.335 5.335 0 0 1-1.054-1.051c-.3.398-.655.752-1.054 1.05z" fill="#FDAC10" id="star1" />
                                          <path d="M24.156 14.674c-.58 0-1.05-.47-1.05-1.048 0-2.89-2.356-5.24-5.252-5.24a1.049 1.049 0 1 1 0-2.097c2.896 0 5.252-2.35 5.252-5.24 0-.58.47-1.049 1.05-1.049.58 0 1.05.469 1.05 1.048 0 2.89 2.355 5.24 5.251 5.24a1.049 1.049 0 1 1 0 2.097c-2.896 0-5.25 2.35-5.25 5.24 0 .58-.47 1.049-1.051 1.049zm-2.518-7.337a7.398 7.398 0 0 1 2.518 2.513 7.398 7.398 0 0 1 2.518-2.513 7.398 7.398 0 0 1-2.518-2.513 7.398 7.398 0 0 1-2.518 2.513z" fill="#FDAC10" id="star2" />
                                          <path d="M5.352 12.244c-.58 0-1.05-.469-1.05-1.048A3.152 3.152 0 0 0 1.15 8.052a1.049 1.049 0 1 1 0-2.097A3.152 3.152 0 0 0 4.3 2.811c0-.58.47-1.048 1.05-1.048.581 0 1.051.469 1.051 1.048a3.152 3.152 0 0 0 3.15 3.144 1.049 1.049 0 1 1 0 2.097 3.152 3.152 0 0 0-3.15 3.144c0 .58-.47 1.048-1.05 1.048zm-1.053-5.24c.399.298.753.653 1.054 1.05.3-.398.655-.752 1.054-1.05a5.335 5.335 0 0 1-1.054-1.051c-.3.398-.655.752-1.054 1.05z" fill="#FDAC10" id="star3" />
                                       </defs>
                                       <use fill="#444" xlink:href="#plane" />
                                       <use fill="#FDAC10" xlink:href="#star1" id="Star1" />
                                       <use fill="#FDAC10" xlink:href="#star2" id="Star2" />
                                       <use fill="#FDAC10" xlink:href="#star3" id="Star3" />
                                    </svg>
                                 </i>
                              </div>
                              <div id="header4" class="OnboardingText">
                              </div>
                           </li>
                           <li class="OnboardingItem Apply">
                              <div class="OnboardingBullet">
                                 <i class="OnboardingIcon icon-magic-wand">
                                   <i class="lnr-bubble UnibuddyIcon"></i>
                                 </i>
                              </div>
                              <div id="header5" class="OnboardingText">
                              </div>
                           </li>
                        </ul>
                     </section>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_Discipline_Spotlight_Spotlight">
                     <section id="DisciplineSpotlight">
                        <h2 id="disciplineHeader" class="DisciplineSpotlightTitle"> Browse by Discipline </h2>
                        <ul id="disciplines">
                           
                        </ul>
                        <a class="ShowMoreDisciplines HelperButton js-showMoreDisciplines" data-expanded="Show less disciplines" data-condensed="Show all disciplines" title="Show all disciplines"> Show all disciplines </a> 
                     </section>
                  </div>
               </div>
            </section>
            
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_CountrySpotlightRR_CountrySpotlightRR">
                     <section id="CountrySpotlight">
                        <h2 id="homeCountryHeader" class="CountrySpotlightTitle">Discover other countries</h2>
                        <div id="CountrySpotlightContainer">
                          
                          
                        </div>
                    <div class="ViewAll"> <a style="cursor:pointer;" id="viewMore" class="countryMore" title="View all countries"></a> </div>
                     </section>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock"> </div>
            </section>
         </div>
        
         
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_FavouriteQuotes_FavouriteQuotes">
                     <aside id="FavouriteQuotes">
                        <h2 id="quateHeader" class="FavouriteQuotesTitle"></h2>
                        <ul id="quotes" class="Quotes">
                        </ul>
                     </aside>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
                        <h2 id="partnerHeader" class="FavouriteQuotesTitle">Partners</h2>
                        <section id="partners" class="regular slider">
                       
                        
                   </section>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Spotlight_Spotlight">
                     <article id="ArticleSpotlight">
                        <h2 id="articlesHeader" class="ArticlesSpotlightTitle">Interesting Articles</h2>
                        <div id="ArticleSpotlightContainer">
                          
                        </div>
                        <a asp-action="Index" asp-controller="Blog" title="More articles" id="MoreArticles">More articles</a> 
                     </article>
                  </div>
               </div>
            </section>
         </div>
         <section class="faq-section pt-100">
         <div class="opacity-div"></div>
         <div class="container">
            <div class="faq-section-detail">
               <div id="questionHeader" class="faq-section-detail-text">
                 
               </div>
               <div class="faq-section-detail-accordion">
                <div class="accordion accordion-div" id="accordionExample1">
                    <div class="accordion-item show">
                            <h2 class="accordion-header acc-head" >
                                Accordion Item #1
                        </h2>
                        <div id="collaps" class="accordion-collapse collapse acc-content show">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item show">
                            <h2 class="accordion-header acc-head" id="headingTw">
                                Accordion Item #2
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse acc-content collapse" >
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item show">
                            <h2 class="accordion-header acc-head" id="headingThree">
                           
                                Accordion Item #3
                           
                        </h2>
                        <div id="collapseThree" class="accordion-collapse acc-content collapse" >
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
         </div>
      </section>
      @section Scripts{
          <script>
              $(document).ready(function() {
                $('.acc-container .acc:nth-child(1) .acc-head').addClass('active');
                $('.acc-container .acc:nth-child(1) .acc-content').slideDown();
                $('.acc-head').on('click', function() {
                    if($(this).hasClass('active')) {
                      $(this).siblings('.acc-content').slideUp();
                      $(this).removeClass('active');
                    }
                    else {
                      $('.acc-content').slideUp();
                      $('.acc-head').removeClass('active');
                      $(this).siblings('.acc-content').slideToggle();
                      $(this).toggleClass('active');
                    }
                });     
                });
          </script>
      }