  @section Css{
      <style>
                  .sidebar-item{
                      outline:gray;
                  }
  .sidebar-item:hover {
    background-color:red !important;
}
    </style>
  }
<section class="container bg-light">
    <div class="row">
        <div class="col-lg-3">
            <div class="card rounded-0" style="padding: 35px 34px 65px 34px;">
                <div class="list-group">
                   
                    <a href="#" class="list-group-item sidebar-item font-weight-bold bg-light mt-3 list-group-item-action">United Kingdom</a>

                </div>
           </div>
        </div>
        <div class="col-lg-8">
            <div id="countryDetail" class="card rounded-0 ">
                <img class="card-img-top" src="https://s30876.pcdn.co/wp-content/uploads/london-e1634207674493-1170x630.jpg.optimal.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                        <div class="row">
                            <div class="col rounded-0 col-3">
                                <div class="card ">
                                    <img class="card-img-top" src="https://s30876.pcdn.co/wp-content/uploads/london-e1634207674493-1170x630.jpg.optimal.jpg" alt="Card image cap">
                                    <div class="card-body bg-transparent">
                                        <h5 class="card-title font-weight-bold">Card title</h5>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col col-3">
                                <div class="card rounded-0">
                                </div>

                            </div>
                            <div class="col col-3">
                                <div class="card rounded-0">
                                   
                                </div>
                              
                            </div>
                            <div class="col col-3">
                                <div class="card rounded-0">
                                </div>

                            </div>
                            <div class="col col-3">
                                <div class="card rounded-0">
                                </div>

                            </div>
                            <div class="col col-3">
                                <div class="card rounded-0">
                                   
                                </div>
                              
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
