<style>
    #DetailsInformation #CountryOverview #countryList li a :hover {
        color: #6610f2 !important;
    }
        </style>

<div class="forlang">
    <section id="HeroContainer">
        <div class="HeroContainerHelper">
            <span class="HeroImage js-heroImage"></span> <span class="HeroImage HeroImagePlaceholder js-heroImageLowResPlaceholder"></span> <span class="HeroOverlay"></span>
            <div class="HeroContentWrapper">
            </div>
        </div>
    </section>
    <div id="DetailsInformation" class="col1 WrappedContent">
        <div class="colblock">
            <div data-module=""
                 class="Module StudyPortals_Shared_Modules_Country_OverviewBase_CountryOverviewBase StudyPortals_DistanceLearning_Modules_Country_Overview_CountryOverviewDistanceLearning">
                <article id="CountryOverview">
                    <h1> Browse Distance Learning Programmes Worldwide </h1>

                    <ul id="countryList">
                    </ul>
                </article>
            </div>
            <div id="GlobalStudyAwards"> </div>
        </div>
    </div>

</div>
<section id="HeroContainer">
            <div class="HeroContainerHelper"> <span class="HeroImage js-heroImage"></span> <span
                    class="HeroImage HeroImagePlaceholder js-heroImageLowResPlaceholder"></span> <span
                    class="HeroOverlay"></span>
                <div class="HeroContentWrapper">
                  
                </div>
            </div>
        </section>
        <div id="DetailsInformation" class="col1 WrappedContent">
            <div class="colblock">
                <div data-module=""
                    class="Module StudyPortals_Shared_Modules_Country_OverviewBase_CountryOverviewBase StudyPortals_DistanceLearning_Modules_Country_Overview_CountryOverviewDistanceLearning">
                    <article id="CountryOverview">
                        <h1> Browse Distance Learning Programmes Worldwide </h1>
                       
                        <ul id="countryList">
                           
                           
                        </ul>
                    </article>
                </div>
                <div id="GlobalStudyAwards"> </div>
            </div>
        </div>
     
        @section Scripts{
        <script src="~/js/country.js" async crossorigin="anonymous"></script>

        }