  @section Css{
	  <style>
        .flip-card, .flip-card-click {
            display: inline-block;
            background-color: transparent;
            width: 300px;
            height: 300px;
            margin-right: 12px;
            margin-bottom: 12px;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            /*text-align: center;*/
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-card:hover .flip-card-inner,
        .flip-card:focus .flip-card-inner,
        .flip-card:focus-within .flip-card-inner,
        .flip-card:active .flip-card-inner,
        .flip-card-click:focus .flip-card-inner,
        .flip-card-click:active .flip-card-inner,
        .flip-card-click.flipped .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-inner:focus {
            
            cursor: pointer;
        }

        .flip-card-inner:hover {
            
            cursor: pointer;
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
        }

            .flip-card-front h2 {
                color: white;
                font-size: 16pt;
                font-weight: 500;
                padding: 10px;
            }

            .flip-card-front p, .flip-card-back p {
                padding: 10px;
                font-size: 16pt;
                color: white;
            }

        

        .flip-card-back {
            background-color: #008183;
            transform: rotateY(180deg);
        }
</style>

  }
<section class="event-search container pt-120">
       

        <div class="row g-3 justify-content-center">
            <div class="col col-4">
                <div class="flip-card">
                    <div class="flip-card-inner" tab-index="0">
                        <div class="flip-card-front">
                             <div class="card-body">
                                <h2 class="card-title text-center font-weight-bold text-dark">United Kingdom</h2>
                                <p class="card-text text-dark text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="flip-card-back" style="background-image:url('https://s30876.pcdn.co/wp-content/uploads/london-e1634207674493-1170x630.jpg.optimal.jpg');">
                            <div class="card-body">
                                <h2 class="card-title text-left font-weight-bold">United Kingdom</h2>
                                <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="/Country/Detail" class="btn btn-danger btn-lg">Learn More +</a>
                            </div>
       
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="flip-card">
              <div class="flip-card-inner" tab-index="0">
                <div class="flip-card-front">
                   <div class="card">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title font-weight-bold">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                </div>
                <div class="flip-card-back">
                  <p>Card 2 Back</p>
                </div>
              </div>
            </div>
            </div>
            <div class="col col-4">
                <div class="flip-card">
                    <div class="flip-card-inner" tab-index="0">
                        <div class="flip-card-front">
                            <h2>Card 2 Front</h2>
                        </div>
                        <div class="flip-card-back">
                            <p>Card 2 Back</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
               <div class="flip-card">
              <div class="flip-card-inner" tab-index="0">
                <div class="flip-card-front">
                  <h2>Card 2 Front</h2>
                </div>
                <div class="flip-card-back">
                  <p>Card 2 Back</p>
                </div>
              </div>
            </div>
            </div>
            <div class="col col-4">
                            <div class="flip-card">
              <div class="flip-card-inner" tab-index="0">
                <div class="flip-card-front">
                  <h2>Card 2 Front</h2>
                </div>
                <div class="flip-card-back">
                  <p>Card 2 Back</p>
                </div>
              </div>
            </div>
            </div>
            <div class="col col-4">
                           <div class="flip-card">
              <div class="flip-card-inner" tab-index="0">
                <div class="flip-card-front">
                  <h2>Card 2 Front</h2>
                </div>
                <div class="flip-card-back">
                  <p>Card 2 Back</p>
                </div>
              </div>
            </div>
            </div>
            <div class="col col-4">
                    <div class="flip-card">
                        <div class="flip-card-inner" tab-index="0">
                            <div class="flip-card-front">
                                <h2>Card 2 Front</h2>
                            </div>
                            <div class="flip-card-back">
                                <p>Card 2 Back</p>
                            </div>
                        </div>
                    </div>
	
            </div>
            <div class="col col-4">
                                <div class="flip-card">
                  <div class="flip-card-inner" tab-index="0">
                    <div class="flip-card-front">
                      <h2>Card 2 Front</h2>
                    </div>
                    <div class="flip-card-back">
                      <p>Card 2 Back</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="flip-card">
                    <div class="flip-card-inner" tab-index="0">
                        <div class="flip-card-front">
                            <h2>Card 2 Front</h2>
                        </div>
                        <div class="flip-card-back">
                            <p>Card 2 Back</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div></div>
            </div>
            <div class="col col-4">
                <div></div>
            </div>
        </div>

    </section>
  @section Scripts{
      <script>
        const card = document.querySelector(".card__inner");

        card.addEventListener("click", function (e) {
            card.classList.toggle('is-flipped');
        });
      </script>
  }