
@section Css{

     <link rel="stylesheet" href="~/css/scss/search.css"/>
     <link rel="stylesheet" href="~/css/scss/university1.css"/>
}
<div id="SearchPagePlaceholder" data-v-app="">
   <main class="sitewrapper">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
               <div class="ContainerWrapper">
                  <aside class="AsideDesktopContainer" style="overflow-y: scroll
; height: calc(100vh - 110px);">
                     <div>
                        <div class="FilterContainer">
                           <section  class="DisciplineFilterWrapper is-collapsed">
                              <header  onclick="showMenu(this)" class="RefineSectionHeading" data-v-e4cd2be6="">
                                 <i class="lnr-icons2 FilterIcon" data-v-e4cd2be6=""></i>
                                 <div class="Title" data-v-e4cd2be6=""> Discipline </div>
                                 <i class="ToggleIcon lnr-chevron-down"></i>
                              </header>
                              <ul class="RefineContentOptionsList" id="disciplinesSearch"  data-v-e4cd2be6="">
                              </ul>
                           </section>
                           <section class="LocationFilterWrapper is-collapsed">
                              <header onclick="showMenu(this)" class="RefineSectionHeading" data-v-7ddaecb1="">
                                 <i class="lnr-map-marker FilterIcon" data-v-7ddaecb1=""></i>
                                 <div class="Title" data-v-7ddaecb1=""> Location </div>
                                 <!--v-if--><!--v-if--><i class="ToggleIcon lnr-chevron-down" data-v-7ddaecb1=""></i>
                              </header>
                              <div class="RefineContentOptionsList" data-v-7ddaecb1="">
                                 <div class="LocationSwitcher" data-v-7ddaecb1=""><button type="button" class="CountrySwitcher is-active" data-v-7ddaecb1=""> Country </button><i class="lnr-arrows-switch SwitcherIcon" data-v-7ddaecb1=""></i><button type="button" class="ContinentSwitcher" data-v-7ddaecb1=""> Continent </button></div>
                                 <div class="CountryFilterWrapper" data-v-a8327806="" data-v-7ddaecb1="">
                                    <ul id="locationSearch" class="RefineContentOptionsList" data-v-a8327806="">
                                      
                                    </ul>
                                    <button type="button" class="AddCountry" data-v-a8327806=""><i class="lnr-plus" data-v-a8327806=""></i> Add </button><!--v-if-->
                                 </div>
                              </div>
                           </section>
                         
                           <section class="DurationFilterWrapper is-collapsed">
                              <header onclick="showMenu(this)" class="RefineSectionHeading">
                                 <i class="lnr-clock3 FilterIcon"></i>
                                 <div class="Title"> Duration </div>
                                 <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                              </header>
                              <ul class="RefineContentOptionsList">
                                 <li>
                                    <div data-v-035f772d=""><label data-v-035f772d=""><input type="radio" name="duration" class="CheckboxInput" data-filter="dur" value="[-1,359]" data-v-035f772d=""><span data-v-035f772d="">Less than 1 year</span><span class="Facet" data-v-035f772d="">2611</span></label></div>
                                 </li>
                                 <li>
                                    <div data-v-035f772d=""><label data-v-035f772d=""><input type="radio" name="duration" class="CheckboxInput" data-filter="dur" value="[360,360]" data-v-035f772d=""><span data-v-035f772d="">1 year</span><span class="Facet" data-v-035f772d="">37209</span></label></div>
                                 </li>
                                 <li>
                                    <div data-v-035f772d=""><label data-v-035f772d=""><input type="radio" name="duration" class="CheckboxInput" data-filter="dur" value="[540,540]" data-v-035f772d=""><span data-v-035f772d="">1½ years</span><span class="Facet" data-v-035f772d="">3659</span></label></div>
                                 </li>
                                 <li>
                                    <div data-v-035f772d=""><label data-v-035f772d=""><input type="radio" name="duration" class="CheckboxInput" data-filter="dur" value="[720,720]" data-v-035f772d=""><span data-v-035f772d="">2 years</span><span class="Facet" data-v-035f772d="">25867</span></label></div>
                                 </li>
                                 <li>
                                                    <div data-v-035f772d=""><label data-v-035f772d=""><input type="radio" name="duration" class="CheckboxInput" data-filter="dur" value="[721,-1]" data-v-035f772d=""><span data-v-035f772d="">More than 2 years</span><span class="Facet" data-v-035f772d="">3815</span></label></div>
                                 </li>
                              </ul>
                           </section>
                          
                           <section class="AttendanceFilterWrapper is-collapsed">
                              <header onclick="showMenu(this)" class="RefineSectionHeading">
                                 <i class="lnr-apartment FilterIcon"></i>
                                 <div class="Title"> Attendance </div>
                                 <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                              </header>
                              <ul class="RefineContentOptionsList">
                                 <li>
                                    <div data-v-035f772d=""><label data-v-035f772d=""><input type="radio" name="attendence" class="CheckboxInput" data-filter="mh" value="face2face" data-v-035f772d=""><span data-v-035f772d="">Online</span><span class="Facet" data-v-035f772d=""></span></label></div>
                                 </li>
                                 <li>
                                                    <div data-v-035f772d=""><label data-v-035f772d=""><input type="radio" name="attendence" class="CheckboxInput" data-filter="mh" value="online" data-v-035f772d=""><span data-v-035f772d="">Offline</span><span class="Facet" data-v-035f772d=""></span></label></div>
                                 </li>
                                 <li>
                                 </li>
                              </ul>
                           </section>
                           <section class="DegreeTypeFilterWrapper is-collapsed">
                              <header onclick="showMenu(this)" class="RefineSectionHeading">
                                 <i class="lnr-graduation-hat FilterIcon"></i>
                                 <div class="Title"> Degree Type </div>
                                 <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                              </header>
                              <ul id="searchProgram" class="RefineContentOptionsList">
                                
                              </ul>
                           </section>                          
                        </div>
                     </div>
                  </aside>
                  <article class="MainContainer">
                     <template class="MobileOnlyBlock">
                         <span class="SearchSummary"> 84449 Masters </span>
                     </template>
                     <div class="MainHeader">
                        <header class="HeaderContainer">
                           <template class="DesktopOnlyBlock"> 
                               <h1 class="PageTitle">"" Master's degrees</h1>
                           </template>
                           <div class="HeaderSectionWrapper">
                              <template class="DesktopOnlyBlock">
                                   <span class="SearchSummary"> 84449 Masters </span>
                              </template>
                              <template class="MobileOnlyBlock"> 
                                <span class="PageTitle MobileOnlyBlock"> 84449 Masters </span>  
                                <button class="FilterButtonMobile MobileOnlyBlock" type="button">
                                    <i class="lnr-equalizer"></i>
                                    " Filters "
                                </button>
                              </template>
                           </div>
                        </header>
                        <div class="Hidden">
                           <aside>
                              <div class="FilterLabel"><i class="lnr-equalizer"></i> Filters </div>
                              <div>
                                 <div class="FilterContainer">
                                    <section class="DisciplineFilterWrapper" data-v-e4cd2be6="">
                                       <header class="RefineSectionHeading" data-v-e4cd2be6="">
                                          <i class="lnr-icons2 FilterIcon" data-v-e4cd2be6=""></i>
                                          <div class="Title" data-v-e4cd2be6=""> Discipline </div>
                                          <!--v-if--><i class="ToggleIcon lnr-chevron-up" data-v-e4cd2be6=""></i>
                                       </header>
                                       <ul class="RefineContentOptionsList" data-v-e4cd2be6="">
                                          <li class="Hidden" data-v-e4cd2be6=""><button class="ShowMainDisciplines" type="button" data-v-e4cd2be6=""><i class="lnr-arrow-left" data-v-e4cd2be6=""></i><span data-v-e4cd2be6="">All disciplines</span></button></li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-tree" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Agriculture &amp; Forestry</span><span class="Facet" data-v-e4cd2be6="">1554</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-microscope" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Applied Sciences &amp; Professions</span><span class="Facet" data-v-e4cd2be6="">3686</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-magic-wand" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Arts, Design &amp; Architecture</span><span class="Facet" data-v-e4cd2be6="">8039</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-briefcase" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Business &amp; Management</span><span class="Facet" data-v-e4cd2be6="">21402</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-cli" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Computer Science &amp; IT</span><span class="Facet" data-v-e4cd2be6="">8673</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-book2" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Education &amp; Training</span><span class="Facet" data-v-e4cd2be6="">9524</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-rulers" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Engineering &amp; Technology</span><span class="Facet" data-v-e4cd2be6="">11639</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-earth" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Environmental Studies &amp; Earth Sciences</span><span class="Facet" data-v-e4cd2be6="">5548</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-boat" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Hospitality, Leisure &amp; Sports</span><span class="Facet" data-v-e4cd2be6="">2101</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-pen2" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Humanities</span><span class="Facet" data-v-e4cd2be6="">9452</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-camera" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Journalism &amp; Media</span><span class="Facet" data-v-e4cd2be6="">1948</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-balance" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Law</span><span class="Facet" data-v-e4cd2be6="">3385</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-first-aid" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Medicine &amp; Health</span><span class="Facet" data-v-e4cd2be6="">12870</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-beaker" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Natural Sciences &amp; Mathematics</span><span class="Facet" data-v-e4cd2be6="">12738</span></div>
                                          </li>
                                          <li data-filter="di" class="Discipline Discipline" data-v-e4cd2be6="">
                                             <div class="MainDiscipline" data-v-e4cd2be6=""><i class="DisciplineIcon lnr-bubbles" data-v-e4cd2be6=""></i><span class="DisciplineName" data-v-e4cd2be6="">Social Sciences</span><span class="Facet" data-v-e4cd2be6="">17059</span></div>
                                          </li>
                                          <!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if-->
                                       </ul>
                                    </section>
                                    <section class="LocationFilterWrapper is-collapsed" data-v-7ddaecb1="">
                                       <header class="RefineSectionHeading" data-v-7ddaecb1="">
                                          <i class="lnr-map-marker FilterIcon" data-v-7ddaecb1=""></i>
                                          <div class="Title" data-v-7ddaecb1=""> Location </div>
                                          <!--v-if--><!--v-if--><i class="ToggleIcon lnr-chevron-down" data-v-7ddaecb1=""></i>
                                       </header>
                                       <div class="RefineContentOptionsList" data-v-7ddaecb1="">
                                          <div class="LocationSwitcher" data-v-7ddaecb1=""><button type="button" class="CountrySwitcher is-active" data-v-7ddaecb1=""> Country </button><i class="lnr-arrows-switch SwitcherIcon" data-v-7ddaecb1=""></i><button type="button" class="ContinentSwitcher" data-v-7ddaecb1=""> Continent </button></div>
                                          <div class="CountryFilterWrapper" data-v-a8327806="" data-v-7ddaecb1="">
                                             <ul class="RefineContentOptionsList" data-v-a8327806="">
                                                <li data-v-a8327806="">
                                                   <div class="" data-v-01633eac="" data-v-a8327806="">
                                                      <label class="CheckboxRow" data-v-01633eac="">
                                                         <div data-v-01633eac=""><input type="checkbox" class="CheckboxInput" data-filter="ci" value="30" data-v-01633eac=""><span data-v-01633eac="">United Kingdom</span></div>
                                                         <div class="FacetContainer" data-v-01633eac="">
                                                            <span class="Facet" data-v-01633eac="">18445</span>
                                                            <div class="AreaSwitcher" data-v-01633eac=""><i class="ToggleIcon lnr-chevron-down" data-v-01633eac=""></i></div>
                                                         </div>
                                                      </label>
                                                   </div>
                                                   <ul class="AreaFilterWrapper" data-v-dd3ea9ca="" data-v-a8327806="">
                                                      <!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if-->
                                                   </ul>
                                                </li>
                                                <li data-v-a8327806="">
                                                   <div class="" data-v-01633eac="" data-v-a8327806="">
                                                      <label class="CheckboxRow" data-v-01633eac="">
                                                         <div data-v-01633eac=""><input type="checkbox" class="CheckboxInput" data-filter="ci" value="82" data-v-01633eac=""><span data-v-01633eac="">United States</span></div>
                                                         <div class="FacetContainer" data-v-01633eac="">
                                                            <span class="Facet" data-v-01633eac="">33852</span>
                                                            <div class="AreaSwitcher" data-v-01633eac=""><i class="ToggleIcon lnr-chevron-down" data-v-01633eac=""></i></div>
                                                         </div>
                                                      </label>
                                                   </div>
                                                   <ul class="AreaFilterWrapper" data-v-dd3ea9ca="" data-v-a8327806="">
                                                      <!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if-->
                                                   </ul>
                                                </li>
                                                <li data-v-a8327806="">
                                                   <div class="" data-v-01633eac="" data-v-a8327806="">
                                                      <label class="CheckboxRow" data-v-01633eac="">
                                                         <div data-v-01633eac=""><input type="checkbox" class="CheckboxInput" data-filter="ci" value="202" data-v-01633eac=""><span data-v-01633eac="">Australia</span></div>
                                                         <div class="FacetContainer" data-v-01633eac="">
                                                            <span class="Facet" data-v-01633eac="">3296</span>
                                                            <div class="AreaSwitcher" data-v-01633eac=""><i class="ToggleIcon lnr-chevron-down" data-v-01633eac=""></i></div>
                                                         </div>
                                                      </label>
                                                   </div>
                                                   <ul class="AreaFilterWrapper" data-v-dd3ea9ca="" data-v-a8327806="">
                                                      <!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if-->
                                                   </ul>
                                                </li>
                                                <li data-v-a8327806="">
                                                   <div class="Indented" data-v-01633eac="" data-v-a8327806="">
                                                      <label class="CheckboxRow" data-v-01633eac="">
                                                         <div data-v-01633eac=""><input type="checkbox" class="CheckboxInput" data-filter="ci" value="11" data-v-01633eac=""><span data-v-01633eac="">Germany</span></div>
                                                         <div class="FacetContainer" data-v-01633eac="">
                                                            <span class="Facet" data-v-01633eac="">1746</span><!--v-if-->
                                                         </div>
                                                      </label>
                                                   </div>
                                                   <!--v-if-->
                                                </li>
                                                <li data-v-a8327806="">
                                                   <div class="Indented" data-v-01633eac="" data-v-a8327806="">
                                                      <label class="CheckboxRow" data-v-01633eac="">
                                                         <div data-v-01633eac=""><input type="checkbox" class="CheckboxInput" data-filter="ci" value="56" data-v-01633eac=""><span data-v-01633eac="">Canada</span></div>
                                                         <div class="FacetContainer" data-v-01633eac="">
                                                            <span class="Facet" data-v-01633eac="">2950</span><!--v-if-->
                                                         </div>
                                                      </label>
                                                   </div>
                                                   <!--v-if-->
                                                </li>
                                             </ul>
                                             <button type="button" class="AddCountry" data-v-a8327806=""><i class="lnr-plus" data-v-a8327806=""></i> Add </button><!--v-if-->
                                          </div>
                                       </div>
                                    </section>
                                    <section class="TuitionFeeFilterWrapper is-collapsed" data-v-f6dfdbf8="">
                                       <header class="RefineSectionHeading" data-v-f6dfdbf8="">
                                          <i class="lnr-bag-coins FilterIcon" data-v-f6dfdbf8=""></i>
                                          <div class="Title" data-v-f6dfdbf8=""> Tuition Fee </div>
                                          <!--v-if--><i class="ToggleIcon lnr-chevron-down" data-v-f6dfdbf8=""></i>
                                       </header>
                                       <ul class="RefineContentOptionsList" data-v-f6dfdbf8="">
                                          <li data-v-f6dfdbf8="">
                                             <div data-v-035f772d="" data-v-f6dfdbf8=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="tr" value="[0,500]" data-v-035f772d=""><span data-v-035f772d="">0-500</span><span class="Facet" data-v-035f772d="">EUR</span></label></div>
                                          </li>
                                          <li data-v-f6dfdbf8="">
                                             <div data-v-035f772d="" data-v-f6dfdbf8=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="tr" value="[500,1000]" data-v-035f772d=""><span data-v-035f772d="">500-1,000</span><span class="Facet" data-v-035f772d="">EUR</span></label></div>
                                          </li>
                                          <li data-v-f6dfdbf8="">
                                             <div data-v-035f772d="" data-v-f6dfdbf8=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="tr" value="[1000,5000]" data-v-035f772d=""><span data-v-035f772d="">1,000-5,000</span><span class="Facet" data-v-035f772d="">EUR</span></label></div>
                                          </li>
                                          <li data-v-f6dfdbf8="">
                                             <div data-v-035f772d="" data-v-f6dfdbf8=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="tr" value="[5000,10000]" data-v-035f772d=""><span data-v-035f772d="">5,000-10,000</span><span class="Facet" data-v-035f772d="">EUR</span></label></div>
                                          </li>
                                          <li data-v-f6dfdbf8="">
                                             <div data-v-035f772d="" data-v-f6dfdbf8=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="tr" value="[10000,20000]" data-v-035f772d=""><span data-v-035f772d="">10,000-20,000</span><span class="Facet" data-v-035f772d="">EUR</span></label></div>
                                          </li>
                                          <li data-v-f6dfdbf8="">
                                             <div data-v-035f772d="" data-v-f6dfdbf8=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="tr" value="[20000,-1]" data-v-035f772d=""><span data-v-035f772d="">20,000+</span><span class="Facet" data-v-035f772d="">EUR</span></label></div>
                                          </li>
                                       </ul>
                                       <button class="RefineContentOptionsList ChangeCurrency" type="button" data-v-f6dfdbf8=""><i class="lnr-cash-euro" data-v-f6dfdbf8=""></i> Change currency</button>
                                    </section>
                                    <section class="DurationFilterWrapper is-collapsed">
                                       <header class="RefineSectionHeading">
                                          <i class="lnr-clock3 FilterIcon"></i>
                                          <div class="Title"> Duration </div>
                                          <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                                       </header>
                                       <ul class="RefineContentOptionsList">
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dur" value="[-1,359]" data-v-035f772d=""><span data-v-035f772d="">Less than 1 year</span><span class="Facet" data-v-035f772d="">2611</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dur" value="[360,360]" data-v-035f772d=""><span data-v-035f772d="">1 year</span><span class="Facet" data-v-035f772d="">37209</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dur" value="[540,540]" data-v-035f772d=""><span data-v-035f772d="">1½ years</span><span class="Facet" data-v-035f772d="">3659</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dur" value="[720,720]" data-v-035f772d=""><span data-v-035f772d="">2 years</span><span class="Facet" data-v-035f772d="">25867</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dur" value="[721,-1]" data-v-035f772d=""><span data-v-035f772d="">More than 2 years</span><span class="Facet" data-v-035f772d="">3815</span></label></div>
                                          </li>
                                       </ul>
                                    </section>
                                    <section class="FormatFilterWrapper is-collapsed">
                                       <header class="RefineSectionHeading">
                                          <i class="lnr-calendar-full FilterIcon"></i>
                                          <div class="Title"> Format </div>
                                          <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                                       </header>
                                       <ul class="RefineContentOptionsList">
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="de" value="fulltime" data-v-035f772d=""><span data-v-035f772d="">Full-time</span><span class="Facet" data-v-035f772d="">75303</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="de" value="parttime" data-v-035f772d=""><span data-v-035f772d="">Part-time</span><span class="Facet" data-v-035f772d="">29267</span></label></div>
                                          </li>
                                       </ul>
                                    </section>
                                    <section class="AttendanceFilterWrapper is-collapsed">
                                       <header class="RefineSectionHeading">
                                          <i class="lnr-apartment FilterIcon"></i>
                                          <div class="Title"> Attendance </div>
                                          <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                                       </header>
                                       <ul class="RefineContentOptionsList">
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="mh" value="face2face" data-v-035f772d=""><span data-v-035f772d="">On Campus Learning</span><span class="Facet" data-v-035f772d="">74042</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="mh" value="online" data-v-035f772d=""><span data-v-035f772d="">Online Learning</span><span class="Facet" data-v-035f772d="">12772</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="mh" value="blended" data-v-035f772d=""><span data-v-035f772d="">Blended Learning</span><span class="Facet" data-v-035f772d="">3778</span></label></div>
                                          </li>
                                       </ul>
                                    </section>
                                    <section class="DegreeTypeFilterWrapper is-collapsed">
                                       <header class="RefineSectionHeading">
                                          <i class="lnr-graduation-hat FilterIcon"></i>
                                          <div class="Title"> Degree Type </div>
                                          <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                                       </header>
                                       <ul class="RefineContentOptionsList">
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="msc" data-v-035f772d=""><span data-v-035f772d="">M.Sc. Master of Science</span><span class="Facet" data-v-035f772d="">32010</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="ma" data-v-035f772d=""><span data-v-035f772d="">M.A. Master of Arts</span><span class="Facet" data-v-035f772d="">14619</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="mba" data-v-035f772d=""><span data-v-035f772d="">M.B.A. Master of Business Administration</span><span class="Facet" data-v-035f772d="">3436</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="llm" data-v-035f772d=""><span data-v-035f772d="">LL.M. Master of Laws</span><span class="Facet" data-v-035f772d="">1456</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="mphil" data-v-035f772d=""><span data-v-035f772d="">M.Phil. Master of Philosophy</span><span class="Facet" data-v-035f772d="">1186</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="mlitt" data-v-035f772d=""><span data-v-035f772d="">M.Litt. Master of Letters</span><span class="Facet" data-v-035f772d="">157</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="mres" data-v-035f772d=""><span data-v-035f772d="">M.Res. Master of Research</span><span class="Facet" data-v-035f772d="">702</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="med" data-v-035f772d=""><span data-v-035f772d="">M.Ed. Master of Education</span><span class="Facet" data-v-035f772d="">2329</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="meng" data-v-035f772d=""><span data-v-035f772d="">M.Eng. Master of Engineering</span><span class="Facet" data-v-035f772d="">1062</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="postgraddip" data-v-035f772d=""><span data-v-035f772d="">Postgraduate Diploma</span><span class="Facet" data-v-035f772d="">915</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="postgradcert" data-v-035f772d=""><span data-v-035f772d="">Postgraduate Certificate</span><span class="Facet" data-v-035f772d="">2229</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="dg" value="premaster" data-v-035f772d=""><span data-v-035f772d="">Pre-Master</span><span class="Facet" data-v-035f772d="">1331</span></label></div>
                                          </li>
                                       </ul>
                                    </section>
                                    <section class="SpecialProgrammesFilterWrapper is-collapsed">
                                       <header class="RefineSectionHeading">
                                          <i class="lnr-license FilterIcon"></i>
                                          <div class="Title"> Special Programmes </div>
                                          <!--v-if--><i class="ToggleIcon lnr-chevron-down"></i>
                                       </header>
                                       <ul class="RefineContentOptionsList">
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="sps" value="executive" data-v-035f772d=""><span data-v-035f772d="">Executive Programmes</span><span class="Facet" data-v-035f772d="">695</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="sps" value="joint" data-v-035f772d=""><span data-v-035f772d="">Joint Programmes</span><span class="Facet" data-v-035f772d="">986</span></label></div>
                                          </li>
                                          <li>
                                             <div data-v-035f772d=""><label data-v-035f772d=""><input type="checkbox" class="CheckboxInput" data-filter="sps" value="erasmus" data-v-035f772d=""><span data-v-035f772d="">Erasmus Mundus Joint Doctorates</span><span class="Facet" data-v-035f772d="">207</span></label></div>
                                          </li>
                                       </ul>
                                    </section>
                                 </div>
                                 <!--v-if--><!--v-if--><!--v-if--><!--v-if-->
                              </div>
                              <div class="ShowResultsButtonContainer"><button class="ShowResults" type="button"> Show 84449 results </button></div>
                           </aside>
                        </div>
                     </div>
                     <div class="MobileOnlyBlock">
                        
                     </div>
                     <section>
                        <!--v-if-->
                        <ul id="searchContent" class="SearchResultsList">
                           <li class="HoverEffect SearchResultItem">
                              <a class="SearchStudyCard js-bestFitStudycard" href="https://www.mastersportal.com/studies/63138/psychology-theory-and-research.html?ref=search_card" target="_blank" data-v-0363ab3a="">
                                 <article data-v-0363ab3a="">
                                    <header class="CardHeader" data-v-0363ab3a="">
                                       <h2 class="StudyName" data-v-0363ab3a="">Psychology - Theory and Research</h2>
                                    
                                    </header>
                                    <div class="StudyInfo" data-v-0363ab3a="">
                          
                                       <div class="SummaryContainer is-collapsed" data-v-0363ab3a="">
                                          <p class="Summary is-collapsed" data-v-0363ab3a="">The research masters Psychology - Theory and Research programme from&nbsp;KU Leuven aims at guiding students to become independent researchers in psychological science.&nbsp;</p>
                                          <button type="button" class="ToggleDescription is-collapsed" data-v-0363ab3a=""><i class="ToggleIcon lnr-chevron-down" data-v-0363ab3a=""></i></button>
                                       </div>
                                    </div>
                                    <span class="SecondaryFacts DesktopOnlyBlock" data-v-0363ab3a="">M.Sc. <span class="Divider" data-v-0363ab3a="">/</span> Full-time <span class="Divider" data-v-0363ab3a="">/</span> On Campus</span>
                                    <div class="OrganisationInfo" data-v-0363ab3a="">
                                       <img class="OrganisationLogo" src="//storage-prtl-co.imgix.net/mp/5de0e840d74b.png?fit=fill&amp;fill=solid&amp;fill-color=00FFFFFF&amp;w=48&amp;h=48&amp;auto=format,compress" alt="KU Leuven" width="48" height="48" loading="lazy" data-v-0363ab3a="">
                                       <div class="NameLocation" data-v-0363ab3a=""><strong class="OrganisationName" data-v-0363ab3a="">KU Leuven</strong><strong class="OrganisationLocation" data-v-0363ab3a="">Leuven, Belgium</strong></div>
                                       <div class="Promoted" data-v-0363ab3a="">
                                          <div class="Featured" data-study-id="63138" data-v-0363ab3a="" style="position: relative;">
                                             Featured <i class="DesktopOnlyBlock lnr-info FeaturedIcon" data-v-0363ab3a=""></i>
                                             <div class="Tooltip Bottom" style="display: none;">
                                                <div class="TooltipInner">
                                                   The university partners with us for this programme to reach students like you.
                                                </div>
                                                <div class="TooltipArrow"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </article>
                                 <div class="TrackingEvent TrackingRetrigger" data-action="impr" data-type="study" data-id="63138" data-description="Psychology - Theory and Research" data-label="premium" data-v-2c69491c="" data-v-0363ab3a=""></div>
                              </a>
                           </li>
                          
                          
                          
                           
                          
                          
                         
                          
                           
                        </ul>
                        <!--v-if-->
                        <div>
                           <!--v-if--><!--v-if-->
                        </div>
                     </section>
                     <!--v-if-->
                  </article>
               </div>
            </div>
         </div>
      </div>
   </main>
</div>
@section Scripts{
    <script src="~/js/search.js" async crossorigin="anonymous"></script>
    <script>
        function showMenu(element){
            if (element.parentElement.classList.contains("is-collapsed")) {
                 element.parentElement.classList.remove("is-collapsed");
                element.lastElementChild.classList.remove("lnr-chevron-down");
                element.lastElementChild.classList.add("lnr-chevron-up");
            }else{
                 element.parentElement.classList.add("is-collapsed");
                element.lastElementChild.classList.add("lnr-chevron-down");
                element.lastElementChild.classList.remove("lnr-chevron-up");
            }
           

        }
    </script>
}