<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Update Speciality</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Speciality</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12">
                    <form id="form" class="card">
                        <div class="card-header">
                            <div class="card-title">Update Speciality</div>
                        </div>
                        <div  class="card-body">
                            <div id="form">

                            </div>
                            <div class="row">
                                    <label class="col-md-3 form-label mb-4">Direction</label>
                                    <div class="col-md-9 mb-4">
                                        <select  id="directionid">
                                        </select>
                                    </div>
                                </div>
                            <!--End Row-->
                        </div>
                        <div class="card-footer">
                            <!--Row-->
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <a id="updateSpeciality" class="btn btn-primary">Update Speciality</a>
                                </div>
                            </div>
                            <!--End Row-->
                        </div>
                    </form>
                </div>
            </div>
            <!-- /ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
@section Scripts {
    <script src="~/AdminFiles/js/update-speciality.js"></script>
    <script>
        $("#form :input").change(function () {

            $("#form").data("changed", true);
        });
        var isClicked = false;
        $('#updateSpeciality').on('click', function (evt) {
            debugger;
            isClicked = true;
        });
        debugger;

        window.addEventListener("beforeunload", function (e) {
            var confirmationMessage = 'It looks like you have been editing something. '
                + 'If you leave before saving, your changes will be lost.';

            (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            debugger;
            if ($("#form").data("changed") && isClicked == false) {

                return confirmationMessage;

            }

            //Gecko + Webkit, Safari, Chrome etc.
        });






    </script>
        }
