
<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sash – Bootstrap 5  Admin & Dashboard Template">
    <meta name="author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">
    
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />

    <!-- TITLE -->
    <title>InStudy | Admin</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="~/AdminFiles/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="~/AdminFiles/css/style.css" rel="stylesheet" />
    <link href="~/AdminFiles/css/dark-style.css" rel="stylesheet" />
    <link href="~/AdminFiles/css/transparent-style.css" rel="stylesheet">
    <link href="~/AdminFiles/css/skin-modes.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="~/AdminFiles/css/icons.css" rel="stylesheet" />
    
    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/AdminFiles/colors/color1.css" />
             @RenderSection("Css",false);
<style>
        b, strong {
            font-weight: bolder !important;
        }
        ul {
    list-style: disc;
}
table.dataTable {
    clear: unset !important;
    margin-top: unset !important;
    margin-bottom: unset !important;
    max-width: unset !important;
    border-collapse: unset !important;
    border-spacing: unset !important;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: unset !important;
}
</style>
</head>

<body class="app sidebar-mini ltr light-mode">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="~/AdminFiles/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="index.html">
                            <img src="~/~/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="~/~/images/brand/logo-3.png" class="header-brand-img light-logo1"
                                alt="logo">
                        </a>
                        <!-- LOGO -->
                        @*<div class="main-header-center ms-3 d-none d-lg-block">
                            <input type="text" class="form-control" id="typehead" placeholder="Search for results..." autocomplete="off">
                            <button class="btn px-0 pt-2"><i class="fe fe-search" aria-hidden="true"></i></button>
                        </div>*@
                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            <!-- SEARCH -->
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex order-lg-2">
                                        
                                       
                                        <!-- COUNTRY -->
                                        <div class="d-flex country">
                                            <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                                <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                                <span class="light-layout"><i class="fe fe-sun"></i></span>
                                            </a>
                                        </div>
                                        <!-- Theme-Layout -->
                                     
                                        <!-- CART -->
                                        <div class="dropdown d-flex">
                                            <a class="nav-link icon full-screen-link nav-link-bg">
                                                <i class="fe fe-minimize fullscreen-button"></i>
                                            </a>
                                        </div>
                                        <!-- FULL-SCREEN -->
                                       
                                        <!-- NOTIFICATIONS -->
                                        <div class="dropdown  d-flex message">
                                            <a class="nav-link icon text-center" id="notificationHead" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fe fe-message-square"></i>
                                               
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" data-bs-popper="none">
                                                <div class="drop-heading border-bottom">
                                                    <div class="d-flex">
                                                        <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">
                                                            You have
                                                            Messages
                                                        </h6>
                                                        <div class="ms-auto">
                                                            @*<a href="javascript:void(0)" class="text-muted p-0 fs-12">make all unread</a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="message-menu message-menu-scroll ps">
                                                    <div id="notifications">
                                                        
                                                        
                                                    </div>
                                                   
                                                    
                                                   
                                                   

                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a asp-area="Admin" asp-action="NonSeedRequestList" asp-controller="Request" class="dropdown-item text-center p-3 text-muted">
                                                    See all
                                                    Messages
                                                </a>
                                            </div>
                                        </div>
                                        <!-- MESSAGE-BOX -->
                                        <div class="dropdown d-flex header-settings">
                                            <a href="/Home/Index" class="nav-link icon">
                                                
                                                <i class="fe fe-home"></i>
                                            </a>
                                        </div>
                                        <!-- SIDE-MENU -->
                                        <div class="dropdown d-flex profile-1">
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">
                                                <img src="~/images/favicon.png" alt="profile-user"
                                                    class="avatar  profile-user brround cover-image">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <a class="dropdown-item" href="#" id="logOut">
                                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar" style="overflow: auto;">
                    <div class="side-header">
                      
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>GoStudy</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-book"></i><span class="side-menu__label">GoStudy</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="List" asp-controller="GoStudy">GoStudy List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddGoStudy" asp-controller="GoStudy">Add GoStudy</a></li>
                                      <li class="slide-item"><a asp-area="Admin" asp-action="HeaderList" asp-controller="GoStudy">GoStudy Header List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddHeader" asp-controller="GoStudy">Add GoStudy Header</a></li>
                                </ul>
                            </li> 
                            <li class="sub-category">
                                <h3>About</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">About</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AboutList" asp-controller="About">About List</a></li>
                                     <li class="slide-item"><a asp-area="Admin" asp-action="AddAbout" asp-controller="About">Add About</a></li>
                                </ul>
                            </li>
                            <li class="sub-category">
                                <h3>Country</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-map-pin"></i><span class="side-menu__label">Country</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="CountryList" asp-controller="Country">Country List</a></li>
                                     <li class="slide-item"><a asp-area="Admin" asp-action="AddCountry" asp-controller="Country">Add Coutry</a></li>
                                      <li class="slide-item"><a href="/Country/Index">Country Page</a></li>
                                </ul>
                            </li>
                              <li class="sub-category">
                                <h3>Direction</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-map"></i><span class="side-menu__label">Disciplines</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="DirectionList" asp-controller="Direction">Disciplines List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddDirection" asp-controller="Direction">Add Disciplines</a></li>
                                </ul>
                            </li>
                            <li class="sub-category">
                                <h3>University</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-book-open"></i><span class="side-menu__label">University</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="UniversityList" asp-controller="University">University List</a></li>
                                     <li class="slide-item"><a asp-area="Admin" asp-action="AddUniversity" asp-controller="University">Add University</a></li>
                                </ul>
                            </li> <li class="sub-category">
                                <h3>Faculty</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-bookmark"></i><span class="side-menu__label">Faculty</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="SpecialityList" asp-controller="Speciality">Faculty List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddSpeciality" asp-controller="Speciality">Add Faculty</a></li>
                                </ul>
                            </li>
                            <li class="sub-category">
                                <h3>Degree</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-award"></i><span class="side-menu__label">Degree</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="ProgramList" asp-controller="Program">Degree List</a></li>
                                     <li class="slide-item"><a asp-area="Admin" asp-action="AddProgram" asp-controller="Program">Add Degree</a></li>
                                </ul>
                            </li>  
                            <li class="sub-category">
                                <h3>Partner</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-link"></i><span class="side-menu__label">Partner</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="List" asp-controller="Partner">Partner List</a></li>
                                     <li class="slide-item"><a asp-area="Admin" asp-action="AddPartner" asp-controller="Partner">Add Partner</a></li>
                                </ul>
                            </li> 
                            <li class="sub-category">
                                <h3>Student Comments</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-message-square"></i><span class="side-menu__label">Comments</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="List" asp-controller="StudentWords">Comment List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddStudentWords" asp-controller="StudentWords">Add Comment</a></li>
                                </ul>
                            </li> 

                          
                             <li class="sub-category">
                                <h3>Articles</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-cast"></i><span class="side-menu__label">Articles</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="List" asp-controller="Blog">Articles List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddBlog" asp-controller="Blog">Add Articles</a></li>

                                </ul>
                            </li>  
                         
                            @*<li class="sub-category">
                                <h3>Duration</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-clock"></i><span class="side-menu__label">Duration</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="List" asp-controller="Duration">Duration List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddDuration" asp-controller="Duration">Add Duration</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="DurationTypeList" asp-controller="Duration">Duration Type List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddDurationType" asp-controller="Duration">Add Duration Type</a></li>

                                </ul>
                            </li>*@
                           
                            <li class="sub-category">
                                <h3>Student Requests</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-mail"></i><span class="side-menu__label">Student Requests</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="RequestList" asp-controller="Request">Requests</a></li> 
                                    <li class="slide-item"><a asp-area="Admin" asp-action="NonSeedRequestList" asp-controller="Request">Non Seed Requests</a></li>
                                </ul>
                            </li> 
                             <li class="sub-category">
                                <h3>Headers</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Direction Headers</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="DirectionHeader" asp-controller="Header">Direction Header</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddDirectionHeader" asp-controller="Header">Add Direction Header</a></li>
                                </ul>
                            </li> 
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Country Headers</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="CountryHeader" asp-controller="Header">Country Header</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddCountryHeader" asp-controller="Header">Add Country Header</a></li>
                                </ul>
                            </li> 
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Comments Headers</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="CommentsHeader" asp-controller="Header">Comments Header</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddCommentsHeader" asp-controller="Header">Add Comments Header</a></li>
                                </ul>
                            </li>  
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Partners Headers</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="PartnersHeader" asp-controller="Header">Partners Header</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddPartnersHeader" asp-controller="Header">Add Partners Header</a></li>
                                </ul>
                            </li> 
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Arcticles Headers</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="ArcticlesHeader" asp-controller="Header">Arcticles Header</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddArcticlesHeader" asp-controller="Header">Add Arcticles Header</a></li>
                                </ul>
                            </li> 
                            <li class="sub-category">
                                <h3>Site Content</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">Site Headers</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="HeaderList" asp-controller="Content">Home Page Header</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddHeader" asp-controller="Content">Add Home Page Header</a></li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">Home Onboarding</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="OnboardingList" asp-controller="Content">Onboarding List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddOnboarding" asp-controller="Content">Add Onboarding</a></li>
                                </ul>
                            </li>
                             @*<li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Questions</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="QuestionList" asp-controller="Content">Questions List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="PageQuestion" asp-controller="Content">Page Question</a></li>
                                </ul>
                            </li> *@
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-help-circle"></i><span class="side-menu__label">Questions</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="QuestionList" asp-controller="Content">Questions List</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddQuestion" asp-controller="Content">Add Question</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="PageQuestion" asp-controller="Content">Page Question</a></li>
                                    <li class="slide-item"><a asp-area="Admin" asp-action="AddShowedQuestion" asp-controller="Content">Add Page Question</a></li>
                                </ul>
                            </li>
                            
                          
                           @* <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Meetings</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="FainaAdmin" asp-action="MeetingList" asp-controller="Meetings">All Meetings</a></li>
                                    <li class="slide-item"><a asp-area="FainaAdmin" asp-action="ActiveMeetings" asp-controller="Meetings">Active Meetings</a></li>
                                    <li class="slide-item"><a asp-area="FainaAdmin" asp-action="ApprovedMeetings" asp-controller="Meetings">Approved Meetings</a></li>
                                    <li class="slide-item"><a asp-area="FainaAdmin" asp-action="CanceledMeetings" asp-controller="Meetings">Canceled Meetings</a></li>
                                    <li class="slide-item"><a  href="/Calendar/Index">Calendar</a></li>

                                </ul>
                            </li>*@
                             <li class="sub-category">
                                <h3>Users</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-users"></i><span class="side-menu__label">User</span><i class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="slide-item"><a asp-area="Admin" asp-action="List" asp-controller="User">Users</a></li>
                                </ul>
                            </li>
                            
                            
                            
                           
                            
                            
                        
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div> 
            @RenderBody()
        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 text-center">
                        Copyright © <span id="year"></span> <a href="javascript:void(0)">TooGoo</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> TooGoo </a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER CLOSED -->
    </div>
     <div class="modal fade" id="updateMeetingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Meeting</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                                                        
            <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form34">Meeting Id</label>
                <input type="text"  readonly id="updatemetingId">
            </div>
            <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form34">Aproved UserName</label>
                <input type="text" id="approvedBy">
            </div>
                <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form34">Status</label>
                <select name="statuses" id="statusId">
                  <option value="0">Active</option>
                  <option value="1">Approved</option>
                  <option value="2">Canceled</option>
                </select>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="updateMeeting" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
    <!-- BOOTSTRAP JS -->
    <script src="~/AdminFiles/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/AdminFiles/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- INPUT MASK JS-->
    <script src="~/AdminFiles/plugins/input-mask/jquery.mask.min.js"></script>
 
    <!-- SIDE-MENU JS -->
    <script src="~/AdminFiles/plugins/sidemenu/sidemenu.js"></script>

	<!-- TypeHead js -->


    <!-- INTERNAL SELECT2 JS -->
    <script src="~/AdminFiles/plugins/select2/select2.full.min.js"></script>

    <!-- DATA TABLE JS-->
    <script src="~/AdminFiles/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/AdminFiles/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminFiles/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/AdminFiles/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/AdminFiles/js/table-data.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js">
 
    <script src="~/AdminFiles/plugins/sidebar/sidebar.js"></script>
     
        
         <script src="https://cdn.tiny.cloud/1/r9r4hr3vczagov8a5srb2myq71i0v16pk5yv8630d13psas2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="https://cdn.jsdelivr.net/npm/@@tinymce/tinymce-jquery@2/dist/tinymce-jquery.min.js"></script>
    <script src="~/AdminFiles/plugins/wysiwyag/wysiwyag.js "></script>

    <!-- INTERNAL File-Uploads Js-->
    <script src="~/AdminFiles/plugins/fancyuploder/jquery.ui.widget.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <!-- Perfect SCROLLBAR JS-->

     <script src="~/AdminFiles/plugins/multipleselect/multiple-select.js"></script>
        <script src="~/AdminFiles/plugins/multipleselect/multi-select.js"></script>
    <!-- Color Theme js -->
    <script src="~/AdminFiles/js/themeColors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://api.instudy.net/NotificationHub")
  
    .build();

async function start() {
    try {
        await connection.start();
        console.log("SignalR Connected.");
    } catch (err) {
        console.log(err);
        setTimeout(start, 5000);                   
    }
};
connection.on("ReceiveNotification", (id, user,description) => {
    var desc=description.slice(0,20)+"...";
    $("#notificationHead").append("<span class='pulse-danger'></span>");
    $("#notifications").append(`
       <a class="dropdown-item d-flex" href="/Admin/Request/RequestDetail/${id}">
                                                        <span class="avatar avatar-md brround me-3 align-self-center cover-image" data-bs-image-src="/images/users/1.jpg" style="background: url(&quot;../assets/images/users/1.jpg&quot;) center center;"></span>
                                                        <div class="wd-90p">
                                                            <div class="d-flex">
                                                                <h5 class="mb-1">${user}</h5>
                                                               
                                                            </div>
                                                            <span>${desc}</span>
                                                        </div>
                                                       </a>
    `);
    
    console.log("message",user,message,description);
});
connection.onclose(async () => {
    await start();
});

// Start the connection.
start();
    </script>
    <!-- Sticky js -->
    <script src="~/AdminFiles/js/sticky.js"></script>
    <script src="~/AdminFiles/js/sticky.js"></script>
     <script>
        $(document).ready(function() {
             $('#delete-datatable').DataTable({ 
                      "destroy": true, //use for reinitialize datatable
                   });

             $("#logOut").click(function () {
            $.ajax({
                type: "POST",
                url: '/Account/Logout',
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                complete: function (response) {
                    location.href = `/Home/Index`;
                },

        });
    });
                $.ajax({
                    type: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    url: `https://api.instudy.net/api/StudentRequest/GetNonSeenStudentRequests`,

                    success: function (data) {
                        if(data.data.length>0){
                            $("#notificationHead").append("<span class='pulse-danger'></span>");
                        }
                        $.each(         
                            data.data, function (i, value) {
                                var desc=value.description.slice(0,20)+"...";
                                $(`#notifications`).append(`
                               <a class="dropdown-item d-flex" href="/Admin/Request/RequestDetail/${value.id}">
                                                        <span class="avatar avatar-md brround me-3 align-self-center cover-image" data-bs-image-src="/images/users/1.jpg" style="background: url(&quot;../assets/images/users/1.jpg&quot;) center center;"></span>
                                                        <div class="wd-90p">
                                                            <div class="d-flex">
                                                                            <h5 class="mb-1">${value.name} ${value.surName}</h5>
                                                               
                                                            </div>
                                                            <span>${desc}</span>
                                                        </div>
                                                       </a>


            `
                                );
                            }
                        )

                    }

                });
          
        } );
           

</script>
    <!-- CUSTOM JS -->
          <script src="~/AdminFiles/js/custom.js"></script>
         
         @RenderSection("Scripts",false);
</body>

</html>