
      <main class="mainWrapper contact">
         <div class="opacity-div"></div>
         <div class="contactPage">
            <section class="title-page text-center pt-100">
               <span>Bizimle iletişime geç ve</span> 
               <h1>Hayalindeki Geleceğe Burdan Başla!</h1>
               <p>Tüm ofislerimiz hafta içi 09.00–18.00 arası, cumartesi günleri ise 10.00–15.00 arası sizlere hizmet vermektedir</p>
            </section>
            <section class="contact-detail pt-100">
               <div class="contact-detail-map">
                  <div class="map-div div-border">
                     <div class="iframe-div"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6016.241822980225!2d28.9919536!3d41.0663496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab781f00104c7%3A0xe53856b1d4dc36b2!2zRW5kbGVzcyBBYnJvYWQgWXVydGTEscWfxLEgRcSfaXRpbQ!5e0!3m2!1sen!2str!4v1666175836741!5m2!1sen!2str" class="h-100 w-100 map-iframe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
                     <h4 class="header">Merkez Şube:</h4>
                     <span class="map-text">Fulya Mh. Büyükdere Cd. No.74D, <b>Torun Center</b>  Kat.3, Ofis.10 34394 Şişli-İstanbul:</span> <a target="_blank" href="https://www.google.com/maps/place/Endless+Abroad+Yurtdışı+Eğitim/@@41.0663496,28.9919536,16z/data=!4m9!1m2!2m1!1sFulya+Mh.+Büyükdere+Cd.+No.74D,+Torun+Center+Kat.3,+Ofis.10+34394+Şişli-İstanbul!3m5!1s0x14cab781f00104c7:0xe53856b1d4dc36b2!8m2!3d41.0655781!4d28.9982534!15sClVGdWx5YSBNaC4gQsO8ecO8a2RlcmUgQ2QuIE5vLjc0RCwgVG9ydW4gQ2VudGVyIEthdC4zLCBPZmlzLjEwIDM0Mzk0IMWeacWfbGktxLBzdGFuYnVskgEWZWR1Y2F0aW9uYWxfY29uc3VsdGFudOABAA">Show on Map</a> 
                     <div class="info-div">
                        <div class=""> <img src="~/css/images/icons/icon-phone-blue.svg" alt=""> <a href="callto:+90 444 3660" class="phone">444 3 660</a> </div>
                        <div class=""> <img src="~/css/images/icons/icon-mail-blue.svg" alt="" class="icon-mail"> <a href="mailto:info@endlessabroad.com.tr" class="mail"> info@endlessabroad.com.tr </a> </div>
                     </div>
                     <a href="subelerimiz.html"> <button class="btn-blue w-100" >EN YAKIN ŞUBELERİMİZ <img src="~/css/images/icons/icon-location-white.svg" alt="" class="icon-branch"> </button> </a> 
                  </div>
                  <div class="social-media-div">
                     <h4>FOLLOW US</h4>
                     <p>Our social media accounts</p>
                     <img src="~/css/images/icons/icon-instegram-rectangle.svg"> <img src="~/css/images/icons/icon-facebook-rectangle.svg"> <img src="~/css/images/icons/icon-twitter-rectangle.svg"> 
                  </div>
               </div>
            <div class="contact-detail-form div-border">
                <h4>İletişim Formu:</h4>
                <p>Tüm soru ve önerilerinizi iletişim formu aracılığıyla bize iletebilirsiniz.</p>
                <div class="vue-app vue-app-7">
                    <div class="form-div">
                        <form class="form">
                            <input type="hidden" name="_token" value="Da9qql3LJOn96gP7uqH088HC5mTwYqx6fMVln43y" />
                            <div class="honeypot_wrap" style="display: none;">
                                <input name="honeypot" type="text" value="" id="honeypot" />
                                <input name="honeypot_time"
                                       type="text"
                                       value="eyJpdiI6Ikx4bWFWQkhhMzd4YWVHZEo4Ykc4eHc9PSIsInZhbHVlIjoiQlRIdHpsZ25kSmIzdVBuZzREenhpQT09IiwibWFjIjoiNjg4YzZhMDQzOGU1ZjVlZGI5OTlkMzIzOWZmMGQ0MWY0NzI0ZTVlOGZhNTBhNTNkOTI0ODY0NWMyYzQ3MjA4YiIsInRhZyI6IiJ9" />
                            </div>
                            <input type="hidden" name="action" value="contact-form" /> <input type="hidden" name="source_url" value="https://www.endlessabroad.com.tr/iletisim" /> <input type="hidden" name="full_name" />
                            <div class="input-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.75" height="20.75" viewBox="0 0 16.602 20.035" class="icon-input">
                                    <path id="Profile"
                                          d="M0,16.6C0,13.878,3.824,13.2,8.3,13.2c4.5,0,8.3.706,8.3,3.431s-3.824,3.407-8.3,3.407C3.8,20.035,0,19.329,0,16.6ZM2.808,5.3A5.38,5.38,0,0,1,8.3,0a5.379,5.379,0,0,1,5.493,5.3A5.38,5.38,0,0,1,8.3,10.6,5.381,5.381,0,0,1,2.808,5.3Z"></path>
                                </svg>
                                <input type="text" placeholder="Adınız Soyadınız" required="required" class="form-control" />
                            </div>
                            <div class="input-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.75" height="20.527" viewBox="0 0 22.807 20.527" class="icon-input">
                                    <g id="Message">
                                        <path id="Message-2"
                                              data-name="Message"
                                              d="M17.036,20.526H5.77A5.771,5.771,0,0,1,0,14.768V5.759A5.771,5.771,0,0,1,5.77,0H17.036a5.806,5.806,0,0,1,4.083,1.689,5.715,5.715,0,0,1,1.688,4.069v9.009A5.771,5.771,0,0,1,17.036,20.526ZM4.6,5.982a.836.836,0,0,0-.609.256.871.871,0,0,0-.081,1.14l.15.148,5.188,4.049a3.568,3.568,0,0,0,2.224.775,3.626,3.626,0,0,0,2.233-.775L18.85,7.458l.091-.091a.883.883,0,0,0-.013-1.14.948.948,0,0,0-.6-.3h-.048a.866.866,0,0,0-.592.229l-5.142,4.105a1.785,1.785,0,0,1-1.136.411,1.816,1.816,0,0,1-1.144-.411L5.132,6.158A.887.887,0,0,0,4.6,5.982Z"
                                              transform="translate(0 0)"></path>
                                    </g>
                                </svg>
                                <input type="email" placeholder="E-Posta Adresiniz" required="required" class="form-control" />
                            </div>
                            <div class="input-container d-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.75" height="20.75" viewBox="0 0 20.75 20.75" class="icon-input">
                                    <g id="Call">
                                        <path id="Stroke_1"
                                              data-name="Stroke 1"
                                              d="M9.864,10.891c4.357,4.355,5.345-.683,8.119,2.089,2.674,2.674,4.211,3.209.823,6.6-.424.341-3.121,4.445-12.6-5.029S.832,2.373,1.173,1.948c3.4-3.4,3.923-1.851,6.6.823C10.544,5.544,5.507,6.536,9.864,10.891Z"
                                              transform="translate(0 0)"></path>
                                    </g>
                                </svg>
                                <input type="text" placeholder="+90" class="form-control" style="width: 105px; border-radius: 30px 0px 0px 30px;" />
                                <input type="text" placeholder="Telefon Numaranız" required="required" class="form-control" style="border-radius: 0px 30px 30px 0px; padding-left: 20px;" />
                            </div>
                            <div class="input-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.75" height="20.75" viewBox="0 0 14.869 20.035" class="icon-input">
                                    <path id="Path_37765" data-name="Path 37765" d="M7.434,20.035l-6-8.215a7.434,7.434,0,1,1,12,0l-3,4.107Zm.079-10.018a2.5,2.5,0,1,0-2.5-2.5A2.5,2.5,0,0,0,7.513,10.018Z" fill-rule="evenodd"></path>
                                </svg>
                                <select class="form-control">
                                    <option value="">Şehir Seçiniz</option>
                                    <option value="ADANA">ADANA</option>
                                    <option value="ADIYAMAN">ADIYAMAN</option>
                                    <option value="AFYONKARAHİSAR">AFYONKARAHİSAR</option>
                                    <option value="AĞRI">AĞRI</option>
                                    <option value="AMASYA">AMASYA</option>
                                    <option value="ANKARA">ANKARA</option>
                                    <option value="ANTALYA">ANTALYA</option>
                                    <option value="ARTVİN">ARTVİN</option>
                                    <option value="AYDIN">AYDIN</option>
                                    <option value="BALIKESİR">BALIKESİR</option>
                                    <option value="BİLECİKK">BİLECİKK</option>
                                    <option value="BİNGÖL">BİNGÖL</option>
                                    <option value="BİTLİS">BİTLİS</option>
                                    <option value="BOLU">BOLU</option>
                                    <option value="BURDUR">BURDUR</option>
                                    <option value="BURSA">BURSA</option>
                                    <option value="ÇANAKKALE">ÇANAKKALE</option>
                                    <option value="ÇANKIRI">ÇANKIRI</option>
                                    <option value="ÇORUM">ÇORUM</option>
                                    <option value="DENİZLİ">DENİZLİ</option>
                                    <option value="DİYARBAKIR">DİYARBAKIR</option>
                                    <option value="EDİRNE">EDİRNE</option>
                                    <option value="ELAZIĞ">ELAZIĞ</option>
                                    <option value="ERZİNCAN">ERZİNCAN</option>
                                    <option value="ERZURUM">ERZURUM</option>
                                    <option value="ESKİŞEHİR">ESKİŞEHİR</option>
                                    <option value="GAZİANTEP">GAZİANTEP</option>
                                    <option value="GİRESUN">GİRESUN</option>
                                    <option value="GÜMÜŞHANE">GÜMÜŞHANE</option>
                                    <option value="HAKKARİ">HAKKARİ</option>
                                    <option value="HATAY">HATAY</option>
                                    <option value="ISPARTA">ISPARTA</option>
                                    <option value="MERSİN">MERSİN</option>
                                    <option value="İSTANBUL">İSTANBUL</option>
                                    <option value="İZMİR">İZMİR</option>
                                    <option value="KARS">KARS</option>
                                    <option value="KASTAMONU">KASTAMONU</option>
                                    <option value="KAYSERİ">KAYSERİ</option>
                                    <option value="KIRKLARELİ">KIRKLARELİ</option>
                                    <option value="KIRŞEHİR">KIRŞEHİR</option>
                                    <option value="KOCAELİ">KOCAELİ</option>
                                    <option value="KONYA">KONYA</option>
                                    <option value="KÜTAHYA">KÜTAHYA</option>
                                    <option value="MALATYA">MALATYA</option>
                                    <option value="MANİSA">MANİSA</option>
                                    <option value="KAHRAMANMARAŞ">KAHRAMANMARAŞ</option>
                                    <option value="MARDİN">MARDİN</option>
                                    <option value="MUĞLA">MUĞLA</option>
                                    <option value="MUŞ">MUŞ</option>
                                    <option value="NEVŞEHİR">NEVŞEHİR</option>
                                    <option value="NİĞDE">NİĞDE</option>
                                    <option value="ORDU">ORDU</option>
                                    <option value="RİZE">RİZE</option>
                                    <option value="SAKARYA">SAKARYA</option>
                                    <option value="SAMSUN">SAMSUN</option>
                                    <option value="SİİRT">SİİRT</option>
                                    <option value="SİNOP">SİNOP</option>
                                    <option value="SİVAS">SİVAS</option>
                                    <option value="TEKİRDAĞ">TEKİRDAĞ</option>
                                    <option value="TOKAT">TOKAT</option>
                                    <option value="TRABZON">TRABZON</option>
                                    <option value="TUNCELİ">TUNCELİ</option>
                                    <option value="ŞANLIURFA">ŞANLIURFA</option>
                                    <option value="UŞAK">UŞAK</option>
                                    <option value="VAN">VAN</option>
                                    <option value="YOZGAT">YOZGAT</option>
                                    <option value="ZONGULDAK">ZONGULDAK</option>
                                    <option value="AKSARAY">AKSARAY</option>
                                    <option value="BAYBURT">BAYBURT</option>
                                    <option value="KARAMAN">KARAMAN</option>
                                    <option value="KIRIKKALE">KIRIKKALE</option>
                                    <option value="BATMAN">BATMAN</option>
                                    <option value="ŞIRNAK">ŞIRNAK</option>
                                    <option value="BARTIN">BARTIN</option>
                                    <option value="ARDAHAN">ARDAHAN</option>
                                    <option value="IĞDIR">IĞDIR</option>
                                    <option value="YALOVA">YALOVA</option>
                                    <option value="KARABüK">KARABüK</option>
                                    <option value="KİLİS">KİLİS</option>
                                    <option value="OSMANİYE">OSMANİYE</option>
                                    <option value="DÜZCE">DÜZCE</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17.406" height="17.406" viewBox="0 0 17.406 17.406" class="icon-input">
                                    <defs>
                                        <clipPath id="clip-path"><rect id="Rectangle_8144" data-name="Rectangle 8144" width="17.406" height="17.406"></rect></clipPath>
                                    </defs>
                                    <g id="Group_46723" data-name="Group 46723" clip-path="url(#clip-path)">
                                        <path id="Path_36942"
                                              data-name="Path 36942"
                                              d="M17.406,6.382V4.145a2.371,2.371,0,0,0-2.331-2.4h-1.15V.58a.58.58,0,1,0-1.16,0v1.16H4.642V.58a.58.58,0,1,0-1.16,0v1.16H2.331A2.371,2.371,0,0,0,0,4.145V6.382Z"
                                              transform="translate(0 0)"></path>
                                        <path id="Path_36943" data-name="Path 36943" d="M0,227.5v7.459a2.371,2.371,0,0,0,2.331,2.4H15.075a2.371,2.371,0,0,0,2.331-2.4V227.5Z" transform="translate(0 -219.958)"></path>
                                    </g>
                                </svg>
                                <select class="form-control"
                                        style="background: 0% 0% no-repeat padding-box padding-box rgba(149, 179, 197, 0.05); height: 56px; border: 1px solid rgba(214, 221, 232, 0.6); border-radius: 30px; opacity: 1; padding-left: 57px;">
                                    <option value="">Programınızı Seçiniz</option>
                                    <optgroup label="Dil Okulları"><option value="Dil Okulu">Dil Okulu</option><option value="Yaz Okulu">Yaz Okulu</option><option value="Work &amp; Study">Work &amp; Study</option></optgroup>
                                    <optgroup label="Akademik"><option value="Üniversite">Üniversite</option><option value="Lise">Lise</option><option value="Yüksek Lisans">Yüksek Lisans</option><option value="Sertifika">Sertifika</option></optgroup>
                                </select>
                            </div>
                            <div class="input-container"><textarea aria-label="With textarea" placeholder="Mesajınız" class="form-control"></textarea></div>
                            <div class="form-check justify-content-center d-flex align-items-center gap-2">
                                <input type="checkbox" value="" id="flexCheckChecked" checked="checked" class="form-check-input" />
                                <label for="flexCheckChecked" class="form-check-label">
                                    <span>
                                        Endless Abroad indirimli kampanyalarından sms veya mail yolu ile bilgilendirilmek istiyorum. <a href="/kisisel-verilerin-islenmesi" target="_blank">KVKK Aydınlatma Metni</a> ni ve
                                        <a href="/gizlilik-politikasi" target="_blank">Gizlilik Politikası</a> nı okudum, kabul ediyorum.
                                    </span>
                                </label>
                            </div>
                            <div>
                                <div class="grecaptcha-badge" data-style="none" style="width: 256px; height: 60px; position: fixed; visibility: hidden;">
                                    <div class="grecaptcha-logo">
                                        <iframe title="reCAPTCHA"
                                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcXIwYaAAAAAM-4Hu-fgEnl-EngERmV4F_ELLnD&amp;co=aHR0cHM6Ly93d3cuZW5kbGVzc2Ficm9hZC5jb20udHI6NDQz&amp;hl=en&amp;v=Ixi5IiChXmIG6rRkjUa1qXHT&amp;size=invisible&amp;cb=hgvmgh85qkwo"
                                                width="256"
                                                height="60"
                                                role="presentation"
                                                name="a-44oig9sv26mn"
                                                frameborder="0"
                                                scrolling="no"
                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div>
                                    <div class="grecaptcha-error"></div>
                                    <textarea id="g-recaptcha-response-1"
                                              name="g-recaptcha-response"
                                              class="g-recaptcha-response"
                                              style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div>
                                <iframe style="display: none;"></iframe>
                            </div>
                            <div class="text-center pt-4"><button type="submit" class="btn-green w-100">GÖNDER</button></div>
                        </form>
                        <section class="compare-modal-section">
                            <div id="modalSuccess" tabindex="-1" aria-hidden="true" class="modal-thanks modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="rectangle"><button type="button" aria-label="Close" class="btn-close"></button></div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-detail">
                                                <div class="modal-body-detail-img text-center"><img src="/assets/css/images/icons/icon-thanks.svg" alt="" class="50" /></div>
                                                <div class="modal-body-detail-text">
                                                    <p></p>
                                                    <div class="span-line"></div>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            </section>
         </div>
      </main>
     