@section Css{
	<link rel="stylesheet" href="~/css/contact.css">
<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=PT+Sans|Rubik|Roboto+Condensed&amp;subset=cyrillic&amp;sort=popularity" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	  rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
	  rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
	  rel="stylesheet" />
<!-- MDB -->
<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
@*	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>*@

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
}

<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center mb-5">
				</div>
			</div>
			<div class="contact-form row rounded-0 justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="border-radius col-md-12 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Contact</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form id="contact_form">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" name="name" id="requestName" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" name="name" id="lastName" placeholder="Surname">
												</div>
											</div>
											<div class="col-md-12"> 
												<div class="form-group">
													<input type="email" class="form-control" name="email" id="requestEmail" placeholder="Email">
												</div>
											</div>
											<div class=" col-md-6">
						<label for="phone">Phone</label>
						<input type="tel" class="form-control" id="requestPhone" placeholder="123456789">
					</div>
					<div class=" col-md-6">
						<label for="Wp">Have Whatsapp</label>
						<div class="form-control btn-group" id="requestWhatsapp" data-toggle="buttons">
							<label class="btn btn-default">
								<input type="radio" name="wp" autocomplete="off" />Yes
							</label>
							<label class="btn btn-default">
								<input type="radio" name="wp" autocomplete="off" />No
							</label>

						</div>
					</div>
										<div class="form-group col-md-6" id="requestMessage">
											<label for="comment">Description:</label>
											<textarea class="form-control overflow-auto" rows="3" id="comment"></textarea>
										</div>
					<div class="form-group col-md-6">
						<label for="consulted">Consulted</label>
						<div class="form-control btn-group" data-toggle="buttons">
							<label class="btn btn-default">
								<input type="radio" id="show" name="example"  value="show" autocomplete="off" />Yes
							</label>
							<label class="btn btn-default">
								<input type="radio" id="hide" name="example"  value="hide" autocomplete="off" />No
							</label>
					</div>
					</div>
					<div id="box" class="row">
						<div class="form-group col-md-6" id="requestDate">
						<label for="birthdaytime">Date (date and time):</label>
						<input type="datetime-local" id="birthdaytime" name="birthdaytime">

					</div>
					
											<div class="form-group col-md-6">
												<label for="IsOnline">IsOnline</label>
												<div class="form-control btn-group" id="requestType" data-toggle="buttons">
													<label class="btn btn-default">
														<input type="radio" name="IsOnline" autocomplete="off" />Yes
													</label>
													<label class="btn btn-default">
														<input type="radio" name="IsOnline" autocomplete="off" />No
													</label>
												</div>
											</div>

					</div>
					
						
					<div class="form-group col-sm-4">
						<label for="yourcontry"> Student Country</label>
						<select class="" id="requestStudentCountry">
							</select>
							</div>
							<div class="form-group col-sm-4">
						<label for="yourcontry"> Country</label>
												<select multiple="multiple" class="" id="requestCountry">
							
							</select>
							</div>
							<div class="form-group col-sm-4">
						<label for="direction">Direction</label>
												<select class="" multiple="multiple" id="requestDirection">
							
						</select>
					</div>
										</div>
										<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
									</form>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
			<div id="contactDetail">
			
			</div>
	
		


</div>




	
	
	</section>
	@section Scripts{
		<script src="~/js/contact.js"></script>
	<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
	<script>
		
		$.ajax({
			type: 'GET',
			headers: {
				'Content-Type': 'application/json',
				'Access-Control-Allow-Origin': '*',

			},
			url: `https://api.instudy.net/api/Program/GetPrograms`,

			success: function (data) {
				var html = [];
				$.each(
					data.data, function (i, value) {
						html.push(
							`
																	<option value="${value.id}">${value.enName}</option>

																 `
						)

					}
				)
				$('#program').html(html.join('')).multipleSelect();
			}

		});
		$.ajax({
			type: 'GET',
			headers: {
				'Content-Type': 'application/json',
				'Access-Control-Allow-Origin': '*',

			},
			url: `https://api.instudy.net/api/Country/GetActiveCountries`,

			success: function (data) {
				var html = [];
				$.each(
					data.data, function (i, value) {
						html.push(
							`
																			<option value="${value.id}">${value.enName}</option>

																		 `
						);

						$('#requestStudentCountry').append(`<option value="${value.id}">${value.enName}</option>`);
					}
				)
				$('#requestCountry').html(html.join('')).multipleSelect();
			}

		});

		$.ajax({
			type: 'GET',
			headers: {
				'Content-Type': 'application/json',
				'Access-Control-Allow-Origin': '*',

			},
			url: `https://api.instudy.net/api/Direction`,

			success: function (data) {
				var html = [];
				$.each(
					data.data, function (i, value) {
						html.push(
							`
																	<option value="${value.id}">${value.ruName}</option>

																 `
						)

					}
				)
				$('#requestDirection').html(html.join('')).multipleSelect();
			}

		});
	</script>
	<script>

		const box = document.getElementById('box');

		function handleRadioClick() {
			if (document.getElementById('show').checked) {
				box.style.display = 'flex ';
			} else {
				box.style.display = 'none';
			}
		}

		const radioButtons = document.querySelectorAll('input[name="example"]');
		radioButtons.forEach(radio => {
			radio.addEventListener('click', handleRadioClick);
		});
	</script>
	}
	