@section Css{
 <link rel="stylesheet" href="~/css/scss/slick/university.css"/>
}
<div id="LayoutWrapper" class="js-exclusiveAccessOuterWrapper">
   <div id="LayoutHero">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Study_Hero_Hero">
         <div id="Hero" class="js-Hero">
                    <div id="HeroContainer" class="HeroImageContainer">
                        
                    </div>
            <div class="EssentialInformationWrapper mdc-layout-grid GridInContainer">
               <section class="EssentialInformation mdc-layout-grid__inner">
                  <div class="ContentCard EssentialInformationContent mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-desktop">
                     <nav class="MobileOnlyBlock">
                        <ul class="BreadcrumbsListOnStudyPage">
                           <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master" class="BreadCrumbLink" title="All studies">All studies</a> </li>
                           <li class="BreadCrumbsItem DisciplineListItem"> <a href="https://www.mastersportal.com/search/master/event-management" class="BreadCrumbLink" title="Event Management">Event Management</a> </li>
                           <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master/event-management/europe" class="BreadCrumbLink" title="Europe">Europe</a> </li>
                           <li class="BreadCrumbsItem"> <a href="https://www.mastersportal.com/search/master/event-management/netherlands" class="BreadCrumbLink" title="Netherlands">Netherlands</a> </li>
                           <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/universities/1019/wittenborg-university-of-applied-sciences.html" class="BreadCrumbLink" title="Wittenborg University of Applied Sciences">Wittenborg University of Applied Sciences</a> </li>
                           <li class="BreadCrumbsItem DesktopOnlyBlock"> Business Management - Event Management </li>
                        </ul>
                     </nav>
                    
                     <header id="HeaderName">
                     </header>
                     <div class="AuthPlaceholder" data-layout="Main" data-popup="true" data-referrer="BasicLockButtonRecommendations" data-portal-type="master"> </div>
                     <div class="ActionWrapper">
                        
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </div>
   <div id="LayoutContentCards">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner">
            <section id="QuickFacts" class="ContentCard QuickFactsContent mdc-layout-grid__cell--span-12">
               
            </section>
            <nav class="DesktopOnlyBlock mdc-layout-grid__cell--span-12">
               <ul class="BreadcrumbsListOnStudyPage">
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master" class="BreadCrumbLink" title="All studies">All studies</a> </li>
                  <li class="BreadCrumbsItem DisciplineListItem"> <a href="https://www.mastersportal.com/search/master/event-management" class="BreadCrumbLink" title="Event Management">Event Management</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/search/master/event-management/europe" class="BreadCrumbLink" title="Europe">Europe</a> </li>
                  <li class="BreadCrumbsItem"> <a href="https://www.mastersportal.com/search/master/event-management/netherlands" class="BreadCrumbLink" title="Netherlands">Netherlands</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> <a href="https://www.mastersportal.com/universities/1019/wittenborg-university-of-applied-sciences.html" class="BreadCrumbLink" title="Wittenborg University of Applied Sciences">Wittenborg University of Applied Sciences</a> </li>
                  <li class="BreadCrumbsItem DesktopOnlyBlock"> Business Management - Event Management </li>
               </ul>
            </nav>
            <section id="StudySummary" class="ContentCard mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-7-desktop">
            </section>
         </div>
      </div>
   </div>
   <div id="LayoutGlobalAccessInitiativeBanner">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner"> </div>
      </div>
   </div>
   
   <div id="LayoutDetailedInformation">
      <div class="mdc-layout-grid GridInContainer">
         <main class="SwitchableContentContainer mdc-layout-grid__inner">
            <div id="SwitchableContent" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-desktop">

                        <div class="SwitchableGroup js-content-contents contents is-visible" id="overview_content">         
                            <button class="ToggleButton js-contentButtons js-content-contents mdc-layout-grid" id="overview" onclick="swith('overview')">
                                <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Programme structure</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                            </button>
                            <article class="ModulesContainer">
                                <div data-module="Study:study_contents" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_Contents_Contents">
                                    <article id="StudyContents">
                                        <h2>Programme Structure</h2>
                                        <p><strong>Modules:&nbsp;</strong></p>
                                        <ul>
                                            <li>Marketing Management</li>
                                            <li>Globalisation, Society &amp; Culture</li>
                                            <li>The World Economy</li>
                                            <li>Critical Perspectives in Event Management</li>
                                            <li>New Media, Marketing and Analytics</li>
                                            <li>Micro Economics - Global Perspectives</li>
                                            <li>Strategic Management</li>
                                            <li>Event Design &amp; Management</li>
                                            <li>Event Theory &amp; Practice</li>
                                        </ul>
                                    </article>
                                </div>
                            </article>
                        </div>
                        <div class="SwitchableGroup js-content-requirement requirement" id="bachelor_content">
                            <button class="ToggleButton js-contentButtons js-content-requirement mdc-layout-grid" data-id="requirement" id="bachelor" onclick="swith('bachelor')">
                                <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Admission requirements</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                            </button>
                            <article class="ModulesContainer">
                                <div data-module="Study:best_fit_incentive_academic" class="Module StudyPortals_Shared_Modules_BestFitIncentive_IncentiveAcademic">
                                    <div data-v-1c1e9538="" class="ButtonContentSwitcherWidget">
                                        <div data-v-1c1e9538="" class="IconWrapper">
                                            <div data-v-1c1e9538="" class="BestfitIcon"><i data-v-1c1e9538="" class="Percentage lnr-bestfit-logo"></i> <i data-v-1c1e9538="" class="PlusIcon lnr-plus-inverted"></i></div>
                                        </div>
                                        <span data-v-1c1e9538="" class="ButtonText">
                                            Check your academic match with this programme
                                        </span>
                                    </div>
                                </div>
                                <div data-module="Study:study_admission_requirements" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_AdmissionRequirements_AdmissionRequirements">
                                    <section id="AdmissionRequirements">
                                        <article id="AcademicRequirements">
                                            <h2>Academic requirements</h2>
                                            <div class="NoRequirements">
                                                <p class="NoRequirementsInfo">We are not aware of any academic requirements for this programme.</p>
                                            </div>
                                        </article>
                                        <article id="EnglishRequirements">
                                            <h2>English requirements</h2>
                                            <section class="EnglishRequirementsCards">
                                                <div class="CardContents EnglishCardContents IELTSCard js-CardIELTS">
                                                    <div class="MainContent">
                                                        <div class="ScoreLabelContainer">
                                                            <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="IELTS admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> IELTS </span> </span>
                                                            <i class="InfoIcon lnr-info" data-tooltip-text="The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading)." style="position: relative;">
                                                                <div class="Tooltip" style="display: none;">
                                                                    <div class="TooltipInner">
                                                                        The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 – 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading).
                                                                    </div>
                                                                    <div class="TooltipArrow"></div>
                                                                </div>
                                                            </i>
                                                        </div>
                                                        <div class="ScoreInformationContainer">
                                                            <div class="ScoreContainer">
                                                                <div class="Score"> <span>6.5</span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ButtonContainer"> <a class="IELTSButton NavigatorButton js-showIeltsCTA" rel="nofollow noopener" target="_blank" data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;, &quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IMPACT_LEARNING_study_language_requirements_button&quot;,&quot;event&quot;:&quot;click&quot;}" href="https://link.studyportals.com/ielts_prep_promo" data-ga-parsed="true"> Start preparing for IELTS today! </a>  </div>
                                                </div>
                                                <div class="CardContents EnglishCardContents TOEFLCard js-CardTOEFL">
                                                    <div class="MainContent">
                                                        <div class="ScoreLabelContainer">
                                                            <i class="Icon"> <img src="//monet-prtl-co.imgix.net/Masters/BNW/Icons/Language.svg" alt="TOEFL admission requirements" loading="lazy" width="40" height="40"> </i> <span class="Text"> <span class="Heading"> TOEFL<sup>®</sup> </span> <span class="SubHeading">IBT</span> </span>
                                                            <i class="InfoIcon lnr-info" data-tooltip-text="The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30." style="position: relative;">
                                                                <div class="Tooltip" style="display: none;">
                                                                    <div class="TooltipInner">
                                                                        The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30.
                                                                    </div>
                                                                    <div class="TooltipArrow"></div>
                                                                </div>
                                                            </i>
                                                        </div>
                                                        <div class="ScoreInformationContainer">
                                                            <div class="ScoreContainer">
                                                                <div class="Score"> <span>90</span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </article>
                                        <article id="OtherRequirements">
                                            <h2>Other requirements</h2>
                                            <div class="OtherRequirementsContent">
                                                <div>
                                                    <h3>General requirements</h3>
                                                    <ul>
                                                        <li>A bachelor's degree or equivalent recognised qualification.</li>
                                                        <li>​Applicants are requested to provide an academic reference from their previous education institute.</li>
                                                        <li>It is necessary to have obtained a bachelor's degree from the domains of business, management, economics or trade. In their bachelor's degree applicants must have completed an academic piece of work (final project or dissertation) that demonstrates a degree of academic writing and research experience.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                            </article>
                        </div>
                        <div class="SwitchableGroup js-content-work_permit work_permit" id="master_content">
                            <button class="ToggleButton js-contentButtons js-content-work_permit mdc-layout-grid" data-id="work_permit">
                                <div class="ToggleButtonInner"><span class="ToggleButtonTitle">Work permit</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                            </button>
                            <article class="ModulesContainer">
                                <div data-module="Study:venues_switcher" class="Module StudyPortals_Shared_Modules_Study_VenuesSwitcher_VenuesSwitcher">
                                    <section class="VenuesSwitcher">
                                        <h2 id="VenuesSwitcherTitle"></h2>
                                    </section>
                                </div>
                                <div data-module="Study:WorkPermitContent" class="Module StudyPortals_Shared_Modules_Study_WorkPermitContent_WorkPermitContent">
                                    <script>const workPermitDestinationCountry = '1'; const workPermitServiceUrl = 'https://8ofylmmtn1.execute-api.eu-west-1.amazonaws.com/prd/';</script>
                                    <section id="WorkPermitContent"> </section>
                                    <div class="WebsiteLinkTabs"> </div>
                                </div>
                            </article>
                        </div>
            </div>
            <div id="SwitchableContentButtons" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-desktop">
               <div id="ContentSwitcherWrapper" class="ContentSwitcherWrapper">
                  <nav id="ContentSwitcher" class="ContentSwitcher">
                                <button type="button" class="ContentButton js-contentButtons description " id="overview" onclick="swith('overview')"> Overview </button>
                                <button type="button" class="ContentButton js-contentButtons contents is-active" id="bachelor" onclick="swith('bachelor')"> Bachelor </button>
                                <button type="button" class="ContentButton js-contentButtons requirement" id="master" onclick="swith('master')"> Master </button>
                  </nav>
               </div>
            </div>
         </main>
      </div>
   </div>
   
  

</div>

@section Scripts{
    <script src="~/js/university-detail.js"></script>
    <script>
        function swith(id) {
                console.log(`${id}`);
                const collection = document.getElementById("SwitchableContent").children;
                const buttons = document.getElementById("ContentSwitcher").children;
                for (let i = 0; i < collection.length; i++) {
                collection[i].classList.remove("is-visible");
                buttons[i].classList.remove("is-active")
                console.log(collection[i]);
            }

            const menuItem=document.getElementById(id);
            const menuContent=document.getElementById(id+"_content");
            menuItem.classList.add("is-active");
            menuContent.classList.add("is-visible");

        }
    </script>
}