 <div class="WhiteBackgroundPane">
            <div class="col1 wrapped">
                <div class="colblock">
                    <div data-module=""
                        class="Module StudyPortals_Shared_Modules_Discipline_HeaderBase_HeaderBase StudyPortals_DistanceLearning_Modules_Discipline_Header_HeaderDistanceLearning">
                        <div id="DisciplineHeader"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col1 wrapped">
            <div class="colblock">
                <div class="NarrowWrapper">
                    <div class="MultipleTopVisibilityBannersWrapper"></div>
                    <div data-module=""
                        class="Module StudyPortals_Shared_Modules_Discipline_DisciplineDescription_DisciplineDescription">
                        <article id="DisciplineDescription">
                           
                            
                        </article>
                    </div>
                   
                    
                </div>
               
            </div>
        </div>
        @section Scripts{
            <script src="~/js/disciplines.js"></script>
        }