  <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Add About</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Add Personal Info</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="card">
                                    <div class="card-header">
                                        <div class="card-title">Add Personal Info</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <label class="col-md-3 form-label">Phone* :</label>
                                            <div class="col-md-9">
                                                <input type="text" id="phone1" class="form-control" placeholder="Phone Number" required>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-3 form-label">Other Phone:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="phone2" class="form-control" placeholder="Phone Number">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-3 form-label">Email*:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalEmail" class="form-control" placeholder="Email address.." required>
                                            </div>
                                        </div>
                                         <div class="row mb-4">
                                            <label class="col-md-3 form-label">City*:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalCity" class="form-control" placeholder="City address.." required>
                                            </div>
                                        </div>
                                         <div class="row mb-4">
                                            <label class="col-md-3 form-label">Disrict*:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalDistrict" class="form-control" placeholder="District .." required>
                                            </div>
                                        </div>
                                         <div class="row mb-4">
                                            <label class="col-md-3 form-label">Street*:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalStreet" class="form-control" placeholder="Street .." required>
                                            </div>
                                        </div>
                                         <div class="row mb-4">
                                            <label class="col-md-3 form-label">Instagram:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalInstagram" class="form-control" placeholder="Instagram link ..">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-3 form-label">Facebook:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalFacebook" class="form-control" placeholder="Facebook link ..">
                                            </div>
                                        </div>
                                         <div class="row mb-4">
                                            <label class="col-md-3 form-label">Youtube:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalYoutube" class="form-control" placeholder="Youtube link ..">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-3 form-label">Twitter:</label>
                                            <div class="col-md-9">
                                                <input type="text" id="personalTwitter" class="form-control" placeholder="Twitter link ..">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <!--Row-->
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <a href="javascript:void(0)" id="addPersonalAbout" class="btn btn-primary">Add About</a>
                                                <a href="javascript:void(0)" class="btn btn-default float-end">Discard</a>
                                            </div>
                                        </div>
                                        <!--End Row-->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ROW-1 CLOSED -->
                    </div>
                    <!-- CONTAINER CLOSED -->
                </div>
            </div>
@section Scripts{
    <script src="~/AdminFiles/js/personalAbout.js"></script>
    <script>
        $("#form :input").change(function () {

            $("#form").data("changed", true);
        });
        var isClicked = false;
        $('#addPersonalAbout').on('click', function (evt) {
            debugger;
            isClicked = true;
        });
        debugger;

        window.addEventListener("beforeunload", function (e) {
            var confirmationMessage = 'It looks like you have been editing something. '
                + 'If you leave before saving, your changes will be lost.';

            
            debugger;
            if ($("#form").data("changed") && isClicked == false) {
                (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                return confirmationMessage;

            }

            //Gecko + Webkit, Safari, Chrome etc.
        });






    </script>
}