  <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Product Details</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Blog</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row row-sm">
                                            <div class="col-xl-5 col-lg-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="product-carousel">
                                                            <div id="Slider" class="carousel slide border" data-bs-ride="false">
                                                                <div id="blogImage" class="carousel-inner">
                                                                  
                                                              
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix carousel-slider">
                                                            <div id="thumbcarousel" class="carousel slide" data-bs-interval="t">
                                                                <div class="carousel-inner">
                                                                    <ul id="blogSlideDetail" class="carousel-item active">

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="blogDetail" class="details col-xl-7 col-lg-12 col-md-12 mt-4 mt-xl-0">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                 
                        </div>
                        <!-- ROW-1 CLOSED -->
                    </div>
                    <!-- CONTAINER CLOSED -->
                </div>
            </div>
            @section Scripts{
                <script src="~/AdminFiles/js/blog-detail.js"></script>
            }
            <!--app-content closed-->
