<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Add Comments Header</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Comments Header</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12">
                    <form id="form" class="card">
                        <div class="card-header">
                            <div class="card-title">Comments Header</div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Az Title :</label>
                                <div class="col-md-9">
                                    <input type="text" id="azHeader" class="form-control" placeholder="Title Name">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Ru Title :</label>
                                <div class="col-md-9">
                                    <input type="text" id="ruHeader" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">En Title :</label>
                                <div class="col-md-9">
                                    <input type="text" id="enHeader" class="form-control">
                                </div>
                            </div>

                            <!-- Row -->

                        </div>
                        <div class="card-footer">
                            <!--Row-->
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <a href="javascript:void(0)" id="addCommentsHeader" class="btn btn-primary">Add Comments Header</a>

                                </div>
                            </div>
                            <!--End Row-->
                        </div>
                    </form>
                </div>
            </div>
            <!-- /ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
@section Scripts{
    <script src="~/AdminFiles/js/Headers/comments-header.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on('change', '#azHeader', function () {
                
                $("#form").data("changed", true);
            });
            $(document).on('change', '#enHeader', function () {
                
                $("#form").data("changed", true);
            });
            $(document).on('change', '#ruHeader', function () {
                
                $("#form").data("changed", true);
            });
            $(document).on('change', '#azDescription', function () {
                
                $("#form").data("changed", true);
            });
            $(document).on('change', '#enDescription', function () {
                
                $("#form").data("changed", true);
            });
            $(document).on('change', '#ruDescription', function () {
                
                $("#form").data("changed", true);
            }); $(document).on('change', '#files', function () {
                
                $("#form").data("changed", true);
            });
        var isClicked = false;
        $('#addCommentsHeader').on('click', function (evt) {
            
            isClicked = true;
        });
        

        window.addEventListener("beforeunload", function (e) {
            var confirmationMessage = 'It looks like you have been editing something. '
                + 'If you leave before saving, your changes will be lost.';
               
           
            
            if ($("#form").data("changed") && isClicked == false) {
                (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                return confirmationMessage;

            }

            //Gecko + Webkit, Safari, Chrome etc.
        });
        });






    </script>
}