@{
    Layout = null;

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InStudy | Coming Soon</title>
    <meta name="version" content="1.0.0" />
    <!-- favicon -->
    <link href="images/favicon.ico" rel="shortcut icon">
    <!-- Bootstrap core CSS -->
    <link href="~/ComingSoon/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/ComingSoon/css/tobii.min.css" rel="stylesheet" type="text/css" />
    <link href="~/ComingSoon/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <!-- Custom  Css -->
    <link href="~/ComingSoon/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
</head>

<body>
    <section style="background: linear-gradient(to left, #7CD9C4 0%, #220070 100%);" class="position-relative bg-gradient-primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex flex-column min-vh-100 justify-content-center px-md-5 py-5 px-4">
                        <div class="text-center">
                            <a href=""><img width="200" src="~/css/images/logo.png" alt=""></a>
                        </div>
                        <div class="title-heading text-center my-md-auto my-5 my-sm-0">
                            <h1 class="text-white mt-2 mb-4">We Are Coming Soon...</h1>

                            <div id="countdown">
                                <ul class="count-down list-unstyled">
                                    <li id="days" class="count-number list-inline-item m-2"></li>
                                    <li id="hours" class="count-number list-inline-item m-2"></li>
                                    <li id="mins" class="count-number list-inline-item m-2"></li>
                                    <li id="secs" class="count-number list-inline-item m-2"></li>
                                    <li id="end" class="h1"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center footer">
                            @*<p class="mb-0 text-reset">© <script>document.write(new Date().getFullYear())</script> Wesoon. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>*@
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->
    <!-- Offcanvas Start -->
    
    <!-- Offcanvas End -->
    <!-- JAVASCRIPTS -->
    <script src="~/ComingSoon/js/bootstrap.bundle.min.js"></script>
    <script src="~/ComingSoon/js/tobii.min.js"></script>
    <script src="~/ComingSoon/js/contact.js"></script>
    <script src="~/ComingSoon/js/feather.min.js"></script>
    <!-- Custom -->
    <script src="~/ComingSoon/js/app.js"></script>
</body>
</html>