@* @{
    ViewData["Title"] = "Login/Register";
}
<section class="breadcramb-content breadcramb-v2 pt50 pb50 parallax-bg color-overlay" style="background-image:url(img/breadcramb-bg.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>Home</h3>
			</div>
			<div class="col-sm-6">
				<ul>
					<li><a asp-action="Index" asp-controller="Home">Home</a></li>
					<li>Login</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<main>

         <!-- breadcrumb__area start -->
         <section class="breadcrumb__area include-bg pt-140 pb-140 breadcrumb__overlay" data-background="~/img/breadcrumb/breadcrumb-bg-1.jpg">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="breadcrumb__content text-center p-relative z-index-1">
                        <h3 class="breadcrumb__title">Login</h3>
                        <div class="breadcrumb__list">
                           <span><a href="index.html">Home</a></span>
                           <span class="dvdr"><i class="fa-light fa-colon"></i></span>
                           <span class="tp-current">Login</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- breadcrumb__area end -->

         <!-- sign-area start -->
         <div class="sign-area pt-140 pb-140">
            <div class="container">
               <div class="sign-wrapper">
                  <div class="row align-items-center">
                     <div class="col-xl-7">
                        <div class="sign-image w-img">
                           <img src="~/img/about/sign-img-2.png" alt="sign-image">
                        </div>
                     </div>
                     <div class="col-xl-5">
                        <div class="sign-content">
                           <h5 class="sign-title mb-30"><b>Login</b> to account</h5>
                           <form action="#">
                              <div class="row">
                                 <div class="col-xxl-12 col-xl-12 col-lg-12">
                                    <div class="sign-input">
                                       <label class="sign-label mb-10">Your Email</label>
                                       <input type="email" placeholder="Email">
                                    </div>
                                    <div class="sign-input">
                                       <label class="sign-label mb-10">Password</label>
                                       <input type="text" placeholder="Password">
                                    </div>
                                 </div>
                              </div>
                              <div class="sign__action d-sm-flex justify-content-between mt-15 mb-20">
                                 <div class="sign__agree d-flex align-items-center">
                                    <input type="checkbox" hidden="hidden" id="remember-me">
                                    <label class="switch" for="remember-me"></label>
                                    <p>Remember Me</p>
                                 </div>
                                 <div class="sign-forgot-password">
                                    <a href="#">Forgot Password?</a>
                                 </div>
                              </div>
                              <div class="defult-sign">
                                 <button type="submit" class="tp-sqbtn-active-2 w-100">Sign In</button>
                              </div>
                              <div class="sign-line"></div>
                              <div class="sign-in-with-google mb-25">
                                 <a href="#" class="tp-btn-black w-100"><img src="~/img/icon/google.png" alt="">Or sign in with Google</a>
                              </div>
                           </form>
                           <div class="sign__new text-center">
                              <p>Dont have an account? <a asp-action="Register" asp-controller="Home"> Sign Up Now</a></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- sign-area end -->

      </main>*@