@{
    ViewData["Title"] = "Reset Password";
}
 <div class="frontpage-banner-section frontpage-banner-style-three page-inner-block pd-b-200">
            <div class="element-group">
                <div class="element one"></div>
                <div class="element two"></div>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-10 col-md-10">
                        <div class="frontpage-banner-content">
                            <h2 class="hero-title w-200 aos-item mrb-0" data-aos="fade-left" data-aos-duration="100" data-aos-once="true">Reset Password</h2>
                            
                            <!-- /.hero-title -->
                        </div><!-- /.hero-content-area -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Contact Block -->
        <div class="contact-form-block style-two style-three ptb-130">
            <ul class="particle-shapes">
				<li class="dot-shape shape-one"></li>
				<li class="dot-shape shape-two"></li>
				<li class="dot-shape shape-three"></li>
				<li class="dot-shape shape-four"></li>
				<li class="dot-shape shape-five"></li>
			</ul>
			<div class="container ml-b-40">
				<div class="row align-items-center">
					<div class="col-lg-3 col-md-3"></div>
					<div id="resetPasswordArea" class="col-lg-6 col-md-6">
						
					</div><!-- /.col-lg-8 -->
                   <div class="col-lg-3 col-md-3"></div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>
<!-- ========== Contact section End ========== -->
@section Scripts{
	<script src="~/js/resetPassword.js"> </script>
}