<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Add Question Home</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Question Home</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12">
                    <form id="formQuestion" class="card">
                        <div class="card-header">
                            <div class="card-title">Add Question Home</div>
                        </div>
                        <div class="card-body">
                            <div id="form">
                            </div>
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Questions</label>
                                <div class="col-md-9 mb-4">
                                    <select multiple="multiple" id="questions">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!--Row-->
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <a href="javascript:void(0)" id="updateShowedQuestion" class="btn btn-primary">Create</a>
                                </div>
                            </div>
                            <!--End Row-->
                        </div>
                    </form>
                </div>
            </div>
            <!-- /ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
@section Scripts{
    <script src="~/AdminFiles/js/update-pagequestion.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on('change', '#azHeader', function () {
                
                $("#formQuestion").data("changed", true);
            });
            $(document).on('change', '#enHeader', function () {
                
                $("#formQuestion").data("changed", true);
            });
            $(document).on('change', '#ruHeader', function () {
                
                $("#formQuestion").data("changed", true);
            });
            $(document).on('change', '#azDescription', function () {
                
                $("#formQuestion").data("changed", true);
            });
            $(document).on('change', '#enDescription', function () {
                
                $("#formQuestion").data("changed", true);
            });
            $(document).on('change', '#ruDescription', function () {
                
                $("#formQuestion").data("changed", true);
            }); $(document).on('change', '#files', function () {
                
                $("#formQuestion").data("changed", true);
            });
            var isClicked = false;
            $('#updateShowedQuestion').on('click', function (evt) {
                
                isClicked = true;
            });
            

            window.addEventListener("beforeunload", function (e) {
                var confirmationMessage = 'It looks like you have been editing something. '
                    + 'If you leave before saving, your changes will be lost.';


                
                if ($("#formQuestion").data("changed") && isClicked == false) {
                    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                    return confirmationMessage;

                }

                //Gecko + Webkit, Safari, Chrome etc.
            });
        });






    </script>
}