<!DOCTYPE html>   
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="description" content="sads">
      <meta name="google" content="nopagereadaloud" />
      <meta name="referrer" content="unsafe-url">
      <link rel="preconnect" href="https://cdn.jsdelivr.net">
      <link rel="icon" type="image/png" href="~/images/favicon.png" sizes="32x32">
      <link rel="icon" type="image/png" href="~/images/favicon.png" sizes="16x16">
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-76x76.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-120x120.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-152x152.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-192x192.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-512x512.png" rel="apple-touch-icon" />
      <meta name="theme-color" content="#247BA0">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="manifest" href="manifest.json">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">  
      <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/26905/Studyportalslineariconset/style-cf.css?dnl644">
      <title>instudy | Xaricdə Təhsil </title>
      <link rel="stylesheet" href="~/css/scss/shared.css" />
      <link rel="stylesheet" href="~/css/scss/style.css" />
      <link rel="stylesheet" href="~/css/scss/responsive1.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
     @* <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/tooltip-dll@2.0.0/dist/tooltip.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/modal-dll@2.2.0/dist/modal.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/modal-dll@1.1.10/dist/modal.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/tooltip-dll@1.3.0/dist/tooltip.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/multiselect-dll@4.1.2-3/dist/multiselect_v3.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/monthpicker-dll@2.2.1-1/dist/monthpicker_v2.min.css"> -->*@
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="~/css/scss/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/scss/owl.theme.default.min.css">
    

       <link rel="stylesheet" type="text/css" href="~/css/scss/search.css">

      @RenderSection("Css",false)  
   </head>
   <body>
     
      <div id="galactus">
         <header id="NavBar">
               <div id="SearchRow">
                     <div id="SearchRowWrapper" class="col1 no-vertical-padding wrapped" style="padding-right: 0px;">
                        <div class="SearchRowBackground"></div>
                        <div id="SearchRowColBlock" class="colblock no-vertical-margin DisplayFlex">
                           <div class="Brand"> <a asp-action="Index" asp-controller="Home" title="InStudy"> <img src="~/images/logo (2).png" alt="InStudy" id="PortalLogo" width="150" height="30"> </a> </div>
                           <div class="HeaderToggle">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderToggle_HeaderToggle">
                                 <section id="HeaderToggle">
                                    <a onclick="openMenu()" class="HeaderToggleItem MainMenuShowButton js-showMainMenuButton MobileOnlyBlock">
                                       <i class="lnr-menu MainMenuIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>

                                   @* <a title="Wishlisted studies" class="HeaderToggleItem js-wishlistButton MobileOnlyBlock">
                                       <i class="lnr-heart WishlistIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer HeaderToggleItem Textlink MobileOnlyBlock" href="https://www.mastersportal.com/chat-with-students/">
                                       <i class="lnr-bubble UnibuddyIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>*@
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer HeaderToggleItem Textlink MobileOnlyBlock" href="/Contact/Index">
                                        <i class="lnr-bubbles UnibuddyIcon HeaderIcon "></i> 
                                    </a>
                                   @* <a title="Chat with students" style="cursor: pointer;" class="HeaderToggleItem js-wishlistButton MobileOnlyBlock" onclick="changeLang()">
                                        <i class="lnr-earth UnibuddyIcon HeaderIcon "></i>
                                    </a>*@
                                    <div class="HeaderToggleItem js-user MobileOnlyBlock" onclick="changeLang()"> <i class="lnr-earth UnibuddyIcon HeaderIcon "> <i class="lnr-notification-inverted ProfilePageIntroductionIcon MobileIcon Hidden"></i> </i> </div>
                                 </section>
                              </div>
                           </div>
                           <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderMainMenu_HeaderMainMenu">
                              <nav id="HeaderMainMenu">
                                <a onclick="closeMenu()" style="display:hidden;" class="MainMenuHideButton js-hideMainMenuButton"> <i class="lnr-cross MainMenuIcon HeaderIcon"></i> </a>
                                <ul class="MainMenuSections SectionsNavigation">
                                    <li class="SectionNavigationItem explore " style="width:115px;" onclick="selectMenu('explore')" id="explore"> </li>
                                    <li class="SectionNavigationItem apply" style="width:115px;" id="apply"> </li>
                                    <li class="SectionNavigationItem goStudy" style="width:115px;" onclick="selectMenu('goStudy')" id="goStudy">  </li>
                                 </ul>
                                 <ul class="MainMenuSections SectionsContent" id="SectionsContent">
                                    <li class="SectionNavigationItem "  id="exploreContent" style="left:24px;">
                                        <a class="SectionNavigationLink js-SectionNavigationLink  " onclick="selectMenu('explore')" id="explore" style="margin-left: 5px;" ><i class="SectionNavigationIcon lnr-compass2"></i> <span id="exploreHeader" class="SectionNavigationLabel"></span> </a>
                                        <div class="SectionContent" data-menu-section="explore" style="left: 0px">
                                          <section class="SectionContentColumn SectionContentColumnLeft">
                                             <div id="disciplinesHeader" class="SubSectionContentTitle">   </div>
                                             <ul id="disciplinesMenu" class="SubSectionContentList SubSectionContentListPrimary">
                                               
                                             </ul>
                                          </section>
                                          <section class="SectionContentColumn SectionContentColumnRight">
                                             <div id="countryHeader" class="SubSectionContentTitle">Most popular countries</div>
                                             <ul id="countryMenu" class="SubSectionContentList">
                                                
                                             </ul>
                                             <a class="SubSectionViewAllLink countryMore" href="/country/index" id="countryMore" title="View all countries"> View all countries </a> 
                                          </section>
                                          <section class="SectionContentColumn SectionContentColumnRight">
                                             <div id="universityHeader" class="SubSectionContentTitle">Most popular universities</div>
                                             <ul id="universityMenu" class="SubSectionContentList">
                                               
                                             </ul>
                                             
                                          </section>
                                       </div>
                                    </li>
                                    <li class="SectionNavigationItem"  id="decideContent" style="left:132px;" >
                                       <a class="SectionNavigationLink js-SectionNavigationLink"> <i class="SectionNavigationIcon lnr-archery"></i> <span id="decideContent" class="SectionNavigationLabel"></span> </a> 
                                       <div class="SectionContent SectionContentDecide" data-menu-section="decide" style="left: 0px">
                                          <div class="SectionContentColumn SectionContentColumnFullWidth">
                                             <div class="SubSectionContentTitle">Tools to help you decide</div>
                                             <a href="https://www.mastersportal.com/articles/2426/how-to-use-our-bestfit-tool.html" class="SubSectionCtaButton" title="Best Fit"> <i class="lnr-clipboard-check SubSectionCtaIcon"></i> <span class="SubSectionCtaTitle">Best Fit</span> <span class="SubSectionCtaDescription">Check your budget and academic fit with your study of choice</span> </a> <a href="https://www.mastersportal.com/articles/2649/how-student-reviews-can-help-you-find-the-best-university-for-you-in-2023.html" class="SubSectionCtaButton" title="Student Reviews"> <i class="lnr-reviews SubSectionCtaIcon"></i> <span class="SubSectionCtaTitle">Student Reviews</span> <span class="SubSectionCtaDescription">What are students saying about your chosen universities?</span> </a> 
                                          </div>
                                          <section class="SectionContentColumn SectionContentColumnFullWidth">
                                             <div class="SubSectionContentTitle">University rankings per country</div>
                                             <ul class="SubSectionContentList SubSectionContentListTwoColumns">
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/1/netherlands.html"> Netherlands </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/10/france.html"> France </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/11/germany.html"> Germany </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/19/norway.html"> Norway </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/30/united-kingdom.html"> United Kingdom </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/56/canada.html"> Canada </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/82/united-states.html"> United States </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/202/australia.html"> Australia </a> </li>
                                             </ul>
                                          </section>
                                       </div>
                              </li>            
                                    <li class="SectionNavigationItem " id="goStudyContent" style="left:237px;">
                                       <a class="SectionNavigationLink js-SectionNavigationLink" onclick="selectMenu('goStudy')" id="goStudy"  > <i class="SectionNavigationIcon lnr-archery"></i> <span id="goStudyHeader" class="SectionNavigationLabel"></span> </a> 
                                       <div class="SectionContent SectionContentColumnFullWidth" data-menu-section="apply" style="left:0px">
                                          <section class="SubSectionContent SubSectionContentSecondary">
                                             <div id="goStudyHeader" class="SubSectionContentTitle"></div>
                                             <ul id="goStudys" class="SubSectionContentList">
                                             </ul>
                                          </section>
                                       </div>
                                    </li>
                                 </ul>
                                 <div id="MainMenuBackground"></div>
                              </nav>
                           </div>
                           <div class="HeaderSearch">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderSearch_HeaderSearch">
                                 <div id="HeaderSearch">
                                    <form class="Form" id="SearchForm">
                                       <div class="InputWrapper">
                                          <input id="programInput1" type="text" value="" name="discipline" class="Keywords AutoCompleteInput" autocomplete="off" data-type="what" data-order="1"> 
                                          <div id="program_div" class="AutoCompleteContainer Hidden " style="width: 197px;">
                                             <ul id="program1" class="AutoComplete"> 
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="InputWrapper">
                                          <input id="countryInput" type="text" value="" name="location" class="Keywords AutoCompleteInput" autocomplete="off" data-type="where" data-order="2">
                                            <div id="country_div" class="AutoCompleteContainer Hidden " style="width: 197px;">
                                             <ul id="country" class="AutoComplete">
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="InputWrapper">
                                          <input id="directionInput" type="text" value="" name="location" class="Keywords AutoCompleteInput" autocomplete="off" data-type="where" data-order="2">
                                            <div id="direction_div" class="AutoCompleteContainer Hidden " style="width: 197px;">
                                                <ul id="direction" class="AutoComplete">
                                             </ul>
                                          </div>
                                       </div>
                                       <button type="button" id="searchButton" class="SearchButton"> <i class="lnr-magnifier SearchButtonIcon"></i> </button> 
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div id="language" class="AccountModule HeaderToggleContent">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_Login_HeaderLogin">
                                 <div id="HeaderLogin" class="Hidden">    <a title="Wishlisted studies" class="HeaderWishlistContainer js-wishlistButton"> <i class="lnr-heart WishlistIcon HeaderIcon"></i> <span class="HeaderWishlistText">Wishlist</span> </a> <a title="Chat with students" class="HeaderUnibuddyLinkContainer Textlink" href="https://www.mastersportal.com/chat-with-students/"> <i class="lnr-bubble UnibuddyIcon"></i> <span class="HeaderUnibuddyText">Chat</span> </a> <button id="LoginButton" class="InUpButton AccountClickable Textlink" data-ga-tracking="{&quot;category&quot;:&quot;Profile&quot;,&quot;action&quot;:&quot;Register Incentive Click&quot;,&quot;label&quot;:&quot;Header:Login&quot;,&quot;event&quot;:&quot;click&quot;}" data-ga-parsed="true"> <i class="lnr-user UserIcon"></i> <span class="LoggedInUserText">Sign in</span> </button> </div>
                                 <div id="HeaderLoggedIn" class="">
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer DesktopOnlyBlock Textlink" href="/Contact">
                                           <i class="lnr-bubbles UnibuddyIcon "></i> <span id="contactHeder" class="HeaderUnibuddyText">Contact</span> </a> 
                                           <a title="Chat with students" style="cursor: pointer;" class="HeaderUnibuddyLinkContainer DesktopOnlyBlock Textlink" onclick="changeLang()">
                                           <h3 style="color:#579AB6" id="curLang" class="h1"></h3> </a> 
                                        
                                    <div id="LoggedInDropDown"  class="AccountDropDown">
                                       <ul class="Content">
                                          <li> <a title="My account page" onclick="setLang('AZ')" class="MenuItem">AZ</a> </li>
                                          <li> <a title="Interesting for you" onclick="setLang('EN')" class="MenuItem">EN</a> </li>
                                          <li> <a title="My settings page" onclick="setLang('RU')" class="MenuItem">RU</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="HeaderFlyoutWrapper">
                           <div class="AuthPlaceholder" id="AuthHeaderPlaceholder" data-layout="Header" data-referrer="Header" data-portal-type="master"> </div>
                        </div>
                     </div>
                </div>
            <div id="NavBreadcrumbRow">
               <div class="col1 no-vertical-padding wrapped">
                  <div class="colblock no-vertical-margin"> </div>
               </div>
            </div>
         </header>
     
            @RenderBody()

        <footer id="Footer" class="js-footer">
            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterBobPlaceholder_FooterBobPlaceholder">
                <div id="PortalPlaceholder"></div>
            </div>
            <section id="FooterMain">
                <div class="BgBars">
                    <div class="BgBarA">&nbsp;</div>
                    <div class="BgBarB">&nbsp;</div>
                    <div class="BgBarC">&nbsp;</div>
                    <div class="BgBarD">&nbsp;</div>
                </div>
                <div class="FooterMainCol1 col1 no-vertical-padding wrapped">
                    <div class="colblock no-top-margin">
                        <div id="FooterScrollToTopWrapper">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterScrollToTop_FooterScrollToTop">
                                <div id="FooterScrollToTop">
                                    <button class="FooterScrollToTopButton canHover" onclick="scrolToTop()" title="Scroll to top">
                                        <span class="FooterScrollToTopRocket" id="js-FooterScrollToTopAnimate">
                                            <i class="lnr-chevron-up UnibuddyIcon" style="font-size: 40px;"></i>
                                        </span>
                                        <span class="FooterScrollToTopText">Top</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="FooterMainInner">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterAboutUs_FooterAboutUs">
                                <div id="FooterAboutUs">
                                    <strong class="Header">InStudy</strong>
                                    <ul class="List">
                                        <li class="ListItem"> <a href="/About/Index" class="Link aboutlang" title="About Studyportals" target="_blank" rel="noopener"> About </a> </li>
                                        <li class="ListItem"> <a href="" class="Link articleslang" title="Our Marketing Services" target="_blank" rel="noopener"> Arcticles </a> </li>
                                        <li class="ListItem"> <a href="/Country/Index" class="Link countrieslang" title="Careers" target="_blank" rel="noopener"> Countries </a> </li>
                                        <li class="ListItem"> <a href="/Contact/Index" class="Link contactlang" title="Contact us" target="_blank" rel="noopener"> Contact us </a> </li>
                                    </ul>
                                </div>
                            </div>


                            @*<div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterOurPortals_FooterOurPortals">*@
                                @*<nav id="FooterOurPortals">
                                    <strong class="Header">Our websites</strong>
                                    <ul class="List">
                                        <li class="ListItem"> <a href="https://www.bachelorsportal.com/?redirect=false" class="Link" title="Bachelorsportal.com" target="BachelorsPortal" rel="nofollow noopener">Bachelorsportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.mastersportal.com/?redirect=false" class="Link" title="Mastersportal.com" target="MastersPortal" rel="noopener">Mastersportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.phdportal.com/?redirect=false" class="Link" title="PhDportal.com" target="PhDPortal" rel="noopener">PhDportal</a> </li>
                                        <li class="ListItem"> <a href="www_distancelearningportal_default_2.html" class="Link" title="DistanceLearningportal.com" target="DistanceLearningPortal" rel="noopener">DistanceLearningportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.scholarshipportal.com/" class="Link" title="ScholarshipPortal.com" target="ScholarshipPortal" rel="noopener">Scholarshipportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.shortcoursesportal.com/?redirect=false" class="Link" title="ShortCoursesportal.com" target="ShortCoursesPortal" rel="noopener">ShortCoursesportal</a> </li>
                                        <li class="ListItem"> <a href="https://admissiontestportal.com/" class="Link" title="AdmissionTestportal.com" target="AdmissionTestPortal" rel="noopener">AdmissionTestportal</a> </li>
                                        <li class="ListItem"> <a href="https://englishtestportal.com/" class="Link" title="EnglishTestportal.com" target="EnglishTestPortal" rel="noopener">EnglishTestportal</a> </li>
                                        <li class="ListItem"> <a href="https://studentinsuranceportal.com/" class="Link" title="StudentInsuranceportal.com" target="StudentInsuranceportal" rel="nofollow noopener">StudentInsuranceportal</a> </li>
                                    </ul>
                                </nav>*@
                           
                            <div>
                               
                                <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterSocialMediaIcons_FooterSocialMediaIcons">
                                    <nav id="FooterSocialMediaIcons">
                                        <strong class="Header followlang">Follow us</strong>
                                        <ul  class="List">
                                            <li id="faceIcon" class="ListItem"> 
                                                </li>
                                            <li id="linkIcon"class="ListItem">
                                                </li>
                                            <li id="ytbIcon" class="ListItem">
                                                </li>
                                            <li id="twtrIcon"class="ListItem"> 
                                                </li>
                                            <li id="instaIcon" class="ListItem">

                                                </li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                              
                            </div>
                        </div>
                    </div>
             
           </section>
            <section id="FooterBranding">
                <div class="col1 no-vertical-padding wrapped">
                    <div class="colblock FlexBranding">
                        <div class="FooterLogo">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterLogo_FooterLogo"> <img src="~/images/logo (2).png" class="SPLogo" alt="Studyportals" width="350" height="160" loading="lazy"> </div>
                        </div>
                        <div class="FooterDisclaimer">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterDisclaimer_FooterDisclaimer">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="FooterCopyright">
                <div class="FooterCopyrightCol1 col1 no-vertical-padding wrapped">
                    <div class="FooterCopyrightColBlock colblock">
                        <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterHiring_FooterHiring">
                            <div id="FooterHiring"> <a href="https://toogoo.az/" rel="noopener" class="FooterHiringLink" title="We are hiring!" target="_blank"> <span>Crafted with</span> <i class="lnr-heart"></i> <span>by TooGoo</span> </a> Copyright &copy; 2022 InStudy </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="Hidden">
                <div data-module="" class="Module StudyPortals_Shared_Modules_LocalizationSettings_LocalizationSettings">
                    <div class="Hidden js-notAvailableTextMain">Unavailable</div>
                    <aside id="LocalizationSettings" class="PopupContent">
                        <span class="SettingsTitle"> <i class="lnr-earth SettingsTitleIcon"></i> Nationality &amp; Currency </span>
                        <div class="ProfileQuestionnaire" data-questionnaire="localization_settings"> </div>
                        <div class="Reason">
                            <p class="ReasonLabel">Why do we ask this?</p>
                            <p class="ReasonExplanation"> If you tell us your nationality, we can show you the visa and tuition information that is most relevant to you.<br /> Also, tell us which currency you'd like to have the fees displayed in. </p>
                        </div>
                    </aside>
                </div>
            </div>
       </footer>
    </div>
   
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js" integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/functionality.js" async crossorigin="anonymous"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/homepage.js" async crossorigin="anonymous"></script>
        <script src="~/js/layout.js" async crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

     <script>
        $(document).ready(function () {
           var $partners = $('#partners');
             var $owlOptions = {
                
                  loop:true,

                        margin:10,
                         autoplay:true,
                        autoplayTimeout:1000,
                        autoplayHoverPause:true
            }; 
            $.ajax({
                type: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                url: `https://api.instudy.net/api/Partner/GetPartners`,

                success: function (data) {
                    $partners.empty();
                  
                    $.each(
                        data.data, function (i, value) {
                             console.log("partners",value);
                            var image = `https://api.instudy.net/${value?.partnerFiles[0]?.path}`
                            $('#partners').owlCarousel('add', `<div style="height:200px;  display: inline-block;"> <a href="${value.link}"><img style="height:100%; width:200px;" src="${image}" /></a></div>`).owlCarousel('update');
                               


                        }
                    );
                     $('#partners').owlCarousel({
                        loop:true,
                      
                        margin:10,
                         autoplay:true,
                        autoplayTimeout:1000,
                        autoplayHoverPause:true
                    });




                }

            });
            });
       
           
        </script>

    
 

    <script>
        toastr.options = {
            "closeButton": true,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "500",
            "hideDuration": "10000",
            "timeOut": "50000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

        <script>
            $(document).ready(function () {
	            var curLang = localStorage.getItem('lang');
                var $lang = $('#curLang');
                console.log(curLang);
                if(curLang ==null  || curLang == undefined){
                    localStorage.setItem('lang', 'AZ');

                }
                curLang = localStorage.getItem('lang');
                $lang.html(curLang);


            });
        </script>

        <script>
            function selectMenu(id) {
                console.log(id);
                var body = document.body;
                const searchWrapper = document.getElementById('SearchRowWrapper');
                const li = document.getElementById(id);
                const content = document.getElementById('SectionsContent');
                var isOpen = li.classList.contains('is-open');
                var sectionContent = document.getElementById('exploreContent');
                var studyContent = document.getElementById('goStudyContent');
                console.log(isOpen);
                if (id == 'explore') {

                    if (isOpen == false) {
                        li.classList.add("is-open");
                        body.classList.add("js-HeaderMainMenuOpened");
                        content.classList.add("is-open");
                        sectionContent.classList.add("is-open");
                        studyContent.classList.remove("is-open");
                        document.getElementById('goStudy').classList.remove("is-open");
                        searchWrapper.style.paddingRight = "17px";
                    }
                    else {
                        console.log("dsdsddsd");
                        li.classList.remove("is-open");
                        body.classList.remove("js-HeaderMainMenuOpened");
                        content.classList.remove("is-open");
                        sectionContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "0px"
                    }
                }
                else {
                    if (isOpen == false) {
                        li.classList.add("is-open");
                        body.classList.add("js-HeaderMainMenuOpened");
                        content.classList.add("is-open");
                        studyContent.classList.add("is-open");
                         document.getElementById('explore').classList.remove("is-open");
                        sectionContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "17px"
                    }
                    else {
                        console.log("dsdsddsd");
                        li.classList.remove("is-open");
                        body.classList.remove("js-HeaderMainMenuOpened");
                        content.classList.remove("is-open");
                        studyContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "0px"
                    }
                }
            }
            function scrolToTop() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
            function changeLang() {
                const div = document.getElementById("LoggedInDropDown");
                const lan = document.getElementById("language");
                var isOpen = div.classList.contains("Selected");
                var isO=lan.classList.contains("InView");
                if (isOpen == false && isO==false) {
                    div.classList.add("Selected");
                     lan.classList.add("InView");
                } else {
                    div.classList.remove("Selected");
                    lan.classList.remove("InView");
                }
            }
             function setLang(lang) {
                localStorage.setItem('lang', lang);
                location.reload();
            }

            function openMenu(){

                const content = document.getElementById('SectionsContent');
                var body = document.body;
                 const li = document.getElementById('explore');
                 const li1 = document.getElementById('exploreContent');
                 const li2 = document.getElementById('decideContent');
                 const li3 = document.getElementById('goStudyContent');
                body.classList.add("js-HeaderMainMenuOpened");
                body.style.overflow = "hidden";
                content.classList.add("is-open");
                li.classList.add("is-open");
                li1.classList.add("is-open");
                li1.style.left = "0px";
                li2.style.left = "87px";
                li3.style.left = "171px";
        
            }

        
            function closeMenu(){
                const content = document.getElementById('SectionsContent');
                var body = document.body;
                const li = document.getElementById('explore');
                const li1 = document.getElementById('exploreContent');
                const li2 = document.getElementById('decideContent');
                const li3 = document.getElementById('goStudyContent');
                body.classList.remove("js-HeaderMainMenuOpened");
                body.style.overflow = "scroll";
                content.classList.remove("is-open");
                li.classList.remove("is-open");
                li1.classList.remove("is-open");
                document.getElementById('goStudy').classList.remove("is-open");
                li1.style.left = "0px";
                li2.style.left = "87px";
                li3.style.left = "171px";
            }
          $("#MainMenuBackground").click(function () {
            const content = document.getElementById('SectionsContent');
             var body = document.body;
            content.classList.remove("is-open");
            body.classList.remove("js-HeaderMainMenuOpened");
            var link = document.getElementById('explore');
            link.classList.remove("is-open");
            var link = document.getElementById('goStudy');
            link.classList.remove("is-open");
          
        });

    
       
            function searchProgram(name) {
               var  txtValue = name.textContent || name.innerText;
              
               document.getElementById('programInput1').value = txtValue;
            }  
            function searchDirection(name) {
              var  txtValue = name.textContent || name.innerText;
               document.getElementById('directionInput').value = txtValue;
            }
            function searchCountry(name) {
              var  txtValue = name.textContent || name.innerText;
               document.getElementById('countryInput').value = txtValue;
            }
        </script>
        @RenderSection("Scripts",false)
</body>
</html>