<!DOCTYPE html>   
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="description" content="sads">
      <meta name="google" content="nopagereadaloud" />
      <meta name="referrer" content="unsafe-url">
      <link rel="preconnect" href="https://cdn.jsdelivr.net">
      <link rel="icon" type="image/png" href="https://monet-prtl-co.imgix.net/Shared/Favicons/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="https://monet-prtl-co.imgix.net/Shared/Favicons/favicon-16x16.png" sizes="16x16">
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-76x76.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-120x120.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-152x152.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-192x192.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-512x512.png" rel="apple-touch-icon" />
      <meta name="theme-color" content="#247BA0">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="manifest" href="manifest.json">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://d1azc1qln24ryf.cloudfront.net" crossorigin>  
      <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/26905/Studyportalslineariconset/style-cf.css?dnl644">
      <title>InStudy | Xaricdə Təhsil </title>
      <link rel="stylesheet" href="~/css/scss/shared.css" />
      <link rel="stylesheet" href="~/css/scss/style.css" />
      <link rel="stylesheet" href="~/css/scss/responsive1.css" />
      <link rel="stylesheet" type="text/css" href="~/css/scss/slick/slick.css">
      <link rel="stylesheet" type="text/css" href="~/css/scss/slick/slick-theme.css">
     @* <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/tooltip-dll@2.0.0/dist/tooltip.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/modal-dll@2.2.0/dist/modal.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/modal-dll@1.1.10/dist/modal.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/tooltip-dll@1.3.0/dist/tooltip.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/multiselect-dll@4.1.2-3/dist/multiselect_v3.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/monthpicker-dll@2.2.1-1/dist/monthpicker_v2.min.css"> -->*@
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="preload" href="https://auth.prtl.co/dist/bundle.85d705693e111c4befa4.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <link rel="stylesheet" href="https://auth.prtl.co/dist/bundle.85d705693e111c4befa4.css">
      <link rel="preload" href="https://profile-questionnaires.prtl.co/dist/bundle.0a933e314e3ebc3cbb59.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <link rel="stylesheet" href="https://profile-questionnaires.prtl.co/dist/bundle.0a933e314e3ebc3cbb59.css">
      @RenderSection("Css",false)  
   </head>
   <body>
     
      <div id="galactus">
         <header id="NavBar">
               <div id="SearchRow">
                     <div id="SearchRowWrapper" class="col1 no-vertical-padding wrapped" style="padding-right: 0px;">
                        <div class="SearchRowBackground"></div>
                        <div id="SearchRowColBlock" class="colblock no-vertical-margin DisplayFlex">
                           <div class="Brand"> <a asp-action="Index" asp-controller="Home" title="InStudy"> <img src="~/images/instudy-footer.png" alt="InStudy" id="PortalLogo" width="150" height="30"> </a> </div>
                           <div class="HeaderToggle">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderToggle_HeaderToggle">
                                 <section id="HeaderToggle">
                                    <a onclick="openMenu()" class="HeaderToggleItem MainMenuShowButton js-showMainMenuButton MobileOnlyBlock">
                                       <i class="lnr-menu MainMenuIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>

                                   @* <a title="Wishlisted studies" class="HeaderToggleItem js-wishlistButton MobileOnlyBlock">
                                       <i class="lnr-heart WishlistIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer HeaderToggleItem Textlink MobileOnlyBlock" href="https://www.mastersportal.com/chat-with-students/">
                                       <i class="lnr-bubble UnibuddyIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>*@
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer HeaderToggleItem Textlink MobileOnlyBlock" href="/Contact/Index">
                                        <i class="lnr-bubbles UnibuddyIcon HeaderIcon "></i> 
                                    </a>
                                   @* <a title="Chat with students" style="cursor: pointer;" class="HeaderToggleItem js-wishlistButton MobileOnlyBlock" onclick="changeLang()">
                                        <i class="lnr-earth UnibuddyIcon HeaderIcon "></i>
                                    </a>*@
                                    <div class="HeaderToggleItem js-user MobileOnlyBlock" onclick="changeLang()"> <i class="lnr-earth UnibuddyIcon HeaderIcon "> <i class="lnr-notification-inverted ProfilePageIntroductionIcon MobileIcon Hidden"></i> </i> </div>
                                 </section>
                              </div>
                           </div>
                           <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderMainMenu_HeaderMainMenu">
                              <nav id="HeaderMainMenu">
                                 <a onclick="closeMenu()" class="MainMenuHideButton js-hideMainMenuButton"> <i class="lnr-cross MainMenuIcon HeaderIcon"></i> </a> 
                                 <ul class="MainMenuSections SectionsNavigation">
                                    <li class="SectionNavigationItem " onclick="selectMenu('explore')" id="explore"> <a class="SectionNavigationLink js-SectionNavigationLink"> <i class="SectionNavigationIcon lnr-compass2"></i> <span class="SectionNavigationLabel">Explore</span> </a> </li>
                                    <li class="SectionNavigationItem "> <a class="SectionNavigationLink js-SectionNavigationLink"><i class="SectionNavigationIcon lnr-paper-plane"></i>  <span class="SectionNavigationLabel">Apply</span> </a> </li>
                                    <li class="SectionNavigationItem" onclick="selectMenu('goStudy')" id="goStudy"> <a class="SectionNavigationLink js-SectionNavigationLink"> <i class="SectionNavigationIcon lnr-archery"></i> <span class="SectionNavigationLabel"> Go Study</span> </a> </li>
                                 </ul>
                                 <ul class="MainMenuSections SectionsContent" id="SectionsContent">
                                    <li class="SectionNavigationItem "  id="exploreContent" style="left: 24px;">
                                       <a class="SectionNavigationLink js-SectionNavigationLink" onclick="selectMenu('explore')" id="explore"> <i class="SectionNavigationIcon lnr-compass2"></i> <span class="SectionNavigationLabel">Explore</span> </a> 
                                       <div class="SectionContent" data-menu-section="explore" style="left: 0px">
                                          <section class="SectionContentColumn SectionContentColumnLeft">
                                             <div id="disciplinesHeader" class="SubSectionContentTitle">   </div>
                                             <ul id="disciplinesMenu" class="SubSectionContentList SubSectionContentListPrimary">
                                               
                                             </ul>
                                          </section>
                                          <section class="SectionContentColumn SectionContentColumnRight">
                                             <div id="countryHeader" class="SubSectionContentTitle">Most popular countries</div>
                                             <ul id="countryMenu" class="SubSectionContentList">
                                                
                                             </ul>
                                             <a class="SubSectionViewAllLink countryMore" href="/country/index" id="countryMore" title="View all countries"> View all countries </a> 
                                          </section>
                                          <section class="SectionContentColumn SectionContentColumnRight">
                                             <div id="universityHeader" class="SubSectionContentTitle">Most popular universities</div>
                                             <ul id="universityMenu" class="SubSectionContentList">
                                               
                                             </ul>
                                             <a class="SubSectionViewAllLink" href="/university/index" id="uniMore" title="View all countries"> View all universities </a> 
                                          </section>
                                       </div>
                                    </li>
                                    <li class="SectionNavigationItem"  id="decideContent" style="left: 132px;">
                                       <a class="SectionNavigationLink js-SectionNavigationLink"> <i class="SectionNavigationIcon lnr-archery"></i> <span class="SectionNavigationLabel">Decide</span> </a> 
                                       <div class="SectionContent SectionContentDecide" data-menu-section="decide" style="left: 0px">
                                          <div class="SectionContentColumn SectionContentColumnFullWidth">
                                             <div class="SubSectionContentTitle">Tools to help you decide</div>
                                             <a href="https://www.mastersportal.com/articles/2426/how-to-use-our-bestfit-tool.html" class="SubSectionCtaButton" title="Best Fit"> <i class="lnr-clipboard-check SubSectionCtaIcon"></i> <span class="SubSectionCtaTitle">Best Fit</span> <span class="SubSectionCtaDescription">Check your budget and academic fit with your study of choice</span> </a> <a href="https://www.mastersportal.com/articles/2649/how-student-reviews-can-help-you-find-the-best-university-for-you-in-2023.html" class="SubSectionCtaButton" title="Student Reviews"> <i class="lnr-reviews SubSectionCtaIcon"></i> <span class="SubSectionCtaTitle">Student Reviews</span> <span class="SubSectionCtaDescription">What are students saying about your chosen universities?</span> </a> 
                                          </div>
                                          <section class="SectionContentColumn SectionContentColumnFullWidth">
                                             <div class="SubSectionContentTitle">University rankings per country</div>
                                             <ul class="SubSectionContentList SubSectionContentListTwoColumns">
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/1/netherlands.html"> Netherlands </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/10/france.html"> France </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/11/germany.html"> Germany </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/19/norway.html"> Norway </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/30/united-kingdom.html"> United Kingdom </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/56/canada.html"> Canada </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/82/united-states.html"> United States </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/202/australia.html"> Australia </a> </li>
                                             </ul>
                                          </section>
                                       </div>
                              </li>            
                                    <li class="SectionNavigationItem " id="goStudyContent" style="left: 237px;">
                                       <a class="SectionNavigationLink js-SectionNavigationLink" onclick="selectMenu('goStudy')" id="goStudy"> <i class="SectionNavigationIcon lnr-archery"></i> <span class="SectionNavigationLabel">Go Study</span> </a> 
                                       <div class="SectionContent SectionContentColumnFullWidth" data-menu-section="apply" style="left: -171px">
                                          <section class="SubSectionContent SubSectionContentSecondary">
                                             <div class="SubSectionContentTitle">Tips to apply</div>
                                             <ul id="goStudys" class="SubSectionContentList">
                                             </ul>
                                          </section>
                                       </div>
                                    </li>
                                 </ul>
                                 <div id="MainMenuBackground"></div>
                              </nav>
                           </div>
                           <div class="HeaderSearch">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderSearch_HeaderSearch">
                                 <div id="HeaderSearch">
                                    <form method="get" action="https://www.mastersportal.com/search/master" class="Form" id="SearchForm">
                                       <div class="InputWrapper">
                                          <input id="What" type="text" value="" name="discipline" class="Keywords AutoCompleteInput" placeholder="Program" autocomplete="off" data-type="what" data-order="1"> 
                                          <div class="AutoCompleteContainer Hidden" style="width: 197px;">
                                             <ul class="AutoComplete"></ul>
                                          </div>
                                       </div>
                                       <div class="InputWrapper">
                                          <input id="Where" type="text" value="" name="location" class="Keywords AutoCompleteInput" placeholder="Country" autocomplete="off" data-type="where" data-order="2"> 
                                          <div class="AutoCompleteContainer Hidden" style="width: 197px;">
                                             <ul class="AutoComplete"></ul>
                                          </div>
                                       </div>
                                       <div class="InputWrapper">
                                          <input id="Where" type="text" value="" name="location" class="Keywords AutoCompleteInput" placeholder="Direction" autocomplete="off" data-type="where" data-order="2"> 
                                          <div class="AutoCompleteContainer Hidden" style="width: 197px;">
                                             <ul class="AutoComplete"></ul>
                                          </div>
                                       </div>
                                       <button type="submit" class="SearchButton"> <i class="lnr-magnifier SearchButtonIcon"></i> </button> 
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div id="language" class="AccountModule HeaderToggleContent">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_Login_HeaderLogin">
                                 <div id="HeaderLogin" class="Hidden">    <a title="Wishlisted studies" class="HeaderWishlistContainer js-wishlistButton"> <i class="lnr-heart WishlistIcon HeaderIcon"></i> <span class="HeaderWishlistText">Wishlist</span> </a> <a title="Chat with students" class="HeaderUnibuddyLinkContainer Textlink" href="https://www.mastersportal.com/chat-with-students/"> <i class="lnr-bubble UnibuddyIcon"></i> <span class="HeaderUnibuddyText">Chat</span> </a> <button id="LoginButton" class="InUpButton AccountClickable Textlink" data-ga-tracking="{&quot;category&quot;:&quot;Profile&quot;,&quot;action&quot;:&quot;Register Incentive Click&quot;,&quot;label&quot;:&quot;Header:Login&quot;,&quot;event&quot;:&quot;click&quot;}" data-ga-parsed="true"> <i class="lnr-user UserIcon"></i> <span class="LoggedInUserText">Sign in</span> </button> </div>
                                 <div id="HeaderLoggedIn" class="">
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer DesktopOnlyBlock Textlink" href="https://www.mastersportal.com/chat-with-students/">
                                           <i class="lnr-bubbles UnibuddyIcon "></i> <span class="HeaderUnibuddyText">Contact</span> </a> 
                                           <a title="Chat with students" style="cursor: pointer;" class="HeaderUnibuddyLinkContainer DesktopOnlyBlock Textlink" onclick="changeLang()">
                                           <h3 style="color:#579AB6" id="curLang" class="h1"></h3> </a> 
                                        
                                    <div id="LoggedInDropDown"  class="AccountDropDown">
                                       <ul class="Content">
                                          <li> <a title="My account page" onclick="setLang('AZ')" class="MenuItem">
                                             
                                             AZ </a> </li>
                                              <li> <a title="Interesting for you" onclick="setLang('EN')" class="MenuItem" > EN </a> </li>
                                          <li> <a title="My settings page" onclick="setLang('RU')" class="MenuItem" > RU </a> </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="HeaderFlyoutWrapper">
                           <div class="AuthPlaceholder" id="AuthHeaderPlaceholder" data-layout="Header" data-referrer="Header" data-portal-type="master"> </div>
                        </div>
                     </div>
                </div>
            <div id="NavBreadcrumbRow">
               <div class="col1 no-vertical-padding wrapped">
                  <div class="colblock no-vertical-margin"> </div>
               </div>
            </div>
         </header>
     
            @RenderBody()

        <footer id="Footer" class="js-footer">
            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterBobPlaceholder_FooterBobPlaceholder">
                <div id="PortalPlaceholder"></div>
            </div>
            <section id="FooterMain">
                <div class="BgBars">
                    <div class="BgBarA">&nbsp;</div>
                    <div class="BgBarB">&nbsp;</div>
                    <div class="BgBarC">&nbsp;</div>
                    <div class="BgBarD">&nbsp;</div>
                </div>
                <div class="FooterMainCol1 col1 no-vertical-padding wrapped">
                    <div class="colblock no-top-margin">
                        <div id="FooterScrollToTopWrapper">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterScrollToTop_FooterScrollToTop">
                                <div id="FooterScrollToTop">
                                    <button class="FooterScrollToTopButton canHover" onclick="scrolToTop()" title="Scroll to top">
                                        <span class="FooterScrollToTopRocket" id="js-FooterScrollToTopAnimate">
                                            <i class="lnr-chevron-up UnibuddyIcon" style="font-size: 40px;"></i>
                                        </span>
                                        <span class="FooterScrollToTopText">Top</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="FooterMainInner">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterAboutUs_FooterAboutUs">
                                <div id="FooterAboutUs">
                                    <strong class="Header">InStudy</strong>
                                    <ul class="List">
                                        <li class="ListItem"> <a href="/About/Index" class="Link" title="About Studyportals" target="_blank" rel="noopener"> About </a> </li>
                                        <li class="ListItem"> <a href="" class="Link" title="Our Marketing Services" target="_blank" rel="noopener"> Arcticles </a> </li>
                                        <li class="ListItem"> <a href="/Country/Index" class="Link" title="Careers" target="_blank" rel="noopener"> Countries </a> </li>
                                        <li class="ListItem"> <a href="/Contact/Index" class="Link" title="Contact us" target="_blank" rel="noopener"> Contact us </a> </li>
                                    </ul>
                                </div>
                            </div>
                            @*<div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterOurPortals_FooterOurPortals">*@
                                @*<nav id="FooterOurPortals">
                                    <strong class="Header">Our websites</strong>
                                    <ul class="List">
                                        <li class="ListItem"> <a href="https://www.bachelorsportal.com/?redirect=false" class="Link" title="Bachelorsportal.com" target="BachelorsPortal" rel="nofollow noopener">Bachelorsportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.mastersportal.com/?redirect=false" class="Link" title="Mastersportal.com" target="MastersPortal" rel="noopener">Mastersportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.phdportal.com/?redirect=false" class="Link" title="PhDportal.com" target="PhDPortal" rel="noopener">PhDportal</a> </li>
                                        <li class="ListItem"> <a href="www_distancelearningportal_default_2.html" class="Link" title="DistanceLearningportal.com" target="DistanceLearningPortal" rel="noopener">DistanceLearningportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.scholarshipportal.com/" class="Link" title="ScholarshipPortal.com" target="ScholarshipPortal" rel="noopener">Scholarshipportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.shortcoursesportal.com/?redirect=false" class="Link" title="ShortCoursesportal.com" target="ShortCoursesPortal" rel="noopener">ShortCoursesportal</a> </li>
                                        <li class="ListItem"> <a href="https://admissiontestportal.com/" class="Link" title="AdmissionTestportal.com" target="AdmissionTestPortal" rel="noopener">AdmissionTestportal</a> </li>
                                        <li class="ListItem"> <a href="https://englishtestportal.com/" class="Link" title="EnglishTestportal.com" target="EnglishTestPortal" rel="noopener">EnglishTestportal</a> </li>
                                        <li class="ListItem"> <a href="https://studentinsuranceportal.com/" class="Link" title="StudentInsuranceportal.com" target="StudentInsuranceportal" rel="nofollow noopener">StudentInsuranceportal</a> </li>
                                    </ul>
                                </nav>*@
                            </div>
                           @* <div>
                                <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterLocalizationButton_FooterLocalizationButton">
                                    <aside id="FooterLocalizationButton"> <strong class="Header">Nationality & currency</strong> <button type="button" class="DriverButton LocalizationPreferencesButton js-showLocalizationPreferences" title="Select your currency and country"> <span class="LocationText js-locationText"></span> <span class="CurrencyText js-currencyText" data-currency-text="Local"></span> </button> </aside>
                                </div>
                                <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterSocialMediaIcons_FooterSocialMediaIcons">
                                    <nav id="FooterSocialMediaIcons">
                                        <strong class="Header">Follow us</strong>
                                        <ul class="List">
                                            <li class="ListItem"> <a href="https://www.facebook.com/Studyportals" class="Link" target="_blank" rel="noopener" title="Like us on Facebook"> <i class="lnr-facebook SocialIcon"></i> </a> </li>
                                            <li class="ListItem"> <a href="https://www.linkedin.com/company/393845" class="Link" target="_blank" rel="noopener" title="Connect to us on LinkedIn"> <i class="lnr-linkedin SocialIcon"></i> </a> </li>
                                            <li class="ListItem"> <a href="https://www.youtube.com/user/studyportals" class="Link" target="_blank" rel="noopener" title="Follow us on YouTube"> <i class="lnr-youtube SocialIcon"></i> </a> </li>
                                            <li class="ListItem"> <a href="https://twitter.com/studyportals" class="Link" target="_blank" rel="noopener" title="Follow us on Twitter"> <i class="lnr-twitter SocialIcon"></i> </a> </li>
                                            <li class="ListItem"> <a href="https://www.instagram.com/studyportals/" class="Link" target="_blank" rel="noopener" title="Follow us on Instagram"> <i class="lnr-instagram SocialIcon"></i> </a> </li>
                                        </ul>
                                    </nav>
                                </div>
                               <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterAddToHomescreen_FooterAddToHomescreen">
                                    <div id="FooterAddToHomescreen"> <button id="AddToHomeScreen" class="DriverButton Link"> Add to home screen </button> </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
             
           </section>
            <section id="FooterBranding">
                <div class="col1 no-vertical-padding wrapped">
                    <div class="colblock FlexBranding">
                        <div class="FooterLogo">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterLogo_FooterLogo"> <img src="~/images/instudy-footer.png" class="SPLogo" alt="Studyportals" width="350" height="160" loading="lazy"> </div>
                        </div>
                        <div class="FooterDisclaimer">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterDisclaimer_FooterDisclaimer">
                                <div id="FooterDisclaimer">
                                    <ul class="LegalList">
                                        <li class="LegalListItem"> <a href="" rel="noopener" class="LegalLink" title="Terms of use" target="_blank">Terms of Use</a> </li>
                                        <li class="LegalListItem"> <a href="" rel="noopener" class="LegalLink" title="Privacy &amp; Cookie statement" target="_blank">Privacy &amp; Cookie statement</a> </li>
                                        <li class="LegalListItem"> <a href="" rel="noopener" class="LegalLink" title="Disclaimer" target="_blank">Disclaimer</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="FooterCopyright">
                <div class="FooterCopyrightCol1 col1 no-vertical-padding wrapped">
                    <div class="FooterCopyrightColBlock colblock">
                        <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterHiring_FooterHiring">
                            <div id="FooterHiring"> <a href="https://studyportals.com/careers/" rel="noopener" class="FooterHiringLink" title="We are hiring!" target="_blank"> <span>Crafted with</span> <i class="lnr-heart"></i> <span>by TooGoo</span> </a> Copyright &copy; 2007&ndash;2022 InStudy </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="Hidden">
                <div data-module="" class="Module StudyPortals_Shared_Modules_LocalizationSettings_LocalizationSettings">
                    <div class="Hidden js-notAvailableTextMain">Unavailable</div>
                    <aside id="LocalizationSettings" class="PopupContent">
                        <span class="SettingsTitle"> <i class="lnr-earth SettingsTitleIcon"></i> Nationality &amp; Currency </span>
                        <div class="ProfileQuestionnaire" data-questionnaire="localization_settings"> </div>
                        <div class="Reason">
                            <p class="ReasonLabel">Why do we ask this?</p>
                            <p class="ReasonExplanation"> If you tell us your nationality, we can show you the visa and tuition information that is most relevant to you.<br /> Also, tell us which currency you'd like to have the fees displayed in. </p>
                        </div>
                    </aside>
                </div>
            </div>
       </footer>
    </div>
    <div id="Internal">
        <div data-module="" class="Module StudyPortals_Shared_Modules_Login_AuthBase StudyPortals_Shared_Modules_Login_Auth">
            <div id="AuthPlaceholder"></div>
            <div class="AuthPlaceholder" id="AuthHeaderPlaceholder" data-layout="Header" data-referrer="Header" data-portal-type="distance_learning"> </div>
            <div class="AuthPlaceholder" data-layout="Main" data-popup="true" data-referrer="FavouriteStudy" data-portal-type="distance_learning"> </div>
        </div>
        <div data-module="" class="Module StudyPortals_Shared_Modules_AutoComplete_AutoCompleteController">
            <script>var defaultSearchParameters = { 'methods': ['blended', 'online'] };</script>
        </div>
        <div data-module="" class="Module StudyPortals_Shared_Modules_CookieWall_CookieWall">
            <aside id="CookieWall" class="Hidden">
                <div class="CookieContainer">
                    <p> By continuing to use our website, you agree to our <a href="https://www.studyportals.com/about/privacy/" title="Privacy and Cookie Policy" target="_blank">Privacy and Cookie Policy</a>. </p>
                    <a id="CookieButton"> <i class="Icon lnr-cross"></i> </a>
                </div>
            </aside>
        </div>
        <div data-module="" class="Module StudyPortals_Shared_Modules_DecisionMakingService_DecisionMakingService">
            <div id="wishlistDrawer">
                <div id="wishlistDrawerContent">
                    <header id="wishlistDrawerHeader">
                        <p id="wishlistDrawerTitle">Wishlist</p>
                        <button class="CloseButton" type="button"> <i class="lnr-cross CloseIcon"></i> </button>
                    </header>
                    <div class="WishlistWrapper">
                        <div id="DecisionMakingServicePlaceholder"></div>
                    </div>
                    <div class="ComparisonToolWrapper Hidden">
                        <button id="backToWishlist" class="NavigatorButton"> Back to wishlist </button>
                        <div id="ComparisonToolPlaceholder"></div>
                    </div>
                    <div class="AuthServiceWrapper Hidden">
                        <div class="AuthPlaceholder" data-incentive="Wishlist" data-portal_type="distance_learning"></div> 
                    </div>
                </div>
            </div>
            <div data-module="" class="Module StudyPortals_Shared_Modules_SlideInElement_SlideInElement StudyPortals_Shared_Modules_SlideInElement_ProfilePageIntroduction_ProfilePageIntroduction">
                <div class="SlideInElementFrame">
                    <div class="js-slideInElement SlideInElement" data-name="ProfilePageIntroduction">
                        <button type="button" name="slidein" class="js-slideInElementCross SlideInElementCross" data-no-generic-tracking="true"> <i class="lnr-cross" data-no-generic-tracking="true"></i> </button>
                        <div class="js-slideInElementContentWrapper SlideInElementContentWrapper">
                            <button class="DriverButton GoToProfilePage">Check recommended programmes <i class="lnr-arrow-right"></i></button>
                            <p>Go to your profile page to get personalised recommendations!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-module="" class="Module StudyPortals_Shared_Modules_ProfileQuestionnaires_ProfileQuestionnaires">
                <div id="ProfileQuestionnairesPlaceholder"></div>
            </div>
        </div>
      </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js" integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/functionality.js" async crossorigin="anonymous"></script>
        <script src="~/js/homepage.js" async crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.4.0.min.js"></script>
        <script src="~/css/scss/slick/slick.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).on('ready', function () {
                $(".vertical-center-4").slick({
                    dots: true,
                    vertical: true,
                    centerMode: true,
                    slidesToShow: 4,
                    slidesToScroll: 2
                });
                $(".vertical-center-3").slick({
                    dots: true,
                    vertical: true,
                    centerMode: true,
                    slidesToShow: 4,
                    slidesToScroll: 4
                });
                $(".vertical-center-2").slick({
                    dots: true,
                    vertical: true,
                    centerMode: true,
                    slidesToShow: 2,
                    slidesToScroll: 2
                });
                $(".vertical-center").slick({
                    dots: true,
                    vertical: true,
                    centerMode: true,
                });
                $(".vertical").slick({
                    dots: true,
                    vertical: true,
                    slidesToShow: 3,
                    slidesToScroll: 3
                });
                $(".regular").slick({
                    dots: true,
                    infinite: true,
                    slidesToShow: 4,
                    slidesToScroll: 3
                });
                $(".center").slick({
                    dots: true,
                    infinite: true,
                    centerMode: true,
                    slidesToShow: 5,
                    slidesToScroll: 3
                });
                $(".variable").slick({
                    dots: true,
                    infinite: true,
                    variableWidth: true
                });
                $(".lazy").slick({
                    lazyLoad: 'ondemand', // ondemand progressive anticipated
                    infinite: true
                });
            });
        </script>
        <script>
            $(document).ready(function () {
	            var curLang = localStorage.getItem('lang');
                var $lang = $('#curLang');
                console.log(curLang);
                if(curLang ==null  || curLang == undefined){
                    localStorage.setItem('lang', 'AZ');

                }
                curLang = localStorage.getItem('lang');
                $lang.html(curLang);


            });
        </script>

        <script>
            function selectMenu(id) {
                console.log(id);
                var body = document.body;
                const searchWrapper = document.getElementById('SearchRowWrapper');
                const li = document.getElementById(id);
                const content = document.getElementById('SectionsContent');
                var isOpen = li.classList.contains('is-open');
                var sectionContent = document.getElementById('exploreContent');
                var studyContent = document.getElementById('goStudyContent');
                console.log(isOpen);
                if (id == 'explore') {

                    if (isOpen == false) {
                        li.classList.add("is-open");
                        body.classList.add("js-HeaderMainMenuOpened");
                        content.classList.add("is-open");
                        sectionContent.classList.add("is-open");
                        studyContent.classList.remove("is-open");
                        document.getElementById('goStudy').classList.remove("is-open");
                        searchWrapper.style.paddingRight = "17px";
                    }
                    else {
                        console.log("dsdsddsd");
                        li.classList.remove("is-open");
                        body.classList.remove("js-HeaderMainMenuOpened");
                        content.classList.remove("is-open");
                        sectionContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "0px"
                    }
                }
                else {
                    if (isOpen == false) {
                        li.classList.add("is-open");
                        body.classList.add("js-HeaderMainMenuOpened");
                        content.classList.add("is-open");
                        studyContent.classList.add("is-open");
                         document.getElementById('explore').classList.remove("is-open");
                        sectionContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "17px"
                    }
                    else {
                        console.log("dsdsddsd");
                        li.classList.remove("is-open");
                        body.classList.remove("js-HeaderMainMenuOpened");
                        content.classList.remove("is-open");
                        studyContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "0px"
                    }
                }
            }
            function scrolToTop() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
            function changeLang() {
                const div = document.getElementById("LoggedInDropDown");
                const lan = document.getElementById("language");
                var isOpen = div.classList.contains("Selected");
                var isO=lan.classList.contains("InView");
                if (isOpen == false && isO==false) {
                    div.classList.add("Selected");
                     lan.classList.add("InView");
                } else {
                    div.classList.remove("Selected");
                    lan.classList.remove("InView");
                }
            }
             function setLang(lang) {
                localStorage.setItem('lang', lang);
                location.reload();
            }
            function openMenu(){

                const content = document.getElementById('SectionsContent');
                var body = document.body;
                 const li = document.getElementById('explore');
                 const li1 = document.getElementById('exploreContent');
                 const li2 = document.getElementById('decideContent');
                 const li3 = document.getElementById('goStudyContent');
                body.classList.add("js-HeaderMainMenuOpened");
                body.style.overflow = "hidden";
                content.classList.add("is-open");
                li.classList.add("is-open");
                li1.classList.add("is-open");
                li1.style.left = "0px";
                li2.style.left = "87px";
                li3.style.left = "171px";

            }
            function closeMenu(){
                const content = document.getElementById('SectionsContent');
                var body = document.body;
                const li = document.getElementById('explore');
                const li1 = document.getElementById('exploreContent');
                const li2 = document.getElementById('decideContent');
                const li3 = document.getElementById('goStudyContent');
                body.classList.remove("js-HeaderMainMenuOpened");
                body.style.overflow = "null";
                content.classList.remove("is-open");
                li.classList.remove("is-open");
                li1.classList.remove("is-open");
                document.getElementById('goStudy').classList.remove("is-open");
                li1.style.left = "0px";
                li2.style.left = "87px";
                li3.style.left = "171px";
            }
        </script>
        @RenderSection("Scripts",false)
</body>
</html>