	@{
    ViewData["Title"] = "Blog Detail";
}

   <div id="Wrapper" class="ArticleWrapper">
            <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Header_Header">
                <div class="ArticleHeroImage">
            <div class="HeroImageContainer">
                <span class="HeroImage" id="articleImage">
                           
                        </span> </div>

                    <header id="ArticleHeader">
                       
                    </header>
                </div>
            </div>
            <div id="BreadcrumbRow">
                <div class="col1 no-vertical-padding wrapped">
                    <div class="BreadcrumbContainer colblock no-vertical-margin">
                        <div data-module="" class="Module StudyPortals_Shared_Modules_LinkTrailRR_LinkTrailRR">
                            <nav id="LinkTrail">
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <aside id="ArticleTestProviders" class="col1 wrapped no-bottom-padding">
                <div class="colblock no-vertical-margin">
                    <div data-module=""
                        class="Module StudyPortals_Shared_Modules_Article_ArticleIELTSBanner_ArticleIELTSBanner"> </div>
                </div>
            </aside>
            <section id="MainInfoContainer" class="col2-left wrapped">
                <div class="colblock">
                    <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Details_Details">
                        <article id="Article">
                            <div id="ArticleBody">
                                
                                <div class="MediaGalleryPlaceholder"></div>
                            </div>
                        </article>
                    </div>
                    
                   
                    @*<div data-module=""
                        class="Module StudyPortals_Shared_Modules_Article_RelatedArticles_RelatedArticles">
                        <aside id="RelatedArticlesContainer">
                            <h3 class="RelatedTitle">Keep reading</h3>
                            <div id="RelatedArticles">
                                <figure class="RelatedArticle"> <a class="ArticleAnchor"
                                        href="https://www.distancelearningportal.com/articles/2589/what-documents-do-you-need-to-apply-for-a-university-abroad.html"
                                        target="_blank"
                                        title="What Documents Do You Need to Apply for a University Abroad?">
                                        <div class="ArticleImageContainer"> <img class="ArticleImage"
                                                src="https://studyportals-cdn2.imgix.net/5ae7230c5fc68?h=180&amp;w=263.33333333333&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=40"
                                                alt="What Documents Do You Need to Apply for a University Abroad?"
                                                loading="lazy" width="263" height="180"> </div>
                                        <div class="ArticleName"> <span class="ArticleNameHolder">What Documents Do You
                                                Need to Apply for a University Abroad?</span> </div>
                                    </a> </figure>
                                <figure class="RelatedArticle"> <a class="ArticleAnchor"
                                        href="https://www.distancelearningportal.com/articles/2623/5-tips-for-a-great-recommendation-letter-for-masters-application.html"
                                        target="_blank"
                                        title="5 Tips for a Great Recommendation Letter for Master’s Application">
                                        <div class="ArticleImageContainer"> <img class="ArticleImage"
                                                src="https://studyportals-cdn2.imgix.net/5bd88d1b5a018?h=180&amp;w=263.33333333333&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=40"
                                                alt="5 Tips for a Great Recommendation Letter for Master’s Application"
                                                loading="lazy" width="263" height="180"> </div>
                                        <div class="ArticleName"> <span class="ArticleNameHolder">5 Tips for a Great
                                                Recommendation Letter for Master’s Application</span> </div>
                                    </a> </figure>
                                <figure class="RelatedArticle"> <a class="ArticleAnchor"
                                        href="https://www.distancelearningportal.com/articles/2674/11-mistakes-to-avoid-when-applying-to-a-university-according-to-an-application-expert.html"
                                        target="_blank"
                                        title="11 Mistakes to Avoid When Applying to a University, According to an Application Expert">
                                        <div class="ArticleImageContainer"> <img class="ArticleImage"
                                                src="https://studyportals-cdn2.imgix.net/5e5d1485e5559?h=180&amp;w=263.33333333333&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=40"
                                                alt="11 Mistakes to Avoid When Applying to a University, According to an Application Expert"
                                                loading="lazy" width="263" height="180"> </div>
                                        <div class="ArticleName"> <span class="ArticleNameHolder">11 Mistakes to Avoid
                                                When Applying to a University, According to an Application Expert</span>
                                        </div>
                                    </a> </figure>
                            </div>
                        </aside>
                    </div>*@
                    
                    
                </div>
              
            </section>
        </div>
        <!--~~./ End Latest News Block ~~-->
    @section Scripts{
        <script src="~/js/blog-detail.js"></script>
    }