@section Css{
    <style>
        #galactus{
            background-color:#EDF3F6;
        }
    </style>
}

<div class="forlang">
<section class="col2-left wrapped">
   <div class="colblock">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Overview_Overview">
         <article id="ArticleOverview" data-url="/Blog/Index" data-tags="mastersportal" data-type="General" data-topics="1|Start studying abroad||2|Where to study||3|Decide what to study||4|Choose a university||6|After you get accepted||7|Costs and funding||9|Student experiences||10|How to apply to a university">
            <h1 id="ArticleOverviewTitle"></h1>
            <h2 id="FeaturedArticlesHeader"></h2>
            <div id="FeaturedArticles" class="ArticleSection">
               
              
            </div>

         </article>
      </div>
      
   </div>
   <div class="colblock ModuleDivider">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Topics_Topics">
         <aside id="ArticleTopics">
            <h3>Article Topics</h3>
            <ul id="topics">
               
            </ul>
         </aside>
      </div>
      <div data-module="" class="Module StudyPortals_Shared_Modules_RelatedEntities_RelatedEntities EmptyModule"> </div>
     
     
     
     
   </div>
</section>

</div>
  @section Scripts{
    <script src="~/js/blog.js" defer></script>

  }