
        <main class="mainWrapper">
            <section class="blog-section">
                <div class="opacity-div"></div>
                <section class="blog-content pt-100">
                    <div class="container">
                        <div class="title-blog-div text-center">
                            <h4 class="title">Blog</h4>
                            <h1 class="description">Yurtdışında eğitim ve yaşam ile ilgili güncel haberleri Endless Abroad Blog&#039;da okuyabilirsiniz.</h1>
                        </div>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                               <ol class="carousel-indicators">
                                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                                                            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                                                            <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
                               </ol>
                                <div id="blogCarousel" class="carousel-inner">
                               
                            </div>
                        </div>
                    </div>
                </section>
                <section class="blog-list">
                    <div class="container">
   <div class="search pt-50">
      <div class="vue-app vue-app-7">
         <div data-v-66be1deb="">
            
            <div  class="card-div">
              
         
            </div>
            <div  class="event-btn-div text-center pt-100">
              @* <button data-v-66be1deb="" class="btn-border-blue page">
                  <!---->
                  Daha Fazla
               </button>*@
            </div>
         </div>
      </div>
   </div>
</div>
                      
                </section>






            </section>
        </main>
  @section Scripts{
    <script src="~/js/blog.js" defer></script>

  }