<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Add Country</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Country</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12">
                    <form id="form" class="card">
                        <div class="card-header">
                            <div class="card-title">Add Country</div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Az Name :</label>
                                <div class="col-md-9">
                                    <input type="text" id="azHeader" class="form-control" placeholder="Title Name">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Ru Name :</label>
                                <div class="col-md-9">
                                    <input type="text" id="ruHeader" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">En Name :</label>
                                <div class="col-md-9">
                                    <input type="text" id="enHeader" class="form-control">
                                </div>
                            </div>

                            <!-- Row -->

                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Students Count:</label>
                                <div class="col-md-9">
                                    <input type="number" id="CurrentStudents" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Population:</label>
                                <div class="col-md-9">
                                    <input type="number" id="Population" class="form-control">
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Country File Upload :</label>
                                <div class="col-md-9">
                                    <input id="files" type="file" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" name="files" accept=".jpg, .png, image/jpeg, image/png">
                                    <img id="output" src="" width="100" height="100">
                                </div>
                            </div>
                           
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Study(Az):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content7" id="StudyAz" name="Study"></textarea>
                                </div>
                            </div> 
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Study(Ru):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content8" id="StudyRu" name="Study"></textarea>
                                </div>
                            </div>  
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Study(En):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content9" id="StudyEn" name="Study"></textarea>
                                </div>
                            </div> 
                            <div class="row">          
                                <label class="col-md-3 form-label mb-4">Living(Az):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content10" id="LivingAz" name="Living"></textarea>
                                </div>
                            </div>
                            <div class="row">          
                                <label class="col-md-3 form-label mb-4">Living(En):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content11" id="LivingEn" name="Living"></textarea>
                                </div>
                            </div> 
                            <div class="row">          
                                <label class="col-md-3 form-label mb-4">Living(Ru):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content12" id="LivingRu" name="Living"></textarea>
                                </div>
                            </div> 
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">About(Az):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content13" id="AboutAz" name="About"></textarea>
                                </div>
                            </div>  
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">About(Ru):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content14" id="AboutRu" name="About"></textarea>
                                </div>
                            </div>  <div class="row">
                                <label class="col-md-3 form-label mb-4">About(En):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content15" id="AboutEn" name="About"></textarea>
                                </div>
                            </div> 
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Student Visa(Az):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content16" id="StudentVisaAz" name="StudentVisa"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Student Visa(En):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content17" id="StudentVisaEn" name="StudentVisa"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Student Visa(Ru):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content18" id="StudentVisaRu" name="StudentVisa"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Documents(AZ):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content4" id="WorkPermitAz" name="WorkPermit"></textarea>
                                </div>
                            </div> 
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Documents(Ru):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content20" id="WorkPermitRu" name="WorkPermit"></textarea>
                                </div>
                            </div>  
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Documents(En):</label>
                                <div class="col-md-9 mb-4">
                                    <textarea class="content21" id="WorkPermitEn" name="WorkPermit"></textarea>
                                </div>
                            </div>
                           
                            <!--End Row-->
                        </div>
                        <div class="card-footer">
                            <!--Row-->
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <a href="javascript:void(0)" id="addCountry" class="btn btn-primary">Add Country</a>
                                </div>
                            </div>
                            <!--End Row-->
                        </div>
                    </form>
                </div>
            </div>
            <!-- /ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
@section Scripts{
    <script src="~/AdminFiles/js/country.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on('change', '#azHeader', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#enHeader', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#ruHeader', function () {
                debugger;
                $("#form").data("changed", true);
            });
          
            $(document).on('change', '#CurrentStudents', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#Population', function () {
                debugger;
                $("#form").data("changed", true);
            });
           $(document).on('change', '#files', function () {
                debugger;
                $("#form").data("changed", true);
            });
        var isClicked = false;
        $('#addCountry').on('click', function (evt) {
            debugger;
            isClicked = true;
        });
        debugger;

        window.addEventListener("beforeunload", function (e) {
            var confirmationMessage = 'It looks like you have been editing something. '
                + 'If you leave before saving, your changes will be lost.';
                if ($('#StudyAz').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#StudyEn').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#StudyRu').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#LivingEn').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#LivingAz').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#LivingRu').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#AboutAz').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#AboutEn').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#AboutRu').val() != '') {
                    $("#form").data("changed", true);
                }
                if ($('#WorkPermitEn').val() != '') {
                    $("#form").data("changed", true);
                } if ($('#WorkPermitAz').val() != '') {
                    $("#form").data("changed", true);
                } if ($('#WorkPermitRu').val() != '') {
                    $("#form").data("changed", true);
                }
            
            debugger;
            if ($("#form").data("changed") && isClicked == false) {
                (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                return confirmationMessage;

            }

            //Gecko + Webkit, Safari, Chrome etc.
        });
        });






    </script>
}